include ../../mixin/icon.pug

.b-expert__slider(data-type="expert").expert-slider.js-slider.js-expert
    .b-expert__slide
        .b-expert__item
            .b-expert__img.b-expert__img--desktop.desktop-only
                img(src="./images/experts/expert.png")
            .b-expert__img.b-expert__img--mobile.mobile-only
                img(src="./images/experts/expert-mobile.png")
        .b-expert__item.b-expert__item--text
            .b-expert__name 
                span Завтра’к Шефович
            .b-expert__desc Повар — человек, профессией — специальностью которого является приготовление пищи; а также должность в разных организациях, например, старший повар, повар-кондитер и так далее. 
                <br/><br/>
                | Скорее всего, слово «повар» произошло от восточнославянского «вар», означавшего кипящую воду и жар[1]. На флоте должность повара называется кок.
            a(href="#").b-expert__link БОЛЬШЕ ИНФОРМАЦИИ ОБ ЭКСПЕРТЕ
                +icon('arrow-link')
    
    .b-expert__slide
        .b-expert__item
            .b-expert__img.b-expert__img--desktop.desktop-only
                img(src="./images/experts/expert.png")
            .b-expert__img.b-expert__img--mobile.mobile-only
                img(src="./images/experts/expert-mobile.png")
        .b-expert__item.b-expert__item--text
            .b-expert__name 
                span Завтра’к Шефович 2
            .b-expert__desc Повар — человек, профессией — специальностью которого является приготовление пищи; а также должность в разных организациях, например, старший повар, повар-кондитер и так далее.
            a(href="#").b-expert__link БОЛЬШЕ ИНФОРМАЦИИ ОБ ЭКСПЕРТЕ
                +icon('arrow-link')
    .b-expert__slide
        .b-expert__item
            .b-expert__img.b-expert__img--desktop.desktop-only
                img(src="./images/experts/expert.png")
            .b-expert__img.b-expert__img--mobile.mobile-only
                img(src="./images/experts/expert-mobile.png")
        .b-expert__item.b-expert__item--text
            .b-expert__name 
                span Завтра’к Шефович 3
            .b-expert__desc Повар — человек, профессией — специальностью которого является приготовление пищи; а также должность в разных организациях, например, старший повар, повар-кондитер и так далее.
            a(href="#").b-expert__link БОЛЬШЕ ИНФОРМАЦИИ ОБ ЭКСПЕРТЕ
                +icon('arrow-link')
    .b-expert__slide
        .b-expert__item
            .b-expert__img.b-expert__img--desktop.desktop-only
                img(src="./images/experts/expert.png")
            .b-expert__img.b-expert__img--mobile.mobile-only
                img(src="./images/experts/expert-mobile.png")
        .b-expert__item.b-expert__item--text
            .b-expert__name 
                span Завтра’к Шефович 4
            .b-expert__desc Повар — человек, профессией — специальностью которого является приготовление пищи; а также должность в разных организациях, например, старший повар, повар-кондитер и так далее.
            a(href="#").b-expert__link БОЛЬШЕ ИНФОРМАЦИИ ОБ ЭКСПЕРТЕ
                +icon('arrow-link')
    .b-expert__slide
        .b-expert__item
            .b-expert__img.b-expert__img--desktop.desktop-only
                img(src="./images/experts/expert.png")
            .b-expert__img.b-expert__img--mobile.mobile-only
                img(src="./images/experts/expert-mobile.png")
        .b-expert__item.b-expert__item--text
            .b-expert__name 
                span Завтра’к Шефович 5
            .b-expert__desc Повар — человек, профессией — специальностью которого является приготовление пищи; а также должность в разных организациях, например, старший повар, повар-кондитер и так далее.
            a(href="#").b-expert__link БОЛЬШЕ ИНФОРМАЦИИ ОБ ЭКСПЕРТЕ
                +icon('arrow-link')
    .b-expert__slide
        .b-expert__item
            .b-expert__img.b-expert__img--desktop.desktop-only
                img(src="./images/experts/expert.png")
            .b-expert__img.b-expert__img--mobile.mobile-only
                img(src="./images/experts/expert-mobile.png")
        .b-expert__item.b-expert__item--text
            .b-expert__name 
                span Завтра’к Шефович
            .b-expert__desc Повар — человек, профессией — специальностью которого является приготовление пищи; а также должность в разных организациях, например, старший повар, повар-кондитер и так далее.
            a(href="#").b-expert__link БОЛЬШЕ ИНФОРМАЦИИ ОБ ЭКСПЕРТЕ
                +icon('arrow-link')
                
.b-expert__slider-controls
    .b-expert__controls.js-permutation-controls
        .b-expert__prev.js-slider-prev
            +icon('prev-page')
        .b-expert__next.js-slider-next
            +icon('next-page')
    a(href="#become_expert" data-type="form").b-btn.b-expert__btn.b-expert__btn--become.js-popup Стать экспертом

.b-expert__all.expert-slider.js-slider-sync.js-experts
    .b-expert__dot
        img(src="./images/experts/expert-mobile.png")
    .b-expert__dot
        img(src="./images/experts/expert-mobile.png")
    .b-expert__dot
        img(src="./images/experts/expert-mobile.png")
    .b-expert__dot
        img(src="./images/experts/expert-mobile.png")
    .b-expert__dot
        img(src="./images/experts/expert-mobile.png")
    .b-expert__dot
        img(src="./images/experts/expert-mobile.png")