$gradient-color: #ffffff;

.b-areas {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 20px;

    @media #{$medium-up} {
        overflow: inherit;
        margin-bottom: 0;
    }

    @media #{$big-up} {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: none;
        overflow: inherit;
    }
    
    &.is-scroll-end {
        &:after {
            opacity: 0;
        }
    }

    &:after {
        @include transition(opacity);
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 50px;
        background: linear-gradient(to bottom, rgba($gradient-color, 0) 0%, $gradient-color 100%);

        @media #{$medium-up} {
            display: none;
        }
    }

    &__title {
        display: none;
        color: $red;
        font-size: 48px;
        line-height: 40px;
        font-weight: 400;
        letter-spacing: 14px;
        text-transform: uppercase;

        @media #{$big-up} {
            display: block;
            white-space: nowrap;
        }

        @media #{$xlarge-up} {
            margin-left: 50px;
        }
        
        @media #{$xxlarge-up} {
            margin-left: 150px;
        }
    }

    &__subtitle {
        font-size: 22px;
        color: $title-color;
        font-weight: 700;
        margin: 20px 0;
        line-height: 26px;

        @media #{$big-up} {
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 40px;
            margin-right: auto;
        }
        
        span {
            color: $red;
        }
    }

    &__center {
        @media #{$big-up} {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        
            @media #{$xlarge-up} {
                padding: 0 50px;
            }
        
            @media #{$xxlarge-up} {
                padding: 0 150px;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media #{$big-up} {
            justify-content: start;
        }
    }

    &__inner {
        display: inline;

        @media #{$big-up} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        @media #{$large-up} {
            justify-content: space-between;
        }
        
    }

    &__item {
        display: inline-block;
        vertical-align: top;
        width: 80px;
        height: 110px;
        margin-bottom: 20px;
        color: $font-color;
        text-decoration: none;
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;

        @media #{$xsmall-up} {
            margin-right: 10px;
        }

        @media #{$medium-up} {
            margin-right: 0;
        }

        @media #{$big-up} {
            width: calc(100% / 6);
            height: 130px;
        }

        @media #{$large-up} {
            height: 140px;
        }

        @media #{$xlarge-up} {
            height: 170px;
            font-size: 12px;
            line-height: 14px;
        }

        @media #{$xxlarge-up} {
            height: 200px;
            font-size: 14px;
            line-height: 18px;
        }

        &:active,
        &:hover {
            .b-areas__icon {
                background-image: url(../images/area-bg-active.svg);
                fill: $red;
            }
        }

        span {
            display: block;
        }
    }

    &__icon {
        @include transition(all);
        width: 70px;
        height: 70px;
        min-height: 70px;
        margin-bottom: 5px;
        padding: 5px;
        background-image: url(../images/area-bg.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        fill: #9e9e9e;

        @media #{$big-up} {
            width: 90px;
            height: 90px;
        }

        @media #{$large-up} { 
            width: 100px;
            height: 100px;
            padding: 10px;
        }

        @media #{$xlarge-up} {
            width: 120px;
            height: 120px;
            padding: 15px;
            margin-bottom: 10px;
        }

        @media #{$xxlarge-up} {
            width: 150px;
            height: 150px;
            padding: 20px;
        }
    }

    &__btn {
        max-width: 200px;

        @media #{$large-up} {
            margin-left: auto;
            margin-right: 0;
        }
    }
}