$bg-icon: #eeeeee;
$tooltip-bg: #e6eaed;
$bg-partner: #f1f1f1;

.b-area {
    display: flex;

    @media #{$xxlarge-up} {
        padding: 0 100px;
    }
    
    &__item {
        position: relative;

        &:last-child {
            @media #{$big-up} {
                width: 100%;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        margin-right: 20px;
        padding: 5px;
        border-radius: 10px;
        background-color: $bg-icon;

        @media #{$medium-up} {
            position: static;
        }
    }

    &__desc {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $red;

        &:first-of-type {
            padding-left: 100px;

            @media #{$medium-up} {
                padding-left: 0;
            }
        }
    }

    &__list {
        margin-bottom: 20px;
        
        li {
            line-height: 22px;

            @media #{$big-up} {
                line-height: 32px;
            }
        }
    }

    &__txt {
        display: inline-block;
        @include transition(color);
        position: relative;
        margin-right: 5px;
        color: $font-color;
        text-decoration: none;
        font-weight: 500;
        line-height: 16px;

        @media #{$big-up} {
            &:hover {
                color: $dark-gray;

                .b-area__tooltip {
                    display: block;
                }
            }
        }
    }

    
    &__tooltip {
        display: none;
        padding: 25px 10px;
        position: absolute;
        top: 10px;
        left: -105px;
        z-index: 10;
    }

    &__tooltip-wrapper {
        padding: 20px 10px;
        width: 400px;
        border-radius: 6px;
        background-color: $tooltip-bg;
        
        &:before {
            content: '';
            width: 25px;
            height: 25px;
            border-radius: 2px;
            background-color: $tooltip-bg;
            position: absolute;
            top: 14px;
            left: 30%;
            transform: rotate(45deg);
        }
    }

    &__tooltip-inner {
        position: relative;
        padding-left: 70px;
    }

    &__tooltip-img {
        position: absolute;
        top: -50px;
        left: -65px;

        img {            
            max-width: 125px;
        }
    }

    &__tooltip-txt {
        color: $font-color;
        max-height: 145px;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 20px;
            background: linear-gradient(to bottom, rgba($tooltip-bg, 0) 0%, $tooltip-bg 100%);
        }
    }

    &__tooltip-title {
        display: inline-block;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $black;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;        
    }

    &__tooltip-desc {
        font-size: 12px;
        font-weight: 400;        
    }

    &__partners {
        margin-bottom: 20px;

        .b-partners__logo {
            background-color: $bg-partner;
        }

        .b-partners__item {
            margin-bottom: 0;

            @media #{$big-up} {
                width: calc(100% / 8);
            }
        }
    }
    
    &__btn {
        @media #{$medium-up} {
            float: right;
            width: 250px;
        }

        .b-icon {
            width: 70px;

            @media #{$large-up} {
                width: 95px;
            }
        }
    }
}

//STATE
.b-area__txt--big {
    font-size: 16px;
}