$tag-font: #5d5d5e;

.b-area-404 {
    @media #{$xxlarge-up} {
        padding: 0 100px;
    }

    &__img {
        height: 150px;
        margin-bottom: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @media #{$medium-up} {
            height: 250px;
            margin-bottom: 40px;
        }

        @media #{$large-up} {
            height: 450px;
            margin-bottom: 60px;
        }
    }

    &__txt {
        margin-bottom: 20px;

        @media #{$medium-up} {
            margin-bottom: 45px;
        }

        @media #{$large-up} {
            margin-bottom: 65px;
        }
    }

    &__title {
        display: inline-block;
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-bottom: 1px solid $red;
        text-transform: uppercase;
        line-height: 16px;
        font-weight: 400;
    }

    &__tag {
        margin-bottom: 5px;
        color: $tag-font;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;

        @media #{$medium-up} {
            font-size: 24px;
            line-height: 26px;
        }

        @media #{$large-up} {
            font-size: 36px;
            line-height: 42px;
        }
    }

    &__btn {
        padding: 20px 15px;
        margin-right: -30px;
        background-color: $red;
        color: $white;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 16px; 

        @media #{$medium-up} {
            margin-left: 30%;
            margin-right: -80px;
        }  

        @media #{$large-up} {
            margin-left: 45%;
            margin-right: -255px;
            font-size: 18px;
        }  
        
        @media #{$xxlarge-up} {
            margin-left: 60%;
            margin-right: -455px;
        }   
    }
}