$bg-hover: #a2a2a2;
$bg-active: #d8d8d8;
$txt-hover: #474747;

.b-btn {
    @include transition(background-color, border-color);
    display: block;
    padding: 15px 10px;
    border: none;
    box-shadow: none;
    background-color: $red;
    border: 1px solid $red;
    border-radius: 6px;
    color: $white;
    font-family: $font-base;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    outline: none;
    cursor: pointer;

    &:active,
    &:focus {
        background-color: $white;
        color: $red;
    }

    @media #{$big-up} {
        font-size: 14px;
        line-height: 18px;
        
        &:hover {
            background-color: $white;
            color: $red;

            .b-icon {
                fill: $red;
            }
        }
    }
}

//STATE
.b-btn--small {
    @media #{$large-up} {
        padding: 10px 15px;
        font-size: 10px;
    }
}

.b-btn--icon {
    @include transition(background-color, border-color, width, height);
    position: relative;
    display: block;
    padding: 5px 10px;
    border-radius: 6px;
    text-decoration: none;
    outline: none;
    font-size: 12px;

    &:active,
    &:focus {
        background-color: $bg-active;
        border-color: $bg-active;
        color: $txt-hover;
    }

    @media #{$medium-up} {
        padding: 0;
        margin: 0 auto;
        margin-top: auto;
        width: 120px;
        height: 120px;
    }
    
    @media #{$big-up} {
        font-size: 14px;
        padding: 0;
        width: 130px;
        height: 130px;

        &:hover {
            background-color: $bg-hover;
            border-color: $bg-hover;
            color: $txt-hover;

            .b-icon {
                fill: $red;
            }
        }
    }
    
    @media #{$xlarge-up} {
        width: 140px;
        height: 140px;
    }

    @media #{$xxlarge-up} {
        width: 150px;
        height: 150px;
    }

    .b-icon {
        fill: $white;
        width: 40px;
        height: 40px;
        margin-right: 10px;

        @media #{$medium-up} {
            position: absolute;
            width: 100%;
            height: 40%;
            top: 10px;
            left: 0;
            right: 0;
            margin-right: 0;
        }
          
        @media #{$medium-up} {   
            height: 45%;
            top: 15px;
        }
    }

    span {     
        @media #{$medium-up} {   
            position: absolute;
            left: 50%;
            bottom: 10%;
            transform: translate(-50%, 0);
        }
    }
}

.b-btn--download {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;

    @media #{$medium-up} {
        margin-right: auto;
    }
    
    @media #{$large-up} {
        padding: 10px 20px;
    }

    &:active,
    &:focus {
        background-color: $bg-active;
        border-color: $bg-active;
        color: $txt-hover;

        .b-icon {
            fill: $red;
        }
    }

    .b-icon {
        fill: $white;
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }

    span {        
        text-align: left;
    }
}

.b-btn--center {
    margin: 0 auto;
}