$light-gray: #9e9e9e;
$dark-gray: #444444;

.b-city-timeline {
    position: relative;
    margin-bottom: 20px;

    &__icon {
        fill: $red;
        width: 100%;
        height: 100%;
        max-height: 50px;
    }

    &__wrapper {
        margin-bottom: 20px;
        
        @media #{$big-up} {
            max-width: 50%;
        }
    }

    &__group {
        &:last-child {
            .b-city-timeline__item:last-child {
                &:after {
                    height: 100%;
                }
            }
        }
    }

    &__item {
        position: relative;
        padding-bottom: 10px;
        padding-left: 20px;
        color: $light-gray;
        font-weight: 400;
        cursor: pointer;

        @media #{$big-up} {
            padding-left: 0;
            padding-right: 20px;
            padding-bottom: 15px;
            text-align: right;
        }

        &:after {
            content: '';
            display: block;
            width: 3px;
            height: calc(100% + 20px);
            position: absolute;
            top: 0;
            left: 0;
            background-color: $light-gray;
            
            @media #{$big-up} {
                height: calc(100% + 25px);
                left: auto;
                right: 0;
            }
        }

        &.is-next {
            color: $dark-gray;

            &:after {
                background-color: $red;
            }
        }

        &.is-closest {
            &:before {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                left: -4px;
                top: 0;
                background-color: $red;
                border-radius: 100%;
            
                @media #{$big-up} {
                    left: auto;
                    right: -4px;
                }
            }
        }

        &.is-active {
            color: $red;
            font-weight: 500;
        }
    }

    &__link {
        @include transition(opacity);
        text-transform: uppercase;
        font-size: 12px;

        @media #{$big-up} {
            font-size: 14px;
            line-height: 14px;

            &:hover {
                opacity: .5;
            }
        }

        span {
            font-weight: 500;
        }
    }

    &__info {
        display: none;
        padding: 20px;
        position: absolute;
        top: 30px;
        left: 20px;
        background-color: $white;
        border-radius: 10px;
        z-index: 20;
        border: 1px solid $red;
        max-width: 300px;

        @media #{$big-up} {
            top: -20px;
            left: auto;
            right: -285px;
        }

        &.is-active {
            display: block;
        }

        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: -11px;
            left: 20px;
            transform: rotate(45deg);
            background-color: $white;
            border-radius: 3px 0;
            border: 1px solid $red;
            border-right: none;
            border-bottom: none;

            @media #{$big-up} {
                top: 14px;
                left: -11px;
                transform: rotate(-45deg);
            }
        }
    }

    &__info-title {
        color: $light-gray;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
    }

    &__info-icon {
        max-width: 200px;
        max-height: 50px;
        margin-bottom: 15px;
    }

    &__info-btn {
        max-width: 200px;
        margin: 0 auto;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        @media #{$big-up} {
            max-width: 220px;
        }
    }

    &__img {
        position: absolute;
        bottom: 20px;
        right: 0;
        width: 60%;
        height: 250px;
        background-image: url(../images/chef.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
        z-index: -1;
        opacity: 0.4;

        @media #{$big-up} {
            width: 50%;
            height: 90%;
            background-position: 20px bottom;
            opacity: 1;
        }
    }

    &__line {
        padding: 10px 25px;
        background-color: $red;
        color: $white;
        line-height: 16px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;

        @media #{$big-up} {
            margin-left: 50%;
            margin-right: -80px;
            text-align: left;
            font-size: 16px;
        }

        @media #{$large-up} {
            padding: 15px 25px;
            margin-right: -205px;
            font-size: 18px;
        }

        @media #{$xlarge-up} {
            margin-right: -255px;
        }

        @media #{$xxlarge-up} {
            margin-right: -305px;
        }
    }
}