$gradient-color: #ffffff;

.b-expert {
    position: relative;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;

    @media #{$medium-up} {
        overflow: inherit;
    }

    @media #{$big-up} {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
    }

    @media #{$xxlarge-up} {
        padding: 0 150px;
    }

    &__title {
        display: none;
        color: $red;
        font-size: 48px;
        line-height: 40px;
        font-weight: 400;
        letter-spacing: 14px;
        text-transform: uppercase;

        @media #{$big-up} {
            display: block;
            white-space: nowrap;
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
        }
    }

    &.is-scroll-end {
        &:after {
            opacity: 0;
        }
    }

    &:after {
        display: none;
        @include transition(opacity);
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(to bottom, rgba($gradient-color, 0) 0%, $gradient-color 100%);

        @media #{$medium-up} {
            display: none;
        }
    }

    &__item {
        width: 100%;

        @media #{$big-up} {
            width: 50%;
        }
    }

    &__name { 
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
        height: 50px;
        font-size: 22px;
        line-height: 23px;
        color: $title-color;
        font-weight: 700;
        text-align: center;

        @media #{$medium-up} {
            margin: 25px 0;
        }

        @media #{$big-up} {
            justify-content: flex-start;
            margin: 20px 0;
            font-size: 30px;
            line-height: 28px;
            font-weight: 400;
            text-align: left;
        }

        @media #{$xxlarge-up} {
            margin: 45px 0 20px;
        }

        span {            
            max-width: 50%;

            @media #{$big-up} {
                max-width: none;
            }
        }
    }

    &__desc {
        position: relative;
        height: 150px;
        overflow: hidden;
        margin-bottom: 10px;
        font-size: 12px;

        &:after {                
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 50px;
            background: linear-gradient(to bottom, rgba($gradient-color, 0) 0%, $gradient-color 100%);
        }

        @media #{$xsmall-up} {
            font-size: 14px;
        }

        @media #{$medium-up + $height-700-up} {
            height: 150px;
            margin-bottom: 25px;
            line-height: 20px;
        }

        @media #{$medium-up + $height-800-up} {
            height: 200px;
        }
    }

    &__txt {
        margin-bottom: 20px;
        line-height: 20px;
    }

    &__link {
        color: $red;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 18px;

        @media #{$big-up} {
            &:hover {
                text-decoration: underline;

                .b-icon {
                    fill: $red;
                }
            }
        }

        @media #{$big-up} {
            display: flex;
            align-items: center;
        }

        .b-icon {            
            margin-left: 10px;
        }
    }

    &__slider {
        @media #{$big-up} {
            padding-top: 20px;
        }
    }

    &__slide {
        outline: none;
        height: auto;

        @media #{$big-up} {
            display: flex !important;
        }
    }

    &__slider-controls {
        position: relative;
        margin-top: 20px;
        margin-bottom: 10px;

        @media #{$big-up} {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            margin-left: auto;
            z-index: 10;
            margin-bottom: 0;
        }

        @media #{$large-up} {
            margin-top: 0;
        }
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        height: 255px;
        width: 100%;
        z-index: 10;

        @media #{$medium-up} {
            height: 320px;
        }

        @media #{$big-up} {
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
            width: 185px;
            height: auto;
            z-index: -1;
        }
    }

    &__next,
    &__prev {
        @include transition(opacity);
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: .5;
        cursor: pointer;

        @media #{$big-up} {
            position: static;
            
            &:hover {
                opacity: 1;
            }
        }
    }

    &__next {
        left: auto;
        right: 0;
    }

    &__btn {
        display: inline-block;
        font-size: 14px;
        text-transform: none;

        @media #{$big-up} {
            font-size: 16px;
            line-height: 16px;
            text-align: center;
        }

        @media #{$xxlarge-up} {
            font-size: 18px;
        }
    }

    &__all {
        display: none;
        margin: 20px 0 0px;

        @media #{$large-up} {
            display: block;
        }
        
        @media #{$xlarge-up} {
            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: -5px;
                width: 55px;
                height: 100%;
                background-color: $white;
                z-index: 10;
            }
            
            &:after {
                left: auto;
                right: -5px;
                z-index: 0;
            
            }
        }
    }

    &__dot {
        @include transition(all);
        max-height: 25%; 
        filter: grayscale(.9);
        cursor: pointer;
        text-align: center;
        outline: none;

        @media #{$big-up} {
            &:not(.slick-current):hover {
                filter: grayscale(0);
                transform: scale(1.2);
            }
        }

        &.slick-current {
            filter: grayscale(0);
            transform: scale(1.2);
        }

        img {
            display: inline-block;
            max-width: 100px;

            @media #{$xxlarge-up} {
                max-width: 125px;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;

        @media #{$medium-up} {
            justify-content: start;
        }
    }
}

//STATE
.b-expert--all {
    overflow: inherit;
    height: auto;

    &:after {
        display: none;
    }

    @media #{$xlarge-up} {
        height: auto;
    }

    @media #{$xxlarge-up} {
        padding: 0 50px;
    }

    .b-expert__dot {
        width: calc(100% / 2);
        min-height: 200px;
        margin-bottom: 20px;
        text-decoration: none;
        color: $font-color;

        @media #{$medium-up} {
            margin-right: 0;
            width: calc(100% / 5);
        }

        @media #{$big-up} {
            width: calc(100% / 6);
        }

        span {
            display: block;
            margin-top: 10px;
        }
    }

    .b-expert__btn {
        @media #{$medium-up} {
            float: right;
            margin-left: auto;
        }

        @media #{$big-up} {
            position: relative;
        }
    }
}

.b-expert--only {
    height: auto;

    @media #{$big-up} {
        height: auto;
    }

    @media #{$xlarge-up} {
        height: auto;
    }

    .b-expert__img {
        margin-bottom: 20px;
    }

    .b-btn--download {
        margin: auto;
        margin-bottom: 20px;
        max-width: 450px;
    }
}

.b-expert__btn--become {
    max-width: 260px;
}

.b-expert__btn--all {
    max-width: 180px;
    z-index: 10;

    @media #{$big-up} {
        margin-top: 60px;
    }

    @media #{$large-up + $height-600-up} {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.b-expert__img--mobile {
    text-align: center;
    height: 185px;

    @media #{$medium-up} {
        height: 240px;
    }

    img {
        display: inline;
        max-height: 185px;

        @media #{$medium-up} {
            max-height: 240px;
        }

        @media #{$big-up} {
            display: none;
        }
    }
}

.b-expert__img--desktop {
    text-align: center;

    @media #{$big-up} {
        max-height: 300px;
        overflow: hidden;
    }

    @media #{$xlarge-up + $height-800-up} {
        max-height: 350px;
    }

    @media #{$xxlarge-up} {
        max-height: 450px;
    }

    img {        
        @media #{$big-up} {
            height: 100%;
            max-height: 300px;
            display: inline;
        }

        @media #{$xlarge-up + $height-800-up} {
            max-height: 350px;
        }
    
        @media #{$xxlarge-up} {
            max-height: 450px;
        }
    }
}

.b-expert__name--small {
    @media #{$big-up} {
        display: none;
    }
}

.b-expert__name--red {
    display: none;

    @media #{$big-up} {
        display: block;
        margin-top: 5px;
        padding: 10px;
        background-color: $red;
        color: $white;
        text-align: right;

        span {
            display: block;
            margin-left: auto;
            width: 50%;
            text-align: left;
        }
    }
}

.b-expert__item--photo {
    @media #{$big-up} {
        margin-top: -105px;
    }
}

//IE
.is-ie {
    .b-expert__dot {
        opacity: .7;

        &.slick-current {
            opacity: 1;
        }

        @media #{$big-up} {
            &:not(.slick-current):hover {
                opacity: 1;
            }
        }
    }
    
    .b-expert--all {
        .b-expert__btn {
            @media #{$medium-up} {
                width: 210px;
            }
        }
    }

    .b-expert__img--desktop {
        img {
            height: auto;
        }
    }
}