$tooltip-bg: #e6eaed;

.b-expert-tooltip {
    display: none;
    padding: 25px 10px;
    position: absolute;
    top: 10px;
    left: -105px;
    z-index: 10;

    &__wrapper {
        padding: 20px 10px;
        width: 400px;
        border-radius: 6px;
        background-color: $tooltip-bg;
        
        &:before {
            content: '';
            width: 25px;
            height: 25px;
            border-radius: 2px;
            background-color: $tooltip-bg;
            position: absolute;
            top: 14px;
            left: 30%;
            transform: rotate(45deg);
        }
    }

    &__inner {
        position: relative;
        padding-left: 70px;
    }

    &__img {
        position: absolute;
        top: -50px;
        left: -65px;

        img {            
            max-width: 125px;
        }
    }

    &__txt {
        color: $font-color;
        max-height: 145px;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 20px;
            background: linear-gradient(to bottom, rgba($tooltip-bg, 0) 0%, $tooltip-bg 100%);
        }
    }

    &__title {
        display: inline-block;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $black;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;        
    }

    &__desc {
        font-size: 12px;
        font-weight: 400;        
    }
}