$title-color: #787776;
$border-color: #939393;

.b-forum {
    position: relative;
    padding-bottom: 200px;

    @media #{$big-up} {
        padding-bottom: 0;
    }

    @media #{$large-up} {
        padding-bottom: 100px;
    }

    @media #{$xxlarge-up} {
        padding: 0 100px 200px;
    }

    &:after {
        content: '';
        position: absolute;
        display: block;
        left: -30px;
        bottom: -35px;
        width: 100vw;
        height: 100%;
        background-image: url(../images/forum-bg-mobile.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center bottom;
        z-index: -1;

        @media #{$medium-up} {
            left: -80px;
            bottom: -80px;
            opacity: .3;
        }

        @media #{$big-up} {
            width: calc(100vw - 17px);
            background-image: url(../images/forum-bg.png);
            opacity: 1;
        }

        @media #{$large-up} {
            left: -205px;
            bottom: -100px;
        }

        @media #{$xlarge-up} {
            left: -255px;
        }

        @media #{$xxlarge-up} {
            left: -305px;
        }
    }

    &__title {
        margin-bottom: 15px;
        color: $title-color;
        font-size: 16px;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;

        @media #{$big-up} {
            display: none;
        }
    }

    &__desc {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;

        @media #{$big-up} {
            padding-bottom: 0;
            border: none;
            font-weight: 400;
        }
    }

    &__icon {
        width: 70px;
        height: 70px;
        fill: $red;
    }

    &__info {
        display: flex;
        flex-direction: column-reverse;

        @media #{$big-up} {
            flex-direction: column;
        }
    }

    &__info-wrapper {
        @media #{$big-up} {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid $red;
        }
    }

    &__info-title {
        margin-bottom: 20px;
        text-align: center;
        font-weight: 700;
        line-height: 16px;

        @media #{$big-up} {
            font-size: 18px;
            line-height: 20px;
        }
    }

    &__info-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        @media #{$big-up} {
            flex-direction: column;
            width: calc(100% / 5);
            margin-bottom: 0;
        }
    }

    &__info-num {
        width: 40%;
        padding-right: 20px;
        color: $red;
        font-size: 22px;
        line-height: 22px;
        font-weight: 700;
        text-align: right;

        @media #{$big-up} {
            width: auto;
            padding-right: 0;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            border-radius: 100%;
            background-color: $red;
            font-size: 24px;
            color: $white;
        }

        @media #{$xlarge-up} {
            width: 90px;
            height: 90px;
            font-size: 30px;
        }
    }

    &__info-txt {
        width: 60%;
        font-size: 10px;
        font-weight: 800;
        text-transform: uppercase;    

        @media #{$big-up} {
            width: auto;
            text-align: center;
            font-size: 12px;
            font-weight: 500;
        }
    }

    &__program-row {
        @media #{$big-up} {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }
    }

    &__program-item {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        outline: none;

        @media #{$big-up} {
            flex-direction: column;
            width: calc(100% / 2);
            margin-bottom: 20px;
        }

        @media #{$xxlarge-up} {
            margin-bottom: 50px;
        }
    }

    &__program-icon {
        width: 40%;
        padding-right: 20px;
        text-align: right;

        @media #{$big-up} {
            width: auto;
            padding-right: 0;
            text-align: center;
        }

        @media #{$large-up} {
            margin-bottom: 10px;
        }
    }

    &__program-txt {
        width: 60%;

        @media #{$big-up} {
            width: auto;
            max-width: 70%;
            text-align: center;
        }
    }

    &__program-title {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 5px;

        @media #{$large-up} {
            margin-bottom: 10px;
        }
    }

    &__program-desc {
        @media #{$big-up} {
            font-weight: 400;
        }
    }
}

//STATE
.b-forum__program-row--btns {
    @media #{$big-up} {
        align-items: flex-end;
    }
}

.b-forum__program-item--item1 {
    @media #{$big-up} {
        align-items: flex-end;
        padding-right: 5px;

        .b-forum__program-icon {
            width: 70%;
        }
    }

    @media #{$large-up} {
        padding-right: 30px;
    }
}

.b-forum__program-item--item2 {
    @media #{$big-up} {
        align-items: flex-start;
        padding-left: 5px;

        .b-forum__program-icon {
            width: 70%;
        }
    }

    @media #{$large-up} {
        padding-left: 30px;
    }
}

.b-forum__program-item--btn1 {
    @media #{$large-up} {
        align-items: flex-start;
    }
}

.b-forum__program-item--btn2 {
    @media #{$large-up} {
        align-items: flex-end;

        .b-forum__icon {
            margin-right: 35px;
        }
    }
}