$nav-color: #848484;

.b-footer {
    background-color: $black;
    color: $white;
    padding: 30px;

    @media #{$large-up} {
        padding: 40px 100px;
    }  

    @media #{$xlarge-up} {
        padding: 40px 250px;
    }

    @media #{$xxlarge-up} {
        padding: 40px 400px;
    }

    &__title {        
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__subtitle {  
        margin-bottom: 5px;    
    }

    &__item {
        margin-bottom: 10px;

        @media #{$medium-up} {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: 1px solid $red;
        }
    }

    &__logo {        
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        svg {            
            @media #{$medium-up} {
                margin-right: 10px;
            }

            @media #{$large-up} {
                margin-right: 25px;
            }
        }
    }

    &__phone {
        color: $white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;

        @media #{$medium-up} {
            font-size: 28px;
            line-height: 28px;
            letter-spacing: 1px;
        }

        @media #{$large-up} {
            font-size: 38px;
        }

        @media #{$xxlarge-up} {
            font-size: 40px;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;

        @media #{$medium-up} {
            display: none;
        }

        a {
            @include transition(opacity);
            color: $nav-color;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 24px;
            font-weight: 400;
            
            @media #{$big-up} {
                &:hover {
                    opacity: .5;
                }
            }

            @media #{$xxlarge-up} {
                font-size: 14px;
            }
        }
    }

    &__copy {        
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: 400;

        @media #{$medium-up} {
            width: 100%;
            margin-bottom: 0;
        }

        @media #{$large-up} {
            text-transform: uppercase;
        }

        @media #{$xxlarge-up} {
            font-size: 14px;
        }
    }

    &__socials {
        @media #{$medium-up} {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .b-socials {
            position: relative;
            left: 0;
            bottom: 0;
            transform: none;
            padding-bottom: 0;

            @media #{$medium-up} {
                width: auto;
            }
        }

        .b-socials__item {
            opacity: .7;

            @media #{$medium-up} {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .b-icon {
            @media #{$large-up} {
                width: 40px;
                height: 40px;
            }
        }
    }

    &__contacts {
        @media #{$medium-up} {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__contact  {
        @media #{$medium-up} {
            padding-right: 30px;
            border-right: 1px solid $red;
        }

        @media #{$big-up} {
            padding-right: 10%;
        }

        @media #{$xlarge-up} {
            padding-right: 15%;
        }

        &:last-of-type {
            border-right: none;
            padding-right: 0;
        }

        &>div {
            margin-bottom: 10px;
        }
    }

    &__mail {
        @include transition(opacity);
        color: $white;
        text-decoration: none;
        font-size: 12px;
        
        @media #{$big-up} {
            &:hover {
                opacity: .5;
            }
        }  

        @media #{$xxlarge-up} {
            font-size: 14px;
        }  
    }
}

//STATE
.b-footer--slide {
    padding: 0;

    @media #{$big-up} {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }  

    @media #{$large-up} {
        width: calc(100% - 300px);
        padding: 0;
    }  

    @media #{$xlarge-up} {
        padding: 0;
    }

    @media #{$xxlarge-up} {
        width: calc(100% - 500px);
        padding: 0;
    }

    .b-socials {
        display: none;
        position: static;
        transform: none;

        @media #{$medium-up} {
            display: flex;
        }

        &__icon {
            @media #{$xxlarge-up} {
                width: 50px;
                height: 50px;
            }
        }
    }

    .b-footer__copy {
        @media #{$medium-up} {
            margin-bottom: 20px;
        }        
    }   
    
    .b-footer__title {
        @media #{$xxlarge-up} {
            font-size: 24px;
        }
    }

    .b-footer__subtitle {
        @media #{$xxlarge-up} {
            margin-bottom: 10px;
            font-size: 16px;
        } 
    }
}

.b-footer__item--bottom {
    @media #{$medium-up} {
        padding: 0;
        border: none;
        align-items: left;
    }
}

.b-footer__item--contacts {
    @media #{$medium-up} {
        align-items: left;
        flex-direction: column;
        border-bottom: none;
    }
}