$border-input: #c4c4c4;
$label-color: #6d6d6d;

.b-form {
    display: flex;
    flex-direction: column;

    &__row {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        @media #{$medium-up} {
            flex-direction: row;
        }
    }

    &__col {
        @media #{$medium-up} {
            width: 50%;
        }
    }

    label {
        color: $label-color;
    }

    input {
        @include transition(border-color);
        padding: 5px;
        width: 100%;
        border: none;
        border-bottom: 1px solid $border-input;
        outline: none;
        font-family: Arial;
        
        &:active,
        &:focus {
            border-color: $red;
        }

        &.is-error {
            border-color: red;
        }
    }

    textarea {
        padding: 5px;
        width: 100%;
        border: none;
        border: 1px solid $border-input;
        border-radius: 6px;
        height: 70px;
        outline: none;
        font-family: Arial;

        &:active,
        &:focus {
            border-color: $red;
        }

        &.is-error {
            border-color: red;
        }
    }

    &__ps {
        display: block;
        padding-right: 10px;
        color: $red;
        font-size: 12px;
    }

    &__footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 10px;

        @media #{$medium-up} {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__group {
        margin-bottom: 10px;

        &:last-of-type() {
            margin-bottom: 0;
        }
    }

    .error_text {
        font-size: 12px;
        color: $red;
        padding-top: 3px;
        display: block;
    }
}

//STATE
.b-form__ps--big {
    text-transform: uppercase;
    color: $red;
}