.b-gallery {
    @media #{$xlarge-up} {
        margin-top: 50px;
    }
    @media #{$xxlarge-up} {
        margin-top: 100px;
        padding: 0 150px;
    }

    &__title {
        margin: 20px 0;
        text-transform: uppercase;
        font-weight: 500;

        @media #{$big-up} {
            margin: 30px 0;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 1px;
        }
        @media #{$xlarge-up} {
            margin-top: 50px;
        }
    }

    &__wrapper {        
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media #{$big-up} {
            justify-content: space-around;
        }
    }

    &__img {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        outline: none;

        @media #{$medium-up} {   
            width: 150px;
            height: 150px;
        }

        @media #{$big-up} {
            margin-right: 20px;
            width: 200px;
            height: 200px;
        }

        @media #{$large-up} {
            margin-right: 30px;
            width: 250px;
            height: 250px;
        }

        img {            
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}