$border-color: #666666;
$logo-gray: #333333;

.b-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 25px 30px 15px;
    z-index: 5;

    @media #{$large-up} { 
        align-items: stretch;
        padding: 0 50px;
        background-color: $black;
    }

    &.is-fixed {        
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
    }

    &.is-black {
        background-color: $black;
    }

    &__logo {
        position: absolute;
        top: 10px;
        left: 30px;
        width: 65px;
        height: 60px;
        margin: 0;

        @media #{$large-up} { 
            display: none;
        }

        &.is-white {
            .b-header__logo-icon {
                fill: $white;
            }
        }
    }

    &__logo-icon {        
        width: 100%;
        height: 100%;
        fill: $logo-gray;        
    }

    &__item {
        @include transition(background-color, opacity);
        position: relative;
        display: none;
        align-items: center;
        padding: 5px 10px;
        font-size: 10px;
        text-decoration: none;
        color: white;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        cursor: pointer;

        @media #{$big-up} {
            &:not(.b-header__item--ticket):not(.active):hover {
                opacity: .5;
            }
        }
        
        @media #{$large-up} { 
            display: flex;
            font-size: 12px;
            padding: 10px 15px;
        }

        @media #{$xxlarge-up} {
            font-size: 14px;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            width: 2px;
            height: 50%;
            transform: translate(0, -50%);
            background-color: $border-color;
        }

        &.active {
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: -7px;
                width: 100%;
                height: 7px;
                background-color: $red;
            }
        }
    }

    &__icon {
        width: 35px;
        height: 35px;

        @media #{$large-up} { 
            width: 45px !important;
            height: 45px !important;
        }
    }

    &__cart-num {
        position: absolute;
        font-weight: 700;
        color: $white;
        z-index: 10;
        top: 45%;
        left: 55%;
        transform: translate(-50%, -50%);
    }
}

//STATE
.b-header--white {
    background-color: $white;
}

.b-header__item--red {
    color: $red;
    font-weight: 500;
}

.b-header__item--no-border {
    &:before {
        display: none;
    }
}

.b-header__item--ticket {
    display: block;
    text-align: left;
    background-color: $red;
    margin-left: 25px;

    @media #{$large-up} { 
        margin-left: 0;

        &:active,
        &:focus,
        &:hover {
            background-color: $white;
            color: $black;

            .b-header__icon {
                fill: $red;
            }
        }
    }

    .b-header__icon {
        fill: $white;
        margin-right: 8px;
    }
}

.b-header__item--cart {
    position: relative;
}