$title-partner: #898989;

.b-hotels {
    &__subtitle {
        margin-bottom: 20px;
        color: $gray-title;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;

        @media #{$big-up} {
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 14px;
        }

        @media #{$xlarge-up} {
            font-size: 16px;
        }

        span {
            line-height: 25px;
            padding: 0 10px 5px;
            border-bottom: 1px solid $title-border;
            @media #{$medium-up} {
                padding: 0 30px 5px;
            }
        }
    }
}

.b-hotels-filter {
    @media #{$xxlarge-up} {
        padding: 0 60px;
    }

    &__icon {
        width: 75px;
        height: 75px;
        fill: $light-gray;

        @media #{$large-up} {
            width: 75px;
            height: 75px;
        }
    }

    &__table {
        width: 100%;
        margin-bottom: 20px;

        @media #{$big-up} {
            margin-bottom: 40px; 
        }

        @media #{$large-up} {
            margin-bottom: 50px; 
        }

        thead {
            display: none;

            @media #{$medium-up} {
                display: block;
            }

            tr {
                margin-bottom: 30px;

                @media #{$big-up} {
                    margin-bottom: 20px;
                }

                @media #{$large-up} {
                    margin-bottom: 30px;
                }
                th {
                    text-align: center;

                    @media #{$big-up} {
                        border-right: none;
                    }

                    span {
                        display: block;
                        margin-top: 10px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 18px;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }
            }
        }

        tbody {
            tr {
                cursor: pointer;
                transition: .2s;
                &:hover {
                    color: $red;
                }
            }
        }

        th {
            text-align: left;

            @media #{$medium-up} {
                text-align: center;
            }

            @media #{$big-up} {
                border-right: none;
            }

            span {
                display: block;
                margin-top: 10px;
                font-weight: 400;
            }

        }

        tr {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            @media #{$big-up} {
                margin-bottom: 0;
            }
        }

        a {
            @include transition(color);
            color: inherit;
            text-decoration: none;

            @media #{$big-up} {
                &:hover {
                    color: $title-color;
                }
            }
        }
    }

    &__table-title {
        text-align: left;
        margin-bottom: 10px;
        font-weight: 500;

        @media #{$medium-up} {
            display: none;
        }
    }

    &__table-name {
        text-align: left;
        @media #{$medium-up} {
            text-align: center;
            font-weight: bold;
        }
    }

    &__table-hotel {
        width: 38%; 

        @media #{$medium-up} {
            padding-right: 10px;
            width: 30%;
        }

        @media #{$big-up} {
            border-right: 1px solid $light-gray;
            padding-bottom: 20px;
            padding-right: 20px;
            width: 25%;
        }

        @media #{$xxlarge-up} {
            width: 27%;
        }
    }

    &__table-place {
        width: 62%;
        margin-bottom: 10px;

        @media #{$medium-up} {
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 10px;
            width: 36%;
        }

        @media #{$big-up} {
            border-right: 1px solid $light-gray;
            padding-bottom: 20px;
            padding: 0 20px 20px;
            text-align: center;
            width: 41%;
        }
    }

    &__table-price {
        padding-left: 38%;
        width: 100%;

        @media #{$medium-up} {
            padding-left: 10px;
            width: 34%;
            font-weight: bold;
        }

        @media #{$big-up} {
            padding-bottom: 20px;
            padding-left: 20px;
            width: 32%;
        }
        .b-hotels-filter__table-name--red {
            display: inline;
            color: $red;
            font-weight: bold;
        }
    }

}

.b-hotels-detail {
    &__item--btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;

        @media #{$medium-up} {
            flex-direction: row;
            align-items: center;
        }

        @media #{$big-up} {
            position: relative;
            justify-content: flex-start;
        }
    }

    &__partner-wrap {
        margin-left: 5%;
    }

    &__partner-title {
        display: block;
        color: $title-partner;
        font-size: 16px;
        text-transform: uppercase;
        max-width: 100%;
        text-align: center;
        @media #{$big-up} {
            max-width: 340px;
        }
    }

    &__partner-logo {
        padding: 6px 20px 20px;
        .b-partners__item {
            margin-bottom: 0;
            width: 100%;
        }

        .b-partners__logo {
            background-color: $bg-partner;  
            padding: 0 25px; 

            @media #{$medium-up} {
                width: 130px;
                height: 130px;
                margin-bottom: 0;
                padding: 0 25px;
            }

        }

        .b-partners__txt {
            display: none;
        }

    }

    &__line {
        padding: 10px 25px;
        width: 100%;
        background-color: $red;
        color: $white;
        line-height: 16px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;

        @media #{$big-up} {
            width: calc(100% - 520px);
            margin-right: -80px;
            text-align: left;
            font-size: 16px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            margin-top: -72px;
        }

        @media #{$large-up} {
            width: calc(100% - 320px);
            padding: 15px 25px;
            margin-right: -205px;
            font-size: 18px;
        }

        @media #{$xlarge-up} {
            width: calc(100% - 395px);
            margin-right: -255px;
        }

        @media #{$xxlarge-up} {
            width: calc(100% - 400px);
            margin-right: -305px;
        }
    }
}