$gray-icon: #918f8f; 
$gray-border: #959595;
$gray-title: #444444;
$title-border: #898989;
$gray-tags: #3e3b39;

.b-hotel {
    &__header {
        position: relative;
        
        @media #{$big-up} {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media #{$xlarge-up} {
            margin-bottom: 20px;
        }

        .b-section__back {
            @media #{$big-up} {
                top: 50%;
                transform: translate(0, -50%);
            }

            @media #{$large-up} {
                top: auto;
            }
        }
        
    }

    &__logo {
        position: relative;
        display: none;
        max-width: 300px;

        @media #{$big-up} {
            display: block;
        }

        &:before {
            @media #{$large-up} {
                content: '';
                position: absolute;
                top: -50px;
                right: 30px;
                display: block;
                width: 2px;
                height: calc(95%);
                background-color: $gray-border;
            }
        }
    }

    &__logo-icon {
        fill: $gray-icon;
        max-height: 150px;
    }

    &__icon {
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        margin-bottom: 10px;
        fill: $red;

        @media #{$big-up} {
            margin-bottom: 0;
            margin-right: 10px;
        }

        @media #{$xlarge-up} {
            width: 80px;
            height: 80px; 
            margin-top: -15px;
        }

        @media #{$xxlarge-up} {
            margin-right: 20px;
        }
    }

    &__title {
        position: relative;
        margin: 15px 0 20px;
        padding-left: 50px;
        color: $red;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;

        @media #{$big-up} {
            padding-left: 0;
            text-transform: uppercase;
            font-size: 39px;
            line-height: 40px;
            font-weight: 400;
        }

        b {
            font-size: 22px;

            @media #{$big-up} {
                font-size: inherit;
            }
        }
    }

    &__subtitle {
        margin-bottom: 20px;
        color: $gray-title;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;

        @media #{$big-up} {
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 14px;
        }

        @media #{$xlarge-up} {
            font-size: 16px;
        }

        span {
            line-height: 25px;
            padding: 0 30px 5px;
            border-bottom: 1px solid $title-border;
        }
    }

    &__line {
        position: relative;
        margin-bottom: 20px;
        
        @media #{$big-up} {
            height: 50px;
            margin-bottom: 50px;
        }
    }

    &__line-inner {
        padding: 20px 15px;
        margin-right: -30px;
        background-color: $red;
        color: $white;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 16px; 

        @media #{$medium-up} {
            margin-left: 30%;
            margin-right: -80px;
        }  

        @media #{$large-up} {
            margin-left: 45%;
            margin-right: -205px;
            font-size: 18px;
        }  
        
        @media #{$xlarge-up} {
            margin-left: 60%;
            margin-right: -255px;
        }  
        
        @media #{$xxlarge-up} {
            margin-right: -305px;
        } 
    }

    &__tags {
        color: $gray-tags;
        font-weight: 500;
        text-transform: uppercase;

        @media #{$big-up} {
            width: 50%;
            margin-left: auto;
        }

        @media #{$xlarge-up} {
            padding-right: 50px;
        }

        @media #{$xxlarge-up} {
            padding-right: 150px;
        }

        span {
            display: block;
            margin-bottom: 5px;
            text-align: right;

            @media #{$large-up} {
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 600;
            }

            @media #{$xlarge-up} {
                font-size: 24px;
                line-height: 24px;
            }
        }
    }
}