$gray-title: #444444;
$bg-partner: #f1f1f1;
$title-border: #898989;

.b-hotel-detail {
    position: relative;

    @media #{$xlarge-up} {
        margin: 0 50px;
    }

    @media #{$xxlarge-up} {
        margin: 0 150px;
    }

    &__title {
        padding-bottom: 3px;
        margin-bottom: 10px;
        color: $gray-title;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase; 
        border-bottom: 1px solid $title-border;

        @media #{$big-up} {
            display: inline-block;
            padding: 0 50px 3px 0;
        }

        span {
            color: $red;
        }
    }

    &__subtitle {
        margin-bottom: 20px;
        color: $gray-title;
        font-weight: 500;
        text-transform: uppercase; 
        text-decoration: underline;
    }

    &__icon {
        fill: $red;
        width: 100%;
        height: 100%;
    }

    &__desc {
        line-height: 16px;
    }

    &__place {
        line-height: 20px;
        margin-bottom: 20px;
    }

    &__item {
        margin-bottom: 25px;
    }

    &__gallery {
        display: flex;
        flex-direction: column;

        @media #{$medium-up} {
            flex-direction: row;
        }
    }

    &__gallery-item {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
 
        @media #{$medium-up} {
            flex-direction: column;
            justify-content: flex-start;
            width: 70%;
            margin-bottom: 0;
            margin-right: 10px;
        }

        @media #{$big-up} {
            margin-right: 20px;
        }

        @media #{$xlarge-up} {
            width: 75%;
        }

        &:last-child {
            margin-bottom: 0;

            @media #{$medium-up} {
                width: 30%;
                margin-right: 0;
            }

            @media #{$big-up} {
                margin-right: 0;
            }

            @media #{$xlarge-up} {
                width: 25%;
            }

            & > div {                
                width: calc(100% / 3);

                @media #{$medium-up} {
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
    }

    &__gallery-img {
        border-radius: 10px;
        overflow: hidden;

        &--main {
            height: 200px;

            @media #{$medium-up} {
                width: 100%;
                height: 300px;
            }

            @media #{$large-up} {
                height: 350px;
            }
        }

        &--thumb {
            @include transition(opacity);
            display: inline-block;
            max-width: 80px;
            height: 50px;
            margin-right: 10px;
            margin-bottom: 10px;
            cursor: pointer;

            @media #{$medium-up} {
                max-width: none;
                height: 100px;
            }

            @media #{$big-up} {
                margin-bottom: 20px;
                height: 100px;

                &:hover {
                    opacity: .5;
                }
            }
            
            @media #{$large-up} {
                height: 120px;
            }

            @media #{$xxlarge-up} {
                height: 125px;
            }
        }

        img {         
            width: 100%;   
            height: 100%;
            object-fit: cover;
        }
    }

    &__partner {
        @media #{$medium-up} {
            margin-top: auto;
        }
    }

    &__partner-title{
        display: none;
        text-align: center;
        margin-bottom: 10px; 
        font-weight: 500;
        line-height: 16px;
        font-size: 12px;
        text-transform: uppercase;

        @media #{$medium-up} {
            display: block;
        }
    
    }

    &__partner-logo {
        .b-partners__item {
            margin-bottom: 0;
            width: 100%;
        }

        .b-partners__logo {
            background-color: $bg-partner;   

            @media #{$medium-up} {
                width: 130px;
                height: 130px;
                margin-bottom: 0;
            }
        }        
    }

    &__cards {
        @media #{$medium-up} {
            display: flex;
        }
    }

    &__cards-item {
        @include transition(border);
        display: block;
        padding: 10px;
        margin-bottom: 20px;
        height: 60px;
        width: 100%;
        border: 1px solid $bg-partner;
        border-radius: 6px;
        background-size: 80%;
        background-repeat: no-repeat;

        @media #{$medium-up} {
            margin-bottom: 0;
            margin-right: 10px;
            max-width: 200px;
        }

        @media #{$big-up} {
            margin-right: 20px;

            &:hover {
                border: 1px solid $dark-gray;
            }
        }

        img {            
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}