$logo-gray: #585858;
$logo-light-gray: #918f8f;
$date-color: #c0c0c0;

.b-logo {
    margin-bottom: 20px;
    z-index: 1;

    @media #{$big-up} {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media #{$large-up} {
        display: block;
        margin-bottom: 20px;
    }

    @media #{$xxlarge-up} {
        margin-bottom: 35px;
    }

    &__img {
        width: 130px;
        height: 130px;
        background-image: url('../images/logo-small.svg');
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__inner {
        @media #{$large-up} {
            width: 100px;
            height: 115px;
        }

        @media #{$xxlarge-up} {
            width: 115px;
            height: 130px;        
        }
    }

    &__icon {        
        width: 100%;
        height: 100px;
        margin-bottom: 5px;
        fill: $white;

        @media #{$medium-up} {
            height: 150px;
        }

        @media #{$big-up} {
            width: 200px;
            margin-bottom: 0;
        }

        @media #{$large-up} {
            display: none;
        }
    }

    &__txt {
        color: white;
        font-size: 12px;
        line-height: 10px;
        text-align: center;

        @media #{$big-up} {
            margin-top: 10px;
            margin-left: -100px;
            line-height: 5px;
            text-align: left;
        }

        @media #{$large-up} {
            margin-top: 0;
            margin-left: 0;
            font-size: 13px;
            line-height: 10px;
            font-weight: 200;
        }
    }

    &__txt-inner {        
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        text-transform: uppercase;

        @media #{$medium-up} {
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 5px;
        }

        @media #{$large-up} {
            padding: 5px;
            margin-right: -350px;
            margin-left: -25px;
            background-color: $red;
            font-size: 26px;
            line-height: 32px;
        }

        @media #{$xxlarge-up} {
            padding: 5px 10px;
            font-size: 38px;
            line-height: 46px;
        }
    }

    &__txt-name {
        @media #{$large-up} {
            margin-left: -25px;
        }

        @media #{$xxlarge-up} {
            font-size: 16px;
        }
    }

    &__txt-date {
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        color: $date-color;

        @media #{$large-up} {
            font-size: 36px;
            line-height: 40px;
        }

        @media #{$large-up + $height-700-up} {
            margin-bottom: 20px;
            font-size: 46px;
            line-height: 44px;
        }

        @media #{$xxlarge-up} {
            font-size: 50px;
            margin-bottom: 30px;
        }
    }

    &__txt-sup {
        vertical-align: super;
        font-size: 14px;

        @media #{$large-up} {
            font-size: 25px;
        }
    }
}

//STATE
.b-logo--top {
    position: absolute;
    padding: 15px 55px 0;

    @media #{$big-up} {
        display: block;
    }

    @media #{$xxlarge-up} {
        padding: 15px 81px 0;
    }
}

.b-logo--inner {
    display: none;

    @media #{$big-up} {
        display: none;
    }

    @media #{$large-up} {
        display: block;
        position: relative;
        position: absolute;
        top: 80px;
        left: 0;
    }

    @media #{$xxlarge-up} {
        left: 30px; 
    }
}

.b-logo__inner--gray {
    fill: $logo-gray;
}

.b-logo__inner--light-gray {
    fill: $logo-light-gray;
}

.b-logo__inner--red {
    fill: $red;
}

.b-logo__inner--white {
    fill: $white;
}

.logo-hidden {    
    @media #{$big-up} {
        display: none;
    }
}