.b-main {
    position: relative;
    height: calc(100% - 120px);

    @media #{$large-up} {
        height: 100vh;
        overflow: hidden;
        padding-bottom: 0;
    }

    &__tags {
        display: none;

        @media #{$large-up} {
            display: block;
            margin-bottom: 15px;
            font-size: 11px;
            text-transform: uppercase;
            color: $white;
            font-weight: 500;
        }

        @media #{$large-up + $height-700-up} {
            margin-bottom: 20px;
        }

        @media #{$xxlarge-up} {
            font-size: 14px;
            letter-spacing: 1px;
        }
    }

    .b-logo__icon {
        height: 35px;

        @media #{$height-550-up} {
            height: 100px;
        }
    }

    .b-socials {
        position: static;
        transform: none;
    }
}

//STATE

.b-main__item--left {
    display: none;

    @media #{$large-up} {
        display: block;
    }
}

.b-main__item--right {
    @media #{$large-up} {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: rgba(51,51,51,0.9);
        top: 0;
        right: 0;
        padding: 40px 180px 0 50px;
    }

    @media #{$xxlarge-up} {
        padding: 40px 300px 0 50px;
    }
}