$bg-hover: #a2a2a2;
$bg-active: #d8d8d8;
$txt-hover: #474747;

.b-menu {
    position: relative;

    &.is-open {
        margin-top: 8vh;
    }

    @media #{$big-up} {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    @media #{$large-up} {
        display: block;
    }

    @media #{$xxlarge-up} {
        margin-bottom: 20px;
    }

    &__row {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &.is-hidden {
            .b-menu__item:not(.b-menu__item--part) {
                display: none;
            }
        }

        @media #{$medium-up} {
            justify-content: space-around;
        }

        @media #{$big-up} {
            justify-content: start;
            align-items: flex-start;
        }

        @media #{$large-up} {
            justify-content: space-between;
        }
    }

    &__item {
        @include transition(background-color, width, height);
        position: relative;
        display: block;
        margin-bottom: 10px;
        width: 80px;
        height: 80px;
        border-radius: 4px;
        border: 1px solid $white;
        text-decoration: none;
        outline: none;

        &:active,
        &:focus {
            background-color: $bg-active;
            border-color: $bg-active;

            #first-ticket rect,
            #first-ticket polygon {
                fill: $bg-active;
            }

            .b-menu__txt {
                color: $txt-hover;
            }
        }

        @media #{$xsmall-up} {
            margin-bottom: 20px;
        }

        @media #{$medium-up} {
            width: 150px;
            height: 150px;
        }
        
        @media #{$big-up} {
            width: 120px;
            height: 120px;
            margin-bottom: 26px;
            margin-right: 10px;

            &:hover {
                background-color: $bg-hover;
                border-color: $bg-hover;

                #first-ticket rect,
                #first-ticket polygon  {
                    fill: $bg-hover;
                }

                .b-menu__txt {
                    color: $txt-hover;
                }
            }
        }

        @media #{$large-up} {
            margin-right: 0;
        }
        
        @media #{$large-up + $height-600-up} {
            width: 105px;
            height: 105px;
        }
        
        @media #{$large-up + $height-700-up} {
            width: 120px;
            height: 120px;
        }
        
        @media #{$xlarge-up + $height-800-up} {
            width: 150px;
            height: 150px;
        }

        @media #{$xxlarge-up + $height-900-up} {
            width: 170px;
            height: 170px;
            margin-bottom: 35px;
        }
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 80%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;

        svg {                
            width: 100%;
            padding: 10px 20px;

            @media #{$medium-up} {
                padding: 20px 30px;
            }
        }
    }

    &__txt {
        color: $white;
        font-size: 6px;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        left: 0;
        bottom: 5px;
        right: 0;
        margin: 0 auto;
        white-space: nowrap;

        @media #{$medium-up} {
            font-size: 12px;
            bottom: 10px;
        }

        @media #{$big-up} {
            font-size: 10px;
        }
        
        @media #{$large-up + $height-600-up} {
            font-size: 9px;
        }
        
        @media #{$large-up + $height-700-up} {
            font-size: 10px;
        }

        @media #{$xlarge-up + $height-800-up} {
            font-size: 12px;
        }
    }
}

//STATE
.b-menu__item--part {
    &.is-open {
        width: 120px;
        height: 120px;

        @media #{$xsmall-up} {
            width: 140px;
            height: 140px;
        }

        @media #{$big-up} {
            width: 120px;
            height: 120px;
        }
        
        @media #{$xlarge-up} {
            width: 150px;
            height: 150px;
        }

        @media #{$xxlarge-up} {
            width: 170px;
            height: 170px;
        }

        .b-menu__img svg {
            padding: 20px 30px;
        }

        .b-menu__txt {
            font-size: 10px;
            bottom: 25px;

            @media #{$big-up} {
                bottom: 10px;
            }            
        }
    }
}