$scroll-black: #333333;
$scroll-gray: #918f8f;

.b-mini-scroll {
    display:  none;
    position: absolute;
    right: 5%;
    bottom: 0;
    height: 240px;
    
    @media #{$large-up} {
        display:  block;
    }

    &__img {        
        &:after {
            content: '';
            display: block;
            width: 3px;
            height: 190px;
            background-color: $white;
            position: absolute;
            bottom: 0;
            right: 50%;
        }
    }

    &__txt {
        display: block;
        position: absolute;
        font-size: 14px;
        left: -30px;
        bottom: 45%;
        text-transform: uppercase;
        white-space: nowrap;
        color: $white;
        transform: rotate(90deg);
    }
}

//STATE
.b-mini-scroll--black {
    .b-icon {
        fill: $scroll-black;
    }
    .b-mini-scroll__txt {
        color: $scroll-black;
    }
    .b-mini-scroll__img:after {
        background-color: $scroll-black;
    }
}

.b-mini-scroll--gray {
    .b-icon {
        fill: $scroll-gray;
    }
    .b-mini-scroll__txt {
        color: $scroll-gray;
    }
    .b-mini-scroll__img:after {
        background-color: $scroll-gray;
    }
}

.b-mini-scroll--red {
    .b-icon {
        fill: $red;
    }
    .b-mini-scroll__txt {
        color: $red;
    }
    .b-mini-scroll__img:after {
        background-color: $red;
    }
}