$bg-part-gray: #d6d6d6;
$bg-part-dark-gray: #666666;

.b-parts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
    @media #{$large-up} {
        width: 65%;
        height: 120px;
        padding: 10px;
        border: 1px solid $white;
        border-radius: 6px;
        background-color: $bg-part-dark-gray;
    }   

    @media #{$xlarge-up} {
        height: 150px;
    }

    @media #{$xxlarge-up} {
        width: calc(100% - 220px);
        height: 170px;
    }

    &.is-open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    &__item {
        @include transition(opacity);
        width: 100%;
        margin-bottom: 10px;
        padding: 5px 10px;
        background-color: $red;
        border-radius: 6px;
        color: $white;
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;

        &:last-of-type {
            margin-bottom: 0;
        }

        @media #{$big-up} {
            &:hover {
                opacity: .5;
            }
        }

        @media #{$large-up} {
            max-width: 90%;
            background-color: $bg-part-dark-gray;
            border: 1px solid $white;
            font-size: 12px;
            font-weight: 700;
        }
    }
}

//STATE
.b-parts__item--gray {
    color: $font-color;
    background-color: $bg-part-gray;

    @media #{$large-up} {
        max-width: none;
        background-color: $bg-part-gray;
        border-color: $bg-part-gray;
    }
}