$border-color: #a7a7a7;
$close-color: #797979;
$title-dark-color: #666666;
$gradient-color: #d6d6d6;
 
.b-partners {
    max-height: 100%;
    overflow: hidden;
    overflow-y: scroll;

    @media #{$medium-up} {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: none;
        overflow: inherit;
    }

    @media #{$xxlarge-up} {
        padding: 0 50px;
    }

    &.is-scroll-end {
        &:after {
            opacity: 0;
        }
    }

    &:after {
        @include transition(opacity);
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 50px;
        background: linear-gradient(to bottom, rgba($gradient-color,0) 0%, $gradient-color 100%);

        @media #{$medium-up} {
            display: none;
        }
    }

    &__header {
        position: relative;
    }

    &__btn-title {
        max-width: 220px;
        font-size: 12px;
        margin-bottom: 20px;

        @media #{$big-up} {
            position: absolute;
            right: 0;
            top: 10px;
        }

        .b-icon {
            width: 40px;
            margin-right: 5px;
        }        
    }

    &__title {
        margin: 20px 0;
        color: $title-color;
        font-size: 22px;
        line-height: 20px;
        font-weight: 700;

        @media #{$big-up} {
            margin-bottom: 35px;
            padding-right: 50%;
            color: $title-dark-color;
            font-size: 48px;
            line-height: 48px;
            font-weight: 400;
            letter-spacing: 14px;
            text-transform: uppercase;
        }
        
        @media #{$xxlarge-up} {
            font-size: 50px;
            letter-spacing: 16px;
        }
    }

    &__subtitle {
        margin-bottom: 20px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin-bottom: 20px;

        @media #{$big-up} {
            margin-bottom: 0;
        }
    }

    &__item {
        position: relative;
        width: calc(100% / 3);
        margin-bottom: 20px;

        @media #{$medium-up} {
            width: calc(100% / 5);
        }

        @media #{$big-up} {
            width: calc(100% / 9);
            &:hover {
                .b-partners__logo {
                    transform: scale(1.2);
                }
            }

            &.is-active {
                .b-partners__tooltip {
                    display: block;
                }
            }
        }
    }

    &__logo {
        @include transition(all);
        position: relative;
        display: block;
        width: 85px;
        height: 85px;
        margin: 0 auto;
        padding: 10px;
        background-color: $white;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;

        @media #{$big-up} {
            margin: 10px auto;
        }
        
        @media #{$xxlarge-up} {
            width: 100px;
            height: 100px;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
        }
    }

    &__txt {
        text-align: center;
    }

    &__tooltip {
        display: none;
        position: absolute;
        min-width: 350px;
        top: -9px;
        left: 75px;
        padding: 15px;
        background-color: rgba($white, .8);
        border: 1px solid $border-color;
        border-radius: 10px;
        z-index: 20;

        &:before {
            content: '';
            position: absolute;
            top: 10px;
            left: -12px;
            display: block;
            width: 24px;
            height: 24px;
            background-color: rgba($white, 1);
            border: 1px solid $border-color;
            border-radius: 2px;
            border-right: none;
            border-top: none;
            transform: rotate(45deg);
        }
    }

    &__tooltip-header {
        margin: 10px 0;
        line-height: 20px;
    }

    &__tooltip-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;     

        .b-btn {
            margin-bottom: 10px;
        }
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 10px;
        cursor: pointer;  

        .b-icon {
            fill: $close-color;
        }
    }

    &__name {
        display: inline-block;
        border-bottom: 1px solid;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__desc {
        margin-bottom: 20px;
    }
}

//STATE
.b-partners--tour {
    max-height: none;
    overflow: inherit;
    overflow-y: inherit;

    @media #{$medium-up} {
        display: flex;
        flex-direction: row;
        height: auto;
    }

    @media #{$xxlarge-up} {
        padding: 0;
    }

    &:after {
        display: none;
    }
}

.b-partners--area {
    height: auto;
    overflow: inherit;

    @media #{$medium-up} {
        height: auto;
    }

    @media #{$big-up} {
        padding-left: 0;
    }

    @media #{$xxlarge-up} {
        padding: 0;
    }

    &:after {
        display: none;
    }
}

.b-partners__wrapper--info {
    .b-partners__item {
        @media #{$big-up} {
            width: calc(100% /6);
        }
    }
}

.b-partners__item--small {
    .b-partners__logo {
        width: 80px;
        height: 80px;
    }
}

.b-partners__title--main {
    @media #{$xxlarge-up} {
        margin-bottom: 80px;
    }
}