$bg-gray: #d8d8d8;
$txt-color: #6d6d6d;
$border-color: #898989;

.b-popup {
    position: relative;
    margin: 0 auto;
    background-color: rgba($white, .9);
    border-radius: 6px;
    padding: 40px 25px 40px;
    max-height: 90%;
    overflow: auto;
    
    @media #{$large-up} { 
        overflow: inherit;
        max-height: none;
        padding: 30px 25px 40px;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        .b-icon {
            fill: $red;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        border-bottom: 1px solid $border-color;

        @media #{$medium-up} { 
            padding-bottom: 10px;
        }
    }

    &__desc {
        font-size: 12px;
        margin-bottom: 20px;

        @media #{$big-up} { 
            font-size: 14px;  
            line-height: 16px;
            padding: 10px;
            border-right: 1px solid $border-color;
            margin-bottom: 40px;
            min-height: 350px;
        }
    }

    &__logo {
        background-image: url(../images/logo-small--gray.svg);
        background-repeat: no-repeat;
        width: 120px;
        height: 100px;
        margin: 0;
        
        @media #{$big-up} { 
            height: 115px;
        }
    }

    &__title {
        text-align: right;
        font-size: 20px;
        line-height: 22px;
        font-weight: 400;

        @media #{$medium-up} {            
            font-size: 28px;
            line-height: 38px;
        }
        
        @media #{$medium-up} {            
            font-size: 36px;
            line-height: 40px;
        }
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 15px;

        @media #{$big-up} {
            font-size: 22px;
            line-height: 22px;
            font-weight: 400;
            min-height: 50px;
        }
    }

    &__year {
        font-size: 26px;
        font-weight: 700;

        @media #{$medium-up} {
            font-size: 50px;
        }

        @media #{$big-up} {
            font-size: 54px;
        }
    }

    &__year-last {
        color: $red;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;        

        @media #{$medium-up} { 
            flex-direction: row;
        }
    }

    &__item {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;

            .b-popup__desc {
                border-right: none;
            }
        }

        @media #{$medium-up} { 
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
            width: calc(100% / 3);
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media #{$medium-up} {
            justify-content: center;

            .b-btn {
                margin-left: 15px;
            }
        }
    }

    &__success,
    &__error {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $txt-color;
        font-size: 16px;
        line-height: 20px;

        span {            
            margin-left: 5px;
            
            @media #{$medium-up} {
                margin-left: 20px;
            }
        }
    }
}

//STATE 
.b-popup--video {
    background-color: rgba(51,51,51,.8);
}

.b-popup--expert {
    position: relative;
    padding-top: 50px;
    background-color: $white;
    border: 1px solid $red;

    @media #{$medium-up} {
        padding-right: 50px;
    }

    @media #{$big-up} { 
        padding-right: 50px;
    }
}