$type-font-color: #6a6a6a;
$gradient-color: #f7f7f7;

.b-programs {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 20px;

    @media #{$medium-up} {
        overflow: inherit;
        margin-bottom: 0;
    }

    @media #{$big-up} {
        margin-top: -25px;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: none;
        overflow: inherit;
    }

    @media #{$large-up} {
        margin-top: 0;
    }
    
    &.is-scroll-end {
        &:after {
            opacity: 0;
        }
    }

    &:after {
        @include transition(opacity);
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 50px;
        background: linear-gradient(to bottom, rgba($gradient-color, 0) 0%, $gradient-color 100%);

        @media #{$medium-up} {
            display: none;
        }
    }

    &__header {
        display: none;
        position: relative;

        @media #{$big-up} {
            display: block;
        }

        @media #{$xlarge-up} {
            margin-right: 50px;
        }

        @media #{$xxlarge-up} {
            margin-right: 150px;
        }
    }

    &__title {
        display: none;
        color: $red;
        font-size: 48px;
        line-height: 52px;
        font-weight: 400;
        letter-spacing: 14px;
        text-transform: uppercase;

        @media #{$big-up} {
            display: block;
            white-space: nowrap;
        }

        @media #{$xlarge-up} {
            margin-left: 50px;
        }
        
        @media #{$xxlarge-up} {
            margin-left: 150px;
        }
    }

    &__subtitle {
        font-size: 22px;
        color: $title-color;
        font-weight: 700;
        margin: 20px 0;
        line-height: 26px;

        @media #{$big-up} {
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 40px;
            margin-right: auto;
        }
        
        span {
            color: $red;
        }
    }

    &__btn-title {
        position: absolute;
        right: 0;
        bottom: 0;

        @media #{$big-up} {
            max-width: 220px;
            font-size: 12px;
        }

        .b-icon {
            width: 65px;
        }
    }

    &__center {
        @media #{$big-up} {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        
            @media #{$xlarge-up} {
                padding: 0 50px;
            }
        
            @media #{$xxlarge-up} {
                padding: 0 150px;
            }
        }
    }

    &__wrapper {
        margin-bottom: 20px;

        @media #{$big-up} {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-bottom: 0;
        }
    }

    &__inner {
        @media #{$big-up} {
            width: 100%;
        }
    }

    &__types {
        display: none;

        @media #{$big-up} {
            display: block;
        }
    }

    &__type {
        display: block;
        padding: 10px;
        border: 1px solid $red;
        border-radius: 10px;
        color: $type-font-color;
        text-decoration: none;
        font-weight: 400;

        @media #{$big-up} {
            display: flex;
            align-items: center;
            padding: 40px 10px;
            max-width: 150px;
            text-align: center;
            min-height: 120px;
            max-height: 120px;
            margin-bottom: 25px;
        }

        @media #{$large-up} {
            font-size: 16px;
            line-height: 18px;
        }
    }

    &__tab {
        @media #{$big-up} {
            display: flex !important;
            align-items: center;
            flex-direction: row;
            height: calc(100% / 3);
            max-height: 120px;
            margin-bottom: 25px;
        }
    }

    &__timeline {
        position: relative;
        margin-bottom: 20px;
        
        @media #{$big-up} {
            width: 100%;
            height: 100%;
            padding: 0 20px;
        }
    }

    &__line {
        position: absolute;
        top: 0;
        left: 2px;
        display: block;
        width: 1px;
        height: 100%;
        background-color: $red;

        @media #{$big-up} {
            top: calc(50% + 5px);
            left: 5px;
            width: calc(100% - 10px);
            height: 1px;
            transform: translate(0, -50%);
        }
    }

    &__events {
        @media #{$big-up} {
            display: flex;
            flex-direction: row;
        }
    }

    &__event {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        margin-bottom: 10px;

        @media #{$big-up} {
            padding-left: 0;
            flex-direction: column;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            display: block;
            width: 5px;
            height: 5px;
            background-color: $red;
            border-radius: 50%;

            @media #{$big-up} {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__event-top {
        width: 30%;
        color: $red;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;

        @media #{$big-up} {
            width: 100%;
            height: 60px;
            margin-bottom: 10px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            text-align: center;
        }
    }

    &__event-txt {
        width: 70%;
        font-weight: 400;

        @media #{$big-up} {
            width: 100%;
            height: 60px;
            padding: 0 25px;
            text-align: center;
        }
    }

    &__btn {
        display: flex;
        width: 100%;
        white-space: nowrap;
        
        @media #{$big-up} {
            position: relative;
            width: 25%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .b-icon {
            margin-right: 10px;

            @media #{$big-up} {
                position: absolute;
                top: -110%;
            }
        }

        .b-btn {            
            width: 100%;
            max-width: 200px;
            text-align: center;
            font-weight: 400;
            font-size: 12px;
        }
    }
    
    &__icon {
        fill: $red;
        stroke: $red;
        width: 50px;
        height: 50px;

        @media #{$large-up} {
            width: 50px;
            height: 50px;
        }
    }
}

//STATE
.b-programs__event-top--large {
    width: 50%;
}

.b-programs__btn--large {
    .b-icon {
        @media #{$big-up} {
            top: -95%;
        }
    }
}