$light-gray: #919191;

.b-program-filter {
    @media #{$xxlarge-up} {
        padding: 0 60px;
    }

    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;   

        @media #{$medium-up} {
            margin-bottom: 30px;
        }

        span {
            color: $red;
        }
    }

    &__subtitle {
        @media #{$medium-up} {
            float: right;
        }
    }

    &__icon {
        width: 30px;
        height: 30px;
        fill: $red;

        &--gray {
            fill: $light-gray;
        }

        @media #{$large-up} {
            width: 40px;
            height: 40px;
        }
    }

    &__link {
        @include transition(color);
        position: relative;
        text-decoration: none;
        color: inherit;

        @media #{$big-up} {
            &:hover {
                color: $title-color;

                .b-expert-tooltip {
                    display: block;
                }
            }
        }
    }

    &__filter {
        padding: 20px 0;
        margin-bottom: 20px;
        border-top: 1px solid $red;
        border-bottom: 1px solid $red;     

        @media #{$medium-up} {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 25px 0;
            margin-bottom: 40px;
        }

        @media #{$large-up} {
            margin-bottom: 50px;
        }
    }

    &__filter-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        @media #{$medium-up} {
            margin-right: 50px;
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;

            @media #{$medium-up} {
                margin-right: 0;
            }
        }
    }

    &__filter-title {
        padding-right: 10px; 
        text-transform: uppercase;
        font-weight: 500;       

        @media #{$medium-up} {
            padding-right: 20px;
            margin-right: 20px;
            border-right: 1px solid $dark-gray;
        }
    }

    &__filter-list {
        display: flex;
        justify-content: center;
        align-items: center;      
    }

    &__filter-list {
        &>li {
            position: relative;
            margin-right: 20px;

            @media #{$medium-up} {
                margin-right: 30px;
            }

            &:after {
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background-color: $light-gray;
                position: absolute;
                top: 50%;
                right: -12px;
                transform: translate(0, -50%);

                @media #{$medium-up} {
                    right: -16px;
                } 
            }

            &:last-child {
                margin-right: 0;

                &:after {
                    display: none;
                }
            }
        }

        a {
            @include transition(opacity);
            color: $light-gray;
            text-decoration: none;
            font-weight: 500;
    
            @media #{$big-up} {        
                &:not(.is-active ):hover {
                    opacity: .5;
                }
            }

            &.is-active {
                font-size: 16px;
                color: $red;
                border-bottom: 1px solid $red;
            }
        }
    }

    &__programs {        
        line-height: 22px;
    }

    &__tooltip {
        position: absolute;
        top: 45px;
        right: -20px;
        background-color: $white;
        width: 300px;
        padding: 20px;
        border: 1px solid $red;
        border-radius: 10px;
        z-index: 10;

        @media #{$xsmall-up} {
            right: -5px;
        }

        @media #{$medium-up} {
            right: -20px;
        }

        @media #{$big-up} {
            left: 50%;
            right: auto;
            transform: translate(-50%, 0);
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -13px;
            right: 20px;
            width: 25px;
            height: 25px;
            background-color: $white;
            border-radius: 4px 0;
            border: 1px solid $red;
            border-right: none;
            border-bottom: none;
            transform: rotate(45deg);

            @media #{$medium-up} {
                right: 35px;
            }

            @media #{$big-up} {
                top: -4px;
                right: auto;
                left: 50%;
                transform: rotate(45deg) translate(-50%, 0);
            }
        }
    }

    &__tooltip-item {        
        display: flex;
        justify-content: space-between;
    }

    &__tooltip-name {
        padding-right: 20px;
        padding-bottom: 10px;
        width: 70%;
        border-right: 1px solid $red;
        color: $font-color;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__tooltip-link {
        @include transition(opacity);
        position: relative;
        padding: 0 15px;
        font-weight: 400;
        font-size: 11px;
        text-transform: uppercase;
        cursor: pointer;

        @media #{$big-up} {        
            &:hover {
                opacity: .5;
            }
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 3px;
            right: 0;
            width: 7px;
            height: 7px;
            border-right: 2px solid $red;
            border-bottom: 2px solid $red;
            transform: rotate(-45deg);
        }
    }

    &__table {
        width: 100%;
        margin-bottom: 20px;

        @media #{$big-up} {
            margin-bottom: 40px; 
        }

        @media #{$large-up} {
            margin-bottom: 50px; 
        }

        thead {
            display: none;

            @media #{$medium-up} {
                display: block;
            }

            tr {
                margin-bottom: 30px;

                @media #{$big-up} {
                    margin-bottom: 20px;
                }

                @media #{$large-up} {
                    margin-bottom: 30px;
                }
            }
        }

        th {
            text-align: center;

            @media #{$big-up} {
                border-right: none;
            }

            span {
                display: block;
                margin-top: 10px;
                font-weight: 400;
            }
        }

        tr {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            @media #{$big-up} {
                margin-bottom: 0;
            }
        }

        a {
            @include transition(color);
            color: inherit;
            text-decoration: none;

            @media #{$big-up} {
                &:hover {
                    color: $title-color;
                }
            }
        }
    }

    &__table-title {
        margin-bottom: 10px;
        font-weight: 500;

        @media #{$medium-up} {
            display: none;
        }
    }

    &__table-date {
        padding-bottom: 10px;
    }

    &__table-time {
        width: 50%; 

        @media #{$medium-up} {
            padding-right: 10px;
            width: 20%;
        }

        @media #{$big-up} {
            border-right: 1px solid $light-gray;
            padding-bottom: 20px;
            padding-right: 20px;
            width: 15%;
        }

        @media #{$xxlarge-up} {
            width: 10%;
        }
    }

    &__table-theme {
        width: 50%;
        margin-bottom: 10px;

        @media #{$medium-up} {
            margin-bottom: 0;
            padding-right: 10px;
            width: 25%;
        }

        @media #{$big-up} {
            border-right: 1px solid $light-gray;
            padding-bottom: 20px;
            padding: 0 20px 20px;
            width: 30%;
        }

        @media #{$xxlarge-up} {
            width: 35%;
        }
    }

    &__table-expert {
        padding-left: 50%;
        width: 100%;
        margin-bottom: 10px;

        @media #{$medium-up} {
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 10px;
            width: 20%;
        }

        @media #{$big-up} {
            border-right: 1px solid $light-gray;
            padding-bottom: 20px;
            padding: 0 20px 20px;
            width: 25%;
        }
    }

    &__table-place {
        padding-left: 50%;
        width: 100%;
        margin-bottom: 10px;

        @media #{$medium-up} {
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 10px;
            width: 15%;
        }

        @media #{$big-up} {
            border-right: 1px solid $light-gray;
            padding-bottom: 20px;
            padding: 0 20px 20px;
            text-align: center;
        }

        p {
            @media #{$big-up} {
                font-size: 12;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }

    &__table-price {
        padding-left: 50%;
        width: 100%;

        @media #{$medium-up} {
            padding-left: 10px;
            width: 20%;
        }

        @media #{$big-up} {
            padding-bottom: 20px;
            padding-left: 20px;
            width: 15%;
        }

        input:checked + label:before {
            background-image: url('../images/incart.svg');
        }

        label {
            display: flex;
            align-items: center;
            position: relative;

            &:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                background-image: url('../images/notincart.svg');
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 10px;
            }

            &.is-disabled {
                pointer-events: none;
            }
        }

        svg {
            margin-right: 10px;
        }

        span {
            font-weight: 500;
        }
    }

    &__btns {
        @media #{$medium-up} {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__btn {
        margin-bottom: 20px;
        justify-content: start;

        @media #{$medium-up} {
            margin-bottom: 0;
            margin-right: 0;
            max-width: 210px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .b-icon {
            @media #{$medium-up} {
                width: 60px;
                margin-right: 10px;
            }
        }
    }
}

//STATE
.b-program-filter__filter-item--program {
    width: 100%;
    align-items: center;

    @media #{$medium-up} {
        margin-top: 20px;
        justify-content: center;
    }

    .b-program-filter__filter-list {
        flex-wrap: wrap;

        @media #{$medium-up} {
            flex-wrap: nowrap;
        }

        li {
            width: 100%;
            text-align: right;
            margin-right: 0;
            margin-bottom: 10px;

            @media #{$medium-up} {
                margin-right: 30px;
                margin-bottom: 0;
            }

            &:last-child {
                @media #{$medium-up} {
                    &:after {
                        display: none;
                    }
                }
            }

            &:after {
                display: none;

                @media #{$medium-up} {
                    display: block;
                }
            }

            a {
                @media #{$medium-up} {
                    white-space: nowrap;
                }
            }
        }
    }
}

.b-program-filter__tooltip--date {
    width: 120px;

    .b-program-filter__tooltip-item {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .b-program-filter__tooltip-link {
        width: 100%;
        text-align: center;
        font-weight: 400;
        padding-left: 0;
    }
}