$gradient-color: #f7f5f3;

.b-road {
    max-height: 100%;
    overflow: hidden;
    overflow-y: scroll;

    @media #{$medium-up} {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: none;
        overflow: inherit;
    }
    
    @media #{$xxlarge-up} {
        padding: 0 150px;
    }

    &.is-scroll-end {
        &:after {
            opacity: 0;
        }
    }

    &:after {
        @include transition(opacity);
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 50px;
        background: linear-gradient(to bottom, rgba($gradient-color, 0) 0%, $gradient-color 100%);

        @media #{$medium-up} {
            display: none;
        }
    }

    &__header {
        display: none;
        position: relative;
        margin-bottom: 35px;

        @media #{$big-up} {
            display: block;
        }
    }

    &__title {
        @media #{$big-up} {
            color: $title-dark-color;
            font-size: 48px;
            line-height: 40px;
            font-weight: 400;
            letter-spacing: 14px;
            text-transform: uppercase;
        }
        
        @media #{$xxlarge-up} {
            font-size: 50px;
            letter-spacing: 16px;
        }
    }

    &__subtitle {
        font-size: 22px;
        color: $title-color;
        font-weight: 700;
        margin: 20px 0;
        line-height: 26px;

        @media #{$big-up} {
            font-size: 26px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        @media #{$large-up} {
            margin-bottom: 35px;
        }
    }

    &__address {
        position: absolute;
        right: 0;
        bottom: 0;

        @media #{$big-up} {
            max-width: 47%;
            font-size: 13px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;

        @media #{$big-up} {
            flex-direction: row;
        }
    }

    &__item {
        margin-bottom: 15px;

        @media #{$big-up} {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding-right: 10px;
            margin-bottom: 0;
        }
    }

    &__types {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        @media #{$medium-up} {
            margin-bottom: 20px;
        }

        @media #{$big-up} {
            justify-content: space-around;
        }
    }

    &__type {
        @include transition(color);
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 10px;
        color: $font-color;
        text-transform: uppercase;
        text-decoration: none;

        @media #{$big-up} {
            flex-direction: column;
            font-size: 12px;
        }

        &.is-active {
            color: $red;
            .b-icon {
                fill: $red;
            }
        }

        span {
            margin-left: 5px;

            @media #{$medium-up} {
                margin-left: 20px;
            }

            @media #{$big-up} {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }

    &__txt {        
        line-height: 25px;
        font-weight: 400;

        span {
            font-weight: 500;
        }
    }

    &__desc {
        margin-bottom: 20px;

        @media #{$big-up} {
            max-width: 85%;
            text-align: justify;
            margin-left: auto;
            font-size: 12px;
            margin-bottom: 10px;
        }

        @media #{$large-up} {
            padding-top: 20px;
            margin-bottom: 20px;
        }
    }

    &__map {
        width: 100%;
        height: 250px;
        max-height: 250px;
        border-radius: 10px;
        overflow: hidden;

        @media #{$medium-up} {
            height: 350px;
            max-height: 350px;
        }

        @media #{$big-up} {
            height: 65%;
            max-height: none;
            margin-top: auto;
        }

        @media #{$xlarge-up} {
            height: 70%;
        }
    }

    &__img {
        display: none;
        border-radius: 10px;
        overflow: hidden;

        @media #{$big-up} {
            margin-top: auto;
            display: block;
            height: 65%;
        }

        @media #{$xlarge-up} {
            height: 70%;
        }

        img {
            @media #{$big-up} {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    }
}