.b-scroll {
    width: 100%;
    position: fixed;
    padding: 0 30px;
    left: 0;
    bottom: 10px;
    z-index: 10;

    &.is-hidden {
        z-index: -1;
        
        @media #{$medium-up} {
            z-index: 0;
        }
    }

    &.is-white {
        .b-scroll__menu {
            &:after {                
                border-left: 8px solid $white;
                top: 56%;
                transform: translate(0,-50%) rotate(-180deg);
            }
        }

        .b-scroll__circle {
            background-color: $white;

            &:after {
                background-color: $white;
            }
        }
        
        .b-scroll__num,
        .b-scroll__name {
            color: $white;
        }
    }

    @media #{$large-up} {
        width: auto;
        padding: 0;
        bottom: auto;
        top: 55%;
        left: 5%;
        transform: translate(0, -50%);
        
        &.is-first {            
            .b-scroll__circle {
                background-color: $white !important;

                &:after {
                    background-color: $white;
                }
            }
        }
    }

    &__menu {
        position: relative;
        border-top: 1px solid $red;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @media #{$large-up} {
            padding-right: 0;
            border-top: none;
            flex-direction: column;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            display: block;            
            width: 0px;
            height: 0px;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 8px solid $red;
            transform: translate(0, -50%);

            @media #{$large-up} {
                display: none;
            }
        }
    }

    &__page {
        letter-spacing: 1.5px;
        font-size: 12px;
        text-transform: uppercase;

        &.is-first {            
            color: $white;
        }

        @media #{$big-up} {
            font-size: 14px;
        }

        @media #{$large-up} {
            display: none;
        }
    }

    &__item {
        margin: 10px 0; 

        @media #{$large-up} {
            margin: 15px 0;
        }     

        &.is-first {            
            color: $white;
        }

        &.active {
            .b-scroll__num {
                display: block;
                opacity: 1;
            } 

            .b-scroll__circle {
                margin-left: 60px;
                background-color: $red;

                &:after {
                    width: 50px;
                }
            } 
            
            @media #{$large-up} {
                .b-scroll__name {
                    display: block;
                    opacity: 1;
                } 

                .b-scroll__circle {
                    margin-left: 0;
                    margin-bottom: 60px;
                        
                    @media #{$xxlarge-up} {
                        margin-bottom: 110px;
                    }
    
                    &:after {
                        width: 3px;
                        height: 60px;
                        
                        @media #{$xxlarge-up} {
                            height: 100px;
                            top: 35px;
                        }
                    }
                }
            }
        }

        a {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            color: inherit;

            @media #{$large-up} {
                flex-direction: column;
            }
        }
    }

    &__num {
        @include transition(opacity);
        display: none;
        opacity: 0;
        margin-right: 5px;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 3px;

        @media #{$big-up} {
            font-size: 30px;
        }

        @media #{$large-up} {
            margin-bottom: 35px;
        }

        @media #{$xxlarge-up} {
            font-size: 60px;
        }
    }

    &__circle {
        position: relative;
        display: block;
        width: 8px;
        height: 8px;
        background-color: $red;
        border-radius: 50%;
        
        &:after {
            @include transition(width, height);
            content: '';
            position: absolute;
            top: 50%;
            right: 18px;
            transform: translate(0,-50%);
            width: 0;
            height: 4px;
            background-color: $red;
        }
        
        @media #{$large-up} {
            width: 10px;
            height: 10px;
            background-color: $black;

            &:after {
                top: 23px;
                left: 50%;
                transform: translate(-50%, 0);
                width: 3px;
                height: 0;
                background-color: $black;
            }
        }

        @media #{$xxlarge-up} {
            width: 15px;
            height: 15px;
        }
    }

    &__name {
        @include transition(opacity);
        display: none;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translate(0, -50%);
        opacity: 0;
        white-space: nowrap;
        letter-spacing: 2px;
        
        @media #{$large-up} {
            display: block;
            left: 30px;
            font-size: 14px;
            text-transform: uppercase;
        }
       
        @media #{$xxlarge-up} {
            left: 50px;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        @media #{$large-up} {
            flex-direction: column;
        }
    }
}

//STATE
.b-scroll__num--white {
    color: $white;
}