$bg-partners-mobile: #d6d6d6;
$bg-partners-desktop: #d6d6d6;

.b-section {
    padding: 35px 30px;
    
    @media #{$medium-up} {
        padding: 50px 80px;
    }

    @media #{$large-up} {
        padding: 0 55px;
    }

    &__wrapper {
        position: relative;
        padding: 50px 0 50px;
        height: calc(100% - 50px);
        overflow: hidden;
        overflow-y: scroll;
        z-index: 10;

        @media #{$medium-up} {
            padding: 50px 0 30px;
        }

        @media #{$big-up} {
            overflow: inherit;
        }

        @media #{$large-up} {
            height: 100vh;
            position: relative;
            overflow: inherit;
            padding: 110px 150px 20px;
        }
        
        @media #{$xxlarge-up} {
            padding: 120px 250px 20px;
        }
    }

    &__img {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        z-index: 5;

        @media #{$large-up} {
            background-position: center center;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100vw;
            height: 100vh;
            background-color: #fff;
            opacity: .9;
        }
    }

    &__title {
        position: relative;
        margin: 15px 0 20px;
        padding-left: 50px;
        color: $red;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;

        @media #{$medium-up} {
            padding-left: 60px;
            line-height: 30px;
            font-weight: 400;
            letter-spacing: 14px;
            text-transform: uppercase;
        }

        @media #{$big-up} {
            font-size: 39px;
            line-height: 40px;
            margin-bottom: 50px;
            padding-right: 50%;
        }
        
        @media #{$large-up} {
            padding-left: 0;
            margin-left: -25px;
            font-size: 48px;
            line-height: 50px;
            padding-right: 45%;
        }
        
        @media #{$xlarge-up} {
            padding-right: 50%;
        }

        @media #{$xxlarge-up} {
            margin-left: 30px;
            padding-left: 30px;
        }
    
        &:before {
            @media #{$large-up} {
                content: '';
                position: absolute;
                top: -50px;
                left: 55%;
                display: block;
                width: 3px;
                height: calc(100% + 50px);
                background-color: $dark-gray;
            }
            @media #{$xlarge-up} {
                left: 50%;
            }
        }
    }

    &__subtitle {
        display: none;
        position: absolute;
        top: 50%;
        right: 0;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 14px;
        transform: translate(0, -50%);
        color: $font-color;

        @media #{$big-up} {
            display: block;
            font-size: 10px;
        }

        @media #{$xlarge-up} {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__back {
        @include transition(opacity);
        position: absolute;
        top: -5px;
        left: 0;
        opacity: .5;
        text-decoration: none;
        color: $font-color;
        cursor: pointer;

        @media #{$xsmall-up} {
            top: -5px;
        }

        @media #{$big-up} {
            &:hover {
                opacity: 1;
            }
        }

        @media #{$large-up} {
            top: auto;
            bottom: -125px;
            left: -90px;
        }

        @media #{$xxlarge-up} {
            left: -65px;
        }

        .b-section__back-icon {
            width: 35px;
            height: 35px;

            @media #{$big-up} {
                width: 40px;
                height: 40px;
            }

            @media #{$large-up} {
                width: 60px;
                height: 60px;
            }
        }

        span {
            display: none;

            @media #{$large-up} {
                display: block;
                font-size: 8px;
                line-height: 18px;
                letter-spacing: 0;
                font-weight: 600;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}

//IS_IOS
.is-ios {
    .b-section__wrapper {
        padding: 50px 0 0;
    }
}

//STATE
.b-section--main {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media #{$large-up} {
        background-image: none;
        padding: 0;
    }
}

.b-section--img {
    position: relative;
    overflow: hidden;
}

.b-section--partners {
    .b-section__img {
        background-color: $bg-partners-mobile;
    
        @media #{$large-up} {
            background-color: $bg-partners-desktop;
        }
    
        &:before {
            display: none;
        }
    }
}

.b-section--inner {
    .b-section__wrapper {
        height: auto;
        overflow: inherit;

        @media #{$large-up} {
            padding: 100px 150px;
        }


        @media #{$xlarge-up} {
            padding: 100px 200px;
        }

        @media #{$xxlarge-up} {
            padding: 100px 250px;
        }

        &:before {
            height: 155px;
        }
    }
}

.b-section__img--mobile {
    @media #{$big-up} {
        display: none;
    }
}

.b-section__wrapper--title {    
    position: relative;

    &:before {
        @media #{$large-up} {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            display: block;
            width: 3px;
            height: 175px;
            background-color: $dark-gray;
        }

        @media #{$xxlarge-up} {
            left: 50%;
        }
    }
}

.b-section__wrapper--title-red {
    &:before {
        @media #{$large-up} {
            background-color: $red;
        }
    }
}

.b-section--black {
    background-color: $black;
}

.b-section__subtitle--forum {
    @media #{$xlarge-up} {
        font-size: 11px;
    }

    @media #{$xxlarge-up} {
        font-size: 14px;
    }
}

.b-section__title--long {
    padding-right: 0;

    @media #{$big-up} {
        padding-right: 0;
    }
    
    &:before {
        @media #{$large-up} {
            display: none;
        }
    }
}

.b-section__title--large{  
    &:before {        
        @media #{$xlarge-up} {
            left: 57%;
        }
        @media #{$xxlarge-up} {
            left: 50%;
        }
    }
}