$option-font-color: #6a6a6a;
$select-bg: #fafafa;

.b-select {
    position: relative;

    &.is-active {
        .b-select__title {
            border-radius: 10px 10px 0 0;

            &:after {
                top: 55%;
                transform: translate(0,-50%) rotate(-135deg);
            }
        }

        .b-select__options {
            display: block;
        }
    }

    &__title {
        display: block;
        position: relative;
        padding: 10px;
        border: 1px solid $red;
        border-radius: 10px;
        color: $option-font-color;
        text-decoration: none;
        font-weight: 400;
        margin-bottom: 15px;

        &:after {
            content: '';
            position: absolute;
            top: 45%;
            right: 15px;
            display: block;
            width: 10px;
            height: 10px;
            border-right: 2px solid $red;
            border-bottom: 2px solid $red;
            transform: translate(0, -50%)  rotate(45deg);
        }

        .b-select__item  {
            margin-bottom: 0;
        }
    }

    &__options {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 10px 10px 0px;
        border: 1px solid $red;
        border-top: none;
        background-color: $select-bg;
        z-index: 10;

    }

    &__item {
        display: block;
        color: $option-font-color;
        text-decoration: none;
        font-weight: 400;
        margin-bottom: 15px;
        font-weight: 400;
    
        &.is-hidden {
            display: none;
        }
    }
}