.b-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0);

    @media #{$medium-up} {
        bottom: 30px;
        width: calc(100% - 60px);
    }

    @media #{$big-up} {
        bottom: 50px;
        margin-top: auto;
        padding-bottom: 40px;
        width: 100%;
        position: static;
        transform: none;
    }

    @media #{$xxlarge-up} {
        padding-bottom: 25px;
    }

    &__link {
        outline: none;
    }

    &__icon {
        width: 30px;
        height: 30px;
        
        @media #{$medium-up} {
            width: 40px;
            height: 40px;
        }

        @media #{$xlarge-up} {
            width: 50px;
            height: 50px;
        }

        @media #{$xxlarge-up} {
            width: 70px;
            height: 70px;
        }
    }
}