$gradient-color: #f7f5f3;

.b-star {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
    overflow-y: scroll;

    @media #{$medium-up} {
        height: 100%;
        max-height: none;
        overflow: hidden;
    }
    
    @media #{$big-up} {
        flex-direction: row;
    }

    @media #{$large-up} {
        overflow: inherit;
    }

    @media #{$xxlarge-up} {
        padding: 0 150px;
    }

    &.is-scroll-end {
        &:after {
            opacity: 0;
        }
    }

    &:after {
        @include transition(opacity);
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 50px;
        background: linear-gradient(to bottom, rgba($gradient-color, 0) 0%, $gradient-color 100%);

        @media #{$medium-up} {
            display: none;
        }
    }

    &__title {
        display: none;
        color: $red;
        line-height: 40px;
        font-weight: 400;
        letter-spacing: 14px;
        text-transform: uppercase;

        @media #{$big-up} {
            display: block;
            font-size: 39px;
            white-space: nowrap;
            margin-left: -120px;
        }
        
        @media #{$xlarge-up} {
            font-size: 48px;
        }
    }

    &__item {
        @media #{$big-up} {
            width: 50%;
        }
    }

    &__img {
        display: none;
    }

    &__name {
        margin: 15px 0;
        font-size: 22px;
        color: $title-color;
        font-weight: 700;
        text-align: center;

        @media #{$xsmall-up} {
            margin: 25px 0;
        }

        @media #{$big-up} {
            margin: 45px 0 20px;
            font-size: 30px;
            line-height: 28px;
            font-weight: 400;
            text-align: left;
        }
    }

    &__quote {
        quotes: "“" "”" "‘" "’";
        position: relative;
        display: none;
        margin-top: 60px;
        padding-top: 10px;
        padding-left: 45px;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;

        &:before {
            content: open-quote;
            display: block;
            position: absolute;
            font-size: 110px;
            line-height: 85px;
            top: 0;
            left: 0;

        }

        &:after {
            content: close-quote;
            position: absolute;
            padding-left: 10px;
            font-size: 110px;
            line-height: 85px;
        }

        @media #{$big-up} {
            display: block;
        }
    }

    &__desc {
        line-height: 16px;

        @media #{$medium-up} {
            line-height: 20px;
        }
    }
}

//STATE
.b-star__item--text {
    @media #{$xlarge-up + $height-700-up} {
        padding-top: 50px;
    }
}

.b-star__img--mobile {
    display: block;
    text-align: center;

    img {
        display: inline;
        max-height: 200px;

        @media #{$medium-up} {
            max-height: 250px;
        }

        @media #{$big-up} {
            display: none;
        }
    }

    @media #{$big-up} {
        display: none;
    }
}

.b-star__img--desktop {
    display: none;
    @media #{$big-up} {
        display: block;
    }
}