.b-stat {
    display: none;

    @media #{$medium-up} {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    @media #{$big-up} {
        margin-bottom: 0;
    }

    @media #{$large-up} {
        margin-bottom: 20px;
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 15px;
        
        @media #{$big-up} {
            min-height: 50px;
        }

        @media #{$xxlarge-up} {
            margin-bottom: 20px;
        }
    }

    &__item {
        color: $white;
        width: calc(100% / 3);
        text-align: center;
        border-right: 1px solid $red;

        &:last-of-type {
            border-right: none;
        }

        @media #{$large-up} {
            width: calc(100% / 2);
            padding: 0 20px;
            line-height: 16px;
        }

        @media #{$xxlarge-up} {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__num {
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;

        @media #{$large-up + $height-700-up} {
            font-size: 38px;
            line-height: 38px;
        }

        @media #{$xxlarge-up} {
            font-size: 40px;
        }
    }
}

//STATE
.b-stat__item--line {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

    .b-stat__num {
        margin-right: 10px;
    }
}