$bg-hover: #a2a2a2;
$bg-active: #d8d8d8;
$txt-hover: #474747;

.b-submenu {
    position: fixed;
    width: 15px;
    height: 15px;
    top: 35px;
    right: 30px;
    z-index: 15;
    
    @media #{$large-up} {
        display: none;
    }

    &__icon {
        position: absolute;
        top: 0;
        right: 0;

        &.is-white {
            .b-icon {
                fill: $white;
            }
        }
        
        &.is-hidden {
            display: none;
        }
    }

    &__close { 
        padding: 10px;
        background-color: rgba(0,0,0,.8);
        border-radius: 4px 4px 0 0;
        height: 30px;
    }

    &__body {
        display: none;
        position: absolute;
        width: calc(100vw - 30px);
        top: -15px;
        right: -15px;
        z-index: 10;

        &.is-open {
            display: block;
        }
    }

    &__items {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 20px;
        margin-top: 30px;
        background-color: rgba(0,0,0,.8);
        border-radius: 4px 0 4px 4px;

        @media #{$medium-up} {
            justify-content: start;
        }
    }

    &__item {
        @include transition(width, height);
        position: relative;
        display: block;
        padding: 5px;
        margin-bottom: 10px;
        width: 90px;
        height: 90px;
        border-radius: 4px;
        border: 1px solid $white;
        text-decoration: none;
        outline: none;
        margin-right: 10px;

        &:active,
        &:focus {
            background-color: $bg-active;
            border-color: $bg-active;

            .b-submenu__txt {
                color: $txt-hover;
            }
        }

        @media #{$xsmall-up} {
            width: 110px;
            height: 110px;
            padding: 10px;
            margin-bottom: 20px;
        }

        @media #{$medium-up} {
            width: 125px;
            height: 125px;
            margin-right: 20px;
        }
        
        @media #{$big-up} {
            &:hover {
                background-color: $bg-hover;
                border-color: $bg-hover;

                .b-submenu__txt {
                    color: $txt-hover;
                }
            }
        }
    }
    
    &__img {
        position: absolute;
        width: 100%;
        height: 65%;
        top: 40%;
        transform: translate(0, -50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;

        svg {                
            width: 100%;
            height: 100%;
            padding: 10px 25px;

            @media #{$medium-up} {
                padding: 20px 30px;
            }
        }
    }

    &__txt {
        color: $white;
        font-size: 10px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        position: absolute;
        left: 0;
        bottom: 5px;
        right: 0;
        margin: 0 auto;
        white-space: nowrap;

        @media #{$medium-up} {
            font-size: 12px;
            bottom: 10px;
        }
    }

    &__cart-num {
        position: absolute;
        font-weight: 700;
        color: $white;
        z-index: 10;
        top: 37%;
        left: 53%;
        transform: translate(-50%, -50%);
    }

    &__lang {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $red;
        text-align: center;
        font-weight: 700;
    }
}

//STATE
.b-submenu__item--cart {
    position: relative;
}