$gray-title: #444444;
$bg-partner: #f1f1f1;

.b-tour-detail {
    position: relative;

    @media #{$xlarge-up} {
        margin: 0 50px;
    }

    @media #{$xxlarge-up} {
        margin: 0 150px;
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        @media #{$medium-up} {
            padding-left: 30%;
            justify-content: flex-start;
        }
    }

    &__link {
        display: block;
        padding: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: $red;
        border: 1px solid $red;
        border-radius: 10px;
        color: $white;
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;

        @media #{$big-up} {
            font-size: 14px;
            line-height: 14px;
        }

        &.is-active {
            background-color: $white;
            color: $red;
        }
    }

    &__title {
        padding-bottom: 3px;
        margin-bottom: 10px;
        color: $gray-title;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase; 
        border-bottom: 1px solid $gray-title;

        span {
            color: $red;
        }
    }

    &__subtitle {
        margin-bottom: 20px;
        color: $gray-title;
        font-weight: 500;
        text-transform: uppercase; 
        text-decoration: underline;
    }

    &__icon {
        fill: $red;
        width: 100%;
        height: 100%;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;

        @media #{$big-up} {
            margin: 0;
            width: 300px;
        }

        .b-tour-detail__icon {
            width: 60px;
            height: 60px;
            margin-right: 10px;

            @media #{$medium-up} {
                margin-right: 20px;
            }
        }
    }

    &__line {
        padding: 10px 25px;
        width: 100%;
        background-color: $red;
        color: $white;
        line-height: 16px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;

        @media #{$big-up} {
            width: calc(100% - 520px);
            margin-right: -80px;
            text-align: left;
            font-size: 16px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
        }

        @media #{$large-up} {
            width: calc(100% - 395px);
            padding: 15px 25px;
            margin-right: -205px;
            font-size: 18px;
        }

        @media #{$xlarge-up} {
            width: calc(100% - 300px);
            margin-right: -305px;
        }

        @media #{$xxlarge-up} {
            width: calc(100% - 145px);
            margin-right: -455px;
        }
    }

    &__item {
        margin-bottom: 20px;
    }

    &__item-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;

        @media #{$medium-up} {
            padding-left: 30%;
            margin-bottom: 0;
        }
    }

    &__region {
        position: relative;

        @media #{$medium-up} {
            position: absolute;
            width: 30%;
            height: 300px;
            left: 0;
            top: 0;
        }

        .b-tour-detail__icon {
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translate(-50%, 0);
            max-width: 100px;
            height: 100px;
            z-index: 20;

            @media #{$medium-up} {
                width: 100%;
                max-width: none;
                height: 200px;
                bottom: -20px;
            }

            @media #{$big-up} {
                height: 300px;
                bottom: -150px;
            }
        }
    }

    &__photo {
        width: 100px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

        @media #{$medium-up} {
            width: 100%;
            height: 100%;
            background-position: top center;
        }
    }

    &__place {
        margin-bottom: 10px;
        color: $gray-title;
        line-height: 18px;
        text-transform: uppercase;

        span {
            display: block;

            @media #{$medium-up} {
                display: inline-block;
            } 
        }
    }

    &__desc {
        line-height: 16px;
    }

    &__gallery {
        display: flex;
        flex-direction: column;

        @media #{$medium-up} {
            padding-left: 30%;
            flex-direction: row;
        }
    }

    &__gallery-item {
        display: flex;
        margin-bottom: 20px;
        align-items: center;

        @media #{$medium-up} {
            flex-direction: column;
            width: 70%;
            margin-bottom: 0;
            margin-right: 10px;
        }

        @media #{$big-up} {
            margin-right: 20px;
        }

        @media #{$xlarge-up} {
            width: 75%;
        }

        &:last-child {
            margin-bottom: 0;

            @media #{$medium-up} {
                width: 30%;
                margin-right: 0;
            }

            @media #{$big-up} {
                margin-right: 0;
            }

            @media #{$xlarge-up} {
                width: 25%;
            }

            & > div {                
                width: calc(100% / 3);

                @media #{$medium-up} {
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
    }

    &__gallery-img {
        border-radius: 10px;
        overflow: hidden;

        &--main {
            height: 200px;

            @media #{$big-up} {
                width: 100%;
                height: 300px;
            }

            @media #{$xxlarge-up} {
                height: 350px;
            }
        }

        &--thumb {
            @include transition(opacity);
            display: inline-block;
            max-width: 80px;
            height: 50px;
            margin-right: 10px;
            margin-bottom: 10px;
            cursor: pointer;

            @media #{$medium-up} {
                max-width: none;
                height: 80px;
            }

            @media #{$big-up} {
                margin-bottom: 20px;
                height: 100px;

                &:hover {
                    opacity: .5;
                }
            }
            
            @media #{$xlarge-up} {
                height: 120px;
            }

            @media #{$xxlarge-up} {
                height: 125px;
            }
        }

        img {         
            width: 100%;   
            height: 100%;
            object-fit: cover;
        }
    }

    &__socials {
        margin-left: auto;
        text-align: center;

        @media #{$medium-up} {
            margin-top: auto;
        } 
    }

    &__socials-title {
        margin-bottom: 20px;
        color: $gray-title;
        font-weight: 500;
        text-transform: uppercase;

        @media #{$medium-up} {
            font-size: 10px;
            margin-bottom: 10px;
        }    
    }

    &__socials-link {        
        display: inline-block;
        margin-right: 15px;
        max-width: 30px;
        max-height: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__partners {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        @media #{$big-up} {
            width: 100%;
        }

        .b-partners__logo {
            background-color: $bg-partner;
        }

        .b-partners__item {
            margin-bottom: 0;

            @media #{$big-up} {
                width: calc(100% / 6);
            }
        }
    }
}

//STATE
.b-tour-detail__item--btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media #{$medium-up} {
        flex-direction: row;
        align-items: center;
    }

    @media #{$big-up} {
        position: relative;
        justify-content: flex-start;
    }
}

.b-tour-detail__item--parnters {
    @media #{$big-up} {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}