$gray-icon: #918f8f; 
$gray-border: #959595;
$gray-title: #444444;
$gray-tags: #3e3b39;

.b-tour {
    &__header {
        position: relative;
        
        @media #{$big-up} {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media #{$xlarge-up} {
            margin-bottom: 20px;
        }

        .b-section__back {
            @media #{$big-up} {
                top: 50%;
                transform: translate(0, -50%);
            }

            @media #{$large-up} {
                top: auto;
            }
        }
        
    }

    &__footer {
        @media #{$medium-up} {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @media #{$xxlarge-up} {
            padding: 0 50px;
        }
    }

    &__logo {
        position: relative;
        display: none;
        max-width: 300px;

        @media #{$big-up} {
            display: block;
        }

        &:before {
            @media #{$large-up} {
                content: '';
                position: absolute;
                top: -50px;
                right: 30px;
                display: block;
                width: 2px;
                height: calc(95%);
                background-color: $gray-border;
            }
        }
    }

    &__logo-icon {
        fill: $gray-icon;
        max-height: 150px;
    }

    &__icon {
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        margin-bottom: 10px;
        fill: $red;

        @media #{$big-up} {
            margin-bottom: 0;
            margin-right: 10px;
        }

        @media #{$xlarge-up} {
            width: 80px;
            height: 80px; 
            margin-top: -15px;
        }

        @media #{$xxlarge-up} {
            margin-right: 20px;
        }
    }

    &__btn {
        margin-bottom: 20px;

        @media #{$medium-up} {
            max-width: 200px;
        }

        @media #{$big-up} {
            max-width: 320px;
            display: flex;
            align-items: center;
        }

        @media #{$xxlarge-up} {
            max-width: 350px;
        }

        .b-btn {
            @media #{$medium-up} {
                min-height: 60px;
            }
        }
    }

    &__title {
        position: relative;
        margin: 15px 0 20px;
        padding-left: 50px;
        color: $red;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;

        @media #{$big-up} {
            padding-left: 0;
            text-transform: uppercase;
            font-size: 39px;
            line-height: 40px;
            font-weight: 400;
        }

        b {
            font-size: 22px;

            @media #{$big-up} {
                font-size: inherit;
            }
        }
    }

    &__subtitle {
        margin-bottom: 20px;
        color: $gray-title;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;

        @media #{$big-up} {
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 14px;
        }

        @media #{$xlarge-up} {
            font-size: 16px;
        }

        span {
            line-height: 25px;
            padding-bottom: 5px;
            border-bottom: 1px solid $gray-title;
        }
    }

    &__list {
        margin-bottom: 20px;

        @media #{$big-up} {
            margin-bottom: 0;
        }
    }

    &__list-header {
        position: relative;
        padding-right: 30px;
        margin-bottom: 40px;
    }

    &__list-title {
        padding-bottom: 4px;
        border-bottom: 1px solid $gray-title;
        color: $gray-title;
        text-transform: uppercase;
        font-weight: 500;

        span {
            color: $red;
        }
    }

    &__list-close {
        position: absolute;
        top: -5px;
        right: -10px;
        cursor: pointer;

        @media #{$xlarge-up} {
            top: 5px;
        }

        .b-tour__icon {
            width: 30px;
            height: 30px;
            margin-right: 0;
        }
    }

    &__list-item {
        @include transition(color);
        display: flex;
        font-weight: 400;
        text-decoration: none;
        color: $font-color;

        &:last-child {
            .b-tour__list-city {
                padding-bottom: 0;
            }
        }

        @media #{$big-up} {
            justify-content: center;
            
            &:hover {
                font-weight: 500;
                color: $red;

                .b-tour__list-link {
                    border-color: $red;
                }
            }
        }
    }

    &__list-city {
        width: 45%;
        min-width: 35%;
        max-width: 45%;
        padding-right: 10px;
        padding-bottom: 20px;
        border-right: 1px solid $gray-border;
        text-align: left;

        @media #{$big-up} {
            text-align: right;
        }
    }

    &__list-date {
        padding-left: 10px;

        @media #{$medium-up} {
            width: 100%;
        }
    }

    &__list-link {
        display: inline-block;
        margin-left: 10px;
        border-bottom: 1px solid $gray-border;   
    }

    &__select {
        @media #{$medium-up} {
            display: none;
        }
    }

    &__map {
        display: none;

        @media #{$medium-up} {
            display: block;
            position: relative;
            margin-bottom: 30px;
        }

        @media #{$large-up} {
            margin-bottom: 50px;
        }

        @media #{$xxlarge-up} {
            padding: 0 50px;
            margin-bottom: 100px;
        }
    }

    &__map-fo {
        @include transition(all);
        fill: $gray-icon;
        cursor: pointer;

        @media #{$big-up} {
            &:hover {
                fill: $red;
            }
        }

        &.is-active {
            fill: $red;
        }
    }

    &__map-popup {
        display: none;
        min-width: 400px;
        padding: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        background-color: rgba($white, 0.7);
        border: 1px solid $gray-border;
        border-radius: 10px;
        z-index: 20;

        &.is-left {
            right: auto;
            left: 0;
        }

        &.is-active {
            display: block;
        }
    }

    &__tags {
        color: $gray-tags;
        font-weight: 500;
        text-transform: uppercase;

        @media #{$big-up} {
            width: 50%;
            margin-left: auto;
            padding-right: 20%;
        }

        @media #{$xlarge-up} {
            padding-right: 10%;
        }

        span {
            display: block;
            margin-bottom: 5px;
            text-align: right;

            @media #{$large-up} {
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 600;
            }

            @media #{$xlarge-up} {
                font-size: 24px;
                line-height: 24px;
            }
        }
    }
}

//STATE
.b-tour__btn--one-line {
    @media #{$medium-up} {
        .b-btn {
            padding-top: 20px;
        }
    }
}

.b-tour__icon--map {
    width: 100px;

    @media #{$xlarge-up} {
        width: 120px;
    }
}

.b-tour__tags--inner {
    @media #{$big-up} {
        padding-right: 0;
    }

    @media #{$xlarge-up} {
        padding-right: 50px;
    }

    @media #{$xxlarge-up} {
        padding-right: 150px;
    }
}