body:not(.is-ie) {
    .hover-animate:hover {
        @media #{$large-up} {
            #first-ticket {
                transform-origin: center;
                animation: first-ticket-bounce 1s normal 1;
            }
            #second-ticket {
                transform-origin: center;
                animation: second-ticket-bounce 1s alternate 1;
            }

            #ticket-circle {
                transform-origin: center;
                animation: ticket-circle-bounce 1s alternate 1;
            }

            #woman {
                transform-origin: center;
                animation: woman-bounce 1s alternate 1;
            }    

            #man {
                transform-origin: center;
                animation: man-bounce 1s alternate 1;
            }

            #tour-arrow {
                transform-origin: center;
                animation: ticket-circle-bounce 1s alternate 1;
            }

            #tour-arrow polygon {
                fill: $red;
            }

            #line1,
            #line2,
            #line3,
            #line4,
            #line5, {
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
                animation: line-bounce 1s linear forwards;
            }
            #line1{
                animation-duration: 2s;
            }
            #line2 {
                animation-duration: 3s;
            }
            #line3 {
                animation-duration: 2.5s;
            }
            #line4 {
                animation-duration: 4s;
            }
            #line5 {
                animation-duration: 5s;
            }

            #photo-arrow {
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
                animation: line-bounce 4s linear forwards;
            }
            #photo-arrow polyline {
                //animation: photo-line-bounce 1s linear forwards;
            }
            #photo-bg rect {
                //animation: photo-bg-bounce 1s linear forwards;
            }
        }
    }
}

@keyframes first-ticket-bounce {
    0% { 
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(45deg);
    }
    100% {    
        transform: rotateZ(0);
    }
}

@keyframes second-ticket-bounce {
    0% { 
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(-37deg);
    }
    100% {    
        transform: rotateZ(0);
    }
}

@keyframes ticket-circle-bounce {
    0% { 
        transform: rotate(0);
    }
    100% {    
        transform: rotate(360deg);
    }
}

@keyframes woman-bounce {
    0% { 
        transform: translateX(0);
    }
    50% {
        transform: translateX(-15%);
    }
    100% {    
        transform: translateX(0);
    }
}

@keyframes man-bounce {
    0% { 
        transform: translateX(0);
    }
    50% {
        transform: translateX(15%);
    }
    100% {    
        transform: translateX(0);
    }
}

@keyframes tour-arrow-bounce {
    0% { 
        transform: translateX(0);
    }
    50% {
        transform: translateX(15%);
    }
    100% {    
        transform: translateX(0);
    }
}

@keyframes line-bounce {
    to {
      stroke-dashoffset: 0;
    }
}

@keyframes photo-line-bounce {
    0% { 
        stroke: $red;
    }
    90% {
        stroke: #474747;
    }
    100% {    
        stroke: $red;
    }
}
@keyframes photo-bg-bounce {
    0% { 
        fill: transparent;
    }
    90% {
        fill: $red;
    }
    100% {    
        fill: transparent;
    }
}