// Functions
// Возвращает первое значение передаваемого списка
@function lower-bound($range) {
    @if length($range) <= 0 {
        @warn 'В функцию передана некорректная переменная';
        @return 0;
    }

    @return nth($range, 1);
}

// Возвращает последнее значение передаваемого списка
@function upper-bound($range) {
    @if length($range) < 2 {
        @warn 'Некоректное количество элементов в передаваемом списке';
        @return 999999999999;
    }

    @return nth($range, 2);
}

// Settings
$xsmall-upper-bound: 359px;
$small-upper-bound: 669px;
$medium-upper-bound: 959px;
$big-upper-bound: 1279px;
$large-upper-bound: 1439px;
$xlarge-upper-bound: 1919px;
$xxlarge-upper-bound: 2559px;

$small-range: (0, $small-upper-bound);
$xsmall-range: ($xsmall-upper-bound, $small-upper-bound);
$medium-range: ($small-upper-bound + 1, $medium-upper-bound);
$big-range: ($medium-upper-bound + 1, $big-upper-bound);
$large-range: ($big-upper-bound + 1, $large-upper-bound);
$xlarge-range: ($large-upper-bound + 1, $xlarge-upper-bound);
$xxlarge-range: ($xlarge-upper-bound + 1, 10000px);

$screen: 'only screen';

$small-up: $screen;
$small-only: '#{$screen} and (max-width: #{upper-bound($small-range)})';

$xsmall-up: '#{$screen} and (min-width:#{lower-bound($xsmall-range)})';
$xsmall-only: '#{$screen} and (max-width: #{upper-bound($xsmall-range)})';

$medium-up: '#{$screen} and (min-width:#{lower-bound($medium-range)})';
$medium-only: '#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})';

$big-up: '#{$screen} and (min-width:#{lower-bound($big-range)})';
$big-only: '#{$screen} and (min-width:#{lower-bound($big-range)}) and (max-width:#{upper-bound($big-range)})';

$large-up: '#{$screen} and (min-width:#{lower-bound($large-range)})';
$large-only: '#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})';

$xlarge-up: '#{$screen} and (min-width:#{lower-bound($xlarge-range)})';
$xlarge-only: '#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})';

$xxlarge-up: '#{$screen} and (min-width:#{lower-bound($xxlarge-range)})';
$xxlarge-only: '#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})';


// Height
$height-550-up: '#{$screen} and (min-height:550px)';
$height-600-up: '#{$screen} and (min-height:600px)';
$height-700-up: 'and (min-height:700px)';
$height-800-up: 'and (min-height:800px)';
$height-900-up: 'and (min-height:900px)';