a {
    &[href^='tel:'],
    &[href^='mailto:'] {
        white-space: nowrap;
    }
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.desktop-only {
    display: none;

    @media #{$big-up} {
        display: block;
    }
}

.mobile-only {
    display: block;

    @media #{$big-up} {
        display: none;
    }
}

.ie-object-fit {
    position: relative;
    background-size: cover;
    background-position: center center;
    
    img {
      opacity: 0;
    }
  }