.b-icon {
    position: relative;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    transition: color $animationTime ease,
                background-color $animationTime ease,
                border-color $animationTime ease,
                opacity $animationTime ease;

    &--burger {
        fill: $red;
        width: 15px;
        height: 14px;

        @media #{$medium-up} {
            width: 25px;
            height: 25px;
        }
    }

    &--close {
        fill: $white;
        width: 40px;
        height: 36px;
    }

    &--tickets {
        fill: $red;
        width: 60px;
        height: 60px;

        @media #{$large-up} {
            width: 80px;
            height: 80px;
        }
    }

    &--fb {
        @include transition(fill);
        fill: $white;

        @media #{$big-up} {
            &:hover {
                fill: #5f81c4;
            }
        }
    }

    &--vk {
        @include transition(fill);
        fill: $white;

        @media #{$big-up} {
            &:hover {
                fill: #4b75a2;
            }
        }
    }

    &--inst {
        @include transition(fill);
        fill: $white;

        @media #{$big-up} {
            &:hover {
                fill: #946246;
            }
        }
    }

    &--tlgr {
        @include transition(fill);
        fill: $white;

        @media #{$big-up} {
            &:hover {
                fill: #29a8f7;
            }
        }
    }

    &--whtsup {
        @include transition(fill);
        fill: $white;

        @media #{$big-up} {
            &:hover {
                fill: #22b080;
            }
        }
    }

    &--youtube {
        @include transition(fill);
        fill: $white;

        @media #{$big-up} {
            &:hover {
                fill: #f05a4a;
            }
        }
    }

    &--mouse {
        fill: $white;
        width: 22px;
        height: 34px;
    }

    &--download {
        fill: $red;
    }

    &--partners {
        fill: $red;
    }

    &--pin {
        fill: $red;
    }

    &--hotels {
        fill: $red;
    }

    &--forum {
        fill: $red;
    }

    &--cart {
        fill: $red;
    }

    &--cart-fill {
        fill: $red;
    }

    &--next-page,
    &--prev-page {
        fill: $red;
        width: 50px;
        height: 50px;

        @media #{$xlarge-up + $height-700-up} {
            width: 80px;
            height: 80px;
        }
    }

    &--arrow-link {
        fill: #999999;
        width: 13px;
        height: 11px;
    }

    &--success {
        fill: $red;
        width: 70px;
        height: 70px;
    }

    &--f-logo-chef,
    &--f-logo-kitchen {
        width: 130px;
        height: 100px;
    }

    &--f-logo-pir {
        width: 95px;
        height: 35px;
    }

    &--car {
        fill: #9f9f9f;
        width: 50px;
        height: 40px;  

        @media #{$medium-up} {
            width: 60px;
        }
    }

    &--bus {
        fill: #9f9f9f;
        width: 50px;
        height: 40px;

        @media #{$medium-up} {
            width: 70px;
        }       
    }

    &--area0 {
        fill: $red;
        width: 70px;
        height: 70px;
    }
}