$trs-duration: .3s;
$trs-function: ease;

// Transition
@mixin transition($prop...) {
    transition-property: $prop;
    transition-duration: $trs-duration;
    transition-timing-function: $trs-function;
}