*,
*:after,
*:before {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

b {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: '';
    content: none;
}

label {
    user-select: none;
    cursor: pointer;
}

img {
    border: none;
    outline: none;
    max-width: 100%;
}

a {
    outline: none;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

input {
    outline: none;
    box-shadow: none; //IOS reset
    appearance: none; //IOS reset

    &[type="submit"] {
        appearance: none;
    }
}

textarea {
    box-shadow: none; //IOS reset
    appearance: none; //IOS reset
    font-style: normal;
    resize: none;
    overflow-y: auto; //IE fix
    padding: {
        left: gutter() / 2;
        right: gutter() / 2;
    };
}
