@import 'fonts.scss';

// Base fonts
html {
    color: $font-color;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, $font-base, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: $red;
    font-size: 48px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 14px;
    text-transform: uppercase;
}
