// Colors
$black: #000;
$white: #ffffff;
$red: #ed1a64;
$dark-gray: #737373;
$font-color: #313131;
$title-color: #333333;

// Fonts
$font-base: "Geometria";
$font-ruble: 'ruble', sans-serif;

$base-vertical-rhythm: .5; // = 8px
$base-font-size: 14px;
$base-line-height: 14px;

$animationTime: 0.5s;