.b-menu.js-menu
    .b-menu__row.js-menu-row
        a(href="#buy-ticket" data-type="buy").b-menu__item.hover-animate.js-popup
            .b-menu__img
                svg(id="tickets" viewBox="0 0 239 240" style="enable-background:new 0 0 239 240;" xml:space="preserve")
                    g(id="second-ticket")
                        path(fill="#ED1A64" d="M202.3,19.7l-33.5,10.8l-27.7,8.9L11.1,81.4l-6.3,6.5c0,0.1,0.1,0.2,0.1,0.2l26.3,81.6 c0.8,2.4,3.3,3.6,5.7,2.9l194.6-62.8c2.4-0.8,3.6-3.3,2.9-5.7L208,22.6C207.2,20.2,204.7,18.9,202.3,19.7z M224.3,102.7l-186,60 L14.7,89.6L38.4,82l15.3,47.6c0.8,2.4,3.3,3.6,5.7,2.9c2.4-0.8,3.6-3.3,2.9-5.7L47,79.2l153.8-49.6L224.3,102.7z")
                        path(fill="#ED1A64" d="M61.2,138.2c-2.4,0.8-3.6,3.3-2.9,5.7l0.6,1.7c0.8,2.4,3.3,3.6,5.7,2.9c2.4-0.8,3.6-3.3,2.9-5.7l-0.6-1.7 C66.1,138.7,63.6,137.4,61.2,138.2L61.2,138.2z")
                        path(fill="#ED1A64" d="M68.2,89.8c0.8,2.4,3.3,3.6,5.7,2.9L191,55c2.4-0.8,3.6-3.3,2.9-5.7c-0.8-2.4-3.3-3.6-5.7-2.9L71.1,84.2 C68.7,85,67.4,87.5,68.2,89.8L68.2,89.8z")
                        path(fill="#ED1A64" d="M193.5,62.7l-22.2,7.1c-2.4,0.8-3.6,3.3-2.9,5.7c0.8,2.4,3.3,3.6,5.7,2.9l22.2-7.1c2.4-0.8,3.6-3.3,2.9-5.7 C198.4,63.3,195.9,62,193.5,62.7L193.5,62.7z")
                        path(fill="#ED1A64" d="M202.7,91.2l-7,2.2c-2.4,0.8-3.6,3.3-2.9,5.7c0.8,2.4,3.3,3.6,5.7,2.9l7-2.2c2.4-0.8,3.6-3.3,2.9-5.7 C207.6,91.7,205.1,90.5,202.7,91.2L202.7,91.2z")
                        path(fill="#ED1A64" d="M180,98.5l-7,2.2c-2.4,0.8-3.6,3.3-2.9,5.7c0.8,2.4,3.3,3.6,5.7,2.9l7-2.2c2.4-0.8,3.6-3.3,2.9-5.7 C184.9,99,182.4,97.8,180,98.5L180,98.5z")
                        path(fill="#ED1A64" d="M117.4,87.3l-41,13.2c-2.4,0.8-3.6,3.3-2.9,5.7c0.8,2.4,3.3,3.6,5.7,2.9l41-13.2c2.4-0.8,3.6-3.3,2.9-5.7 C122.3,87.8,119.7,86.5,117.4,87.3L117.4,87.3z")
                        path(fill="#ED1A64" d="M48.7,69.2l-41,13.2c-2.4,0.8-3.6,3.3-2.9,5.7c0.8,2.4,3.3,3.6,5.7,2.9l41-13.2c2.4-0.8,3.6-3.3,2.9-5.7 C53.6,69.7,51.1,68.5,48.7,69.2L48.7,69.2z")
                    g(id="first-ticket")
                        //- polygon(fill="#343434" points="23.7,128.2 163,132 23,177.5")
                        //- rect(clas="bg" x="23.7" y="128.2" fill="#343434" width="201.4" height="85.2")
                        g
                            path(fill="#ED1A64" d="M227,123.7h-35.2h-29.1H26.1l-8,4.3c0,0.1,0,0.2,0,0.2v85.7c0,2.5,2,4.5,4.5,4.5H227c2.5,0,4.5-2,4.5-4.5 v-85.7C231.5,125.7,229.5,123.7,227,123.7z M222.5,209.4H27v-76.7h24.9v50c0,2.5,2,4.5,4.5,4.5s4.5-2, 4.5-4.5v-50h161.6V209.4z")
                        path(fill="#ED1A64" d="M56.4,193.1c-2.5,0-4.5,2-4.5,4.5v1.7c0,2.5,2,4.5,4.5,4.5s4.5-2,4.5-4.5v-1.7 C60.9,195.1,58.9,193.1,56.4,193.1L56.4,193.1z")
                        path(fill="#ED1A64" d="M77.8,149.3c0,2.5,2,4.5,4.5,4.5h123.1c2.5,0,4.5-2,4.5-4.5s-2-4.5-4.5-4.5H82.3 C79.9,144.8,77.8,146.8,77.8,149.3L77.8,149.3z")
                        path(fill="#ED1A64" d="M205.4,161.9h-23.3c-2.5,0-4.5,2-4.5,4.5c0,2.5,2,4.5,4.5,4.5h23.3c2.5,0,4.5-2,4.5-4.5 C209.9,163.9,207.9,161.9,205.4,161.9L205.4,161.9z")
                        path(fill="#ED1A64" d="M205.4,191.8h-7.4c-2.5,0-4.5,2-4.5,4.5s2,4.5,4.5,4.5h7.4c2.5,0,4.5-2,4.5-4.5S207.9,191.8,205.4,191.8 L205.4,191.8z")
                        path(fill="#ED1A64" d="M181.6,191.8h-7.4c-2.5,0-4.5,2-4.5,4.5s2,4.5,4.5,4.5h7.4c2.5,0,4.5-2,4.5-4.5S184.1,191.8,181.6,191.8 L181.6,191.8z")
                        path(fill="#ED1A64" d="M125.4,161.9H82.3c-2.5,0-4.5,2-4.5,4.5c0,2.5,2,4.5,4.5,4.5h43.1c2.5,0,4.5-2,4.5-4.5 C129.9,163.9,127.9,161.9,125.4,161.9L125.4,161.9z")
                        path(fill="#ED1A64" d="M65.6,123.7H22.6c-2.5,0-4.5,2-4.5,4.5s2,4.5,4.5,4.5h43.1c2.5,0,4.5-2,4.5-4.5 C70.1,125.7,68.1,123.7,65.6,123.7L65.6,123.7z")

            .b-menu__txt Купить билет
        a(href="#watch-video" data-type="video").b-menu__item.hover-animate.js-popup
            .b-menu__img
                svg(x="0px" y="0px" viewBox="0 0 239 240" style="enable-background:new 0 0 239 240;")
                    g(id="ticket-circle")
                        path(fill="#ED1A64" d="M224.8,66c-8.3-16-20.3-30.2-34.8-40.9c-2.1-1.6-5.1-1.1-6.7,1c-1.6,2.1-1.1,5.1,1,6.7 c13.4,9.9,24.4,22.9,32,37.6c8,15.4,12,32.1,12,49.6c0,59.7-48.6,108.3-108.3,108.3c-59.7,0-108.3-48.6-108.3-108.3 S60.2,11.6,119.9,11.6c2.6,0,4.8-2.2,4.8-4.8c0-2.7-2.2-4.8-4.8-4.8C54.9,2,2,54.9,2,119.9s52.9,117.9,117.9,117.9 c65,0,117.9-52.9,117.9-117.9C237.9,101.2,233.4,82.5,224.8,66L224.8,66z M224.8,66")
                    g
                        path(fill="#ED1A64" d="M89.8,65.2c-1.5,0.9-2.4,2.4-2.4,4.2v105.3c0,2.7,2.1,4.8,4.8,4.8c2.6,0,4.8-2.1,4.8-4.8V77.8l71.1,42.3 l-52.3,33.7c-2.2,1.4-2.9,4.4-1.4,6.6c1.4,2.2,4.4,2.9,6.6,1.4l58.8-37.9c1.4-0.9,2.2-2.5,2.2-4.1c0-1.7-0.9-3.2-2.3-4l-85-50.6 C93.1,64.3,91.3,64.3,89.8,65.2L89.8,65.2z M89.8,65.2")
            .b-menu__txt Смотреть видео
        a(href="#"  target="_blank").b-menu__item.hover-animate
            .b-menu__img
                svg(x="0px" y="0px" viewBox="0 0 242 242" style="enable-background:new 0 0 242 242;" xml:space="preserve")
                    g(id="photo-frame")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="8" y1="8.5" x2="234.9" y2="8.5")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="8" y1="234.5" x2="8" y2="8.5")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="234.9" y1="234.5" x2="8" y2="234.5")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="234.9" y1="57" x2="234.9" y2="234.5")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="35.3" y1="36.3" x2="35.3" y2="173.3")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="208.3" y1="36.3" x2="35.3" y2="36.3")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="208.3" y1="173.3" x2="208.3" y2="36.3")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="35.3" y1="173.3" x2="208.3" y2="173.3")
                    g(id="photo-bg")
                        rect(x="33" y="33" fill="transparent" width="174" height="140.5")
                    g(id="photo-arrow")
                        polyline(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="203.7,168 150.7,114.7 133.1,132.9 105.2,105 58,152.2")
            .b-menu__txt Фотоотчет 2017
    .b-menu__row.js-menu-row
        a(href="#parts").b-menu__item.b-menu__item--part.hover-animate.js-part
            .b-menu__img
                svg(viewBox="81.9 6.9 234 210" style="enable-background:new 81.9 6.9 234 210;")
                    g(id="man")
                        path(fill="#ED1A64" d="M297.7, 124.6l-18.1-7l-9.2-9.2c-0.6-0.6-1.4-0.9-2.1-1v-7.3c4.3-4.6,7.4-10.5,8.7-17.1c0.8,0,1.6,0,2.3-0.2 c4.4-0.9,7.6-5,7.6-9.8v-2.4c0-2.7-1.1-5.3-2.9-7.1c2.9-16,0.5-29-7-37.7c-7.3-8.4-19-12.4-34-11.6c-13.8,0.7-22.7,7.1-25.5,9.4 c-1.5,0.2-4.2,0.7-6.8,2.3c-3.7,2.2-8.1,6.9-8.1,16.4c0,8.4,1.3,15.3,2.3,19.3c-3.2,1.6-5.4,5-5.4,8.9v2.4c0,4.7,3.2,8.8,7.6,9.8 c0.8,0.2,1.6,0.2,2.3,0.2c1.2,6.6,4.3,12.5,8.7,17.1v7.3c-0.8,0-1.5,0.4-2.1,1l-9.2,9.2l-18.1,7c-1.6,0.6-3.1,1.4-4.4,2.3 c-1.5,1-1.9,3.1-0.9,4.6c0.6,0.9,1.7,1.5,2.8,1.5c0.6,0,1.3-0.2,1.9-0.6c1-0.7,2-1.2,3.1-1.6l16.8-6.5l12.8,19.3 c1.6,2.4,4.1,3.9,7,4.2c0.3,0,0.6,0,1,0c1.7,0,3.3-0.4,4.7-1.2l-2.8,62.5c-0.1,1.8,1.3,3.4,3.2,3.5c0,0,0.1,0,0.1,0 c1.8,0,3.2-1.4,3.3-3.2l2.6-58h6.9l2.6,58c0.1,1.8,1.5,3.2,3.3,3.2c0.1,0,0.1,0,0.1,0c1.8-0.1,3.3-1.6,3.2-3.5l-2.8-62.5 c1.4,0.8,3,1.2,4.7,1.2c0.3,0,0.6,0,1,0c2.9-0.3,5.4-1.8,7-4.2l12.8-19.3l16.8,6.5c2.4,0.9,4.4,2.4,6,4.2l-11.5,11.5 c-4.1,4.1-6.4,9.7-6.4,15.5v47.2c0,1.8,1.5,3.3,3.3,3.3c1.8,0,3.3-1.5,3.3-3.3V162c0-4.1,1.6-7.9,4.5-10.8l10.1-10.1 c0.4,1.5,0.6,3,0.5,4.6l-2.6,63.4c-0.1,1.8,1.4,3.4,3.2,3.5c0,0,0.1,0,0.1,0c1.8,0,3.2-1.4,3.3-3.2l2.6-63.4 C312.2,136.6,306.5,128,297.7,124.6z M216,81.6c-0.6-3.2-3.5-5.5-6.7-5.3c-0.3,0-0.5,0-0.8-0.1c-1.3-0.3-2.3-1.7-2.3-3.2v-2.4 c0-1.5,1-2.9,2.3-3.2c1.1-0.2,2.2,0.2,2.8,1.1c0.6,0.8,1.4,1.4,2.4,1.6c1.4,0.4,2.9,0.2,4-0.6c2.1-1.5,3.9-3.3,5.4-5.3 c1.1-1.5,0.8-3.6-0.7-4.6c-1.5-1.1-3.6-0.8-4.6,0.7c-0.8,1-1.6,2-2.6,2.8c-1.1-0.9-2.3-1.6-3.6-1.9c-0.9-3.3-2.4-10.3-2.4-18.7 c0-5.1,1.6-8.7,4.7-10.6c2.4-1.5,5-1.6,5-1.6c0.8,0,1.7-0.3,2.3-0.9c0.1-0.1,8.2-7.7,22.2-8.4c12.8-0.7,22.7,2.5,28.6,9.3 c5.9,6.9,7.9,17.4,5.8,30.6c-0.9,0-1.9,0-2.8,0.2l-3.1-7.5c-0.6-1.5-2.3-2.4-3.9-1.9c-0.3,0.1-31,7.9-43.8-8.2 c-1.1-1.4-3.2-1.7-4.7-0.5c-1.4,1.1-1.7,3.2-0.5,4.7C232,64,258.1,60.4,266.7,58.7l2.4,5.8c1,2.5,3.7,3.9,6.3,3.2 c1.1-0.3,2.1-0.3,2.5-0.2c1.3,0.3,2.4,1.6,2.4,3.1v2.4c0,1.6-1,3-2.3,3.2c-0.3,0.1-0.5,0.1-0.8,0.1c-3.2-0.2-6.1,2.1-6.7,5.3 c-2.4,13.2-13.9,22.7-27.3,22.7C229.8,104.4,218.4,94.8,216,81.6z M230.7,140.4c-0.8,0.8-1.8,0.9-2.3,0.8c-0.5,0-1.5-0.3-2.1-1.3 l-12.9-19.4l5.2-5.2l19.9,17.4L230.7,140.4z M240.1,144.8l0.2-4.6l3-3l3,3l0.2,4.6H240.1z M243.2,128.1L224.8,112v-6.4 c5.4,3.4,11.7,5.4,18.4,5.4c6.7,0,13.1-2,18.4-5.4v6.4L243.2,128.1z M260.2,139.9c-0.7,1-1.6,1.2-2.1,1.3c-0.5,0.1-1.5,0-2.3-0.8 l-7.7-7.7l19.9-17.4l5.2,5.2L260.2,139.9z")
                        path(fill="#ED1A64" d="M224.6,160.2h-12.4c-1.8,0-3.3,1.5-3.3,3.3c0,1.8,1.5,3.3,3.3,3.3h12.4c1.8,0,3.3-1.5,3.3-3.3 C227.9,161.7,226.4,160.2,224.6,160.2z")
                    g(id="woman")
                        path(fill="#ED1A64" d="M190.4,142l-16.2-7.1l-8.9-8.9c-0.6-0.6-1.4-0.9-2.1-1v-5.2c7.6-5,13.1-12.9,14.9-22.3c0.9,0,1.8,0,2.6-0.3  c4.3-1,7.3-5.1,7.3-9.7v-2.4c0-3.4-1.7-6.4-4.3-8.2c0.8-3,1.1-6.1,1.1-9.2c0-13.8-7.4-25.9-18.7-32.8c-0.1-11.5-9.9-20.8-22-20.8 c-12,0-21.8,9.3-22,20.8c-11.2,7-18.7,19.1-18.7,32.8c0,3.1,0.4,6.2,1.1,9.2c-2.6,1.8-4.2,4.8-4.2,8.2v2.4c0,4.6,3.1,8.7,7.3,9.7 c0.9,0.2,1.7,0.3,2.6,0.3c1.8,9.4,7.3,17.4,14.9,22.3v5.2c-0.8,0-1.5,0.4-2.1,1l-8.9,8.9L98.2,142c-8.3,3.6-13.5,12.1-13.2,21.1 l2,46.3c0.1,1.8,1.5,3.2,3.3,3.2c0,0,0.1,0,0.1,0c1.8-0.1,3.3-1.6,3.2-3.5l-2-46.3c-0.1-3,0.6-5.9,2.1-8.4l8.7,10.5 c2.8,3.3,4.3,7.5,4.3,11.8v32.5c0,1.8,1.5,3.3,3.3,3.3c1.8,0,3.3-1.5,3.3-3.3v-32.5c0-5.9-2.1-11.6-5.8-16.1l-9.3-11.1 c0.8-0.5,1.6-1,2.5-1.4L115,142l10,16.2c1,1.6,2.6,2.7,4.5,3c0.3,0.1,0.7,0.1,1,0.1c1.5,0,3-0.5,4.2-1.5l6.3-5.4v55 c0,1.8,1.5,3.3,3.3,3.3c1.8,0,3.3-1.5,3.3-3.3v-55l6.3,5.4c1.2,1,2.7,1.5,4.2,1.5c0.3,0,0.7,0,1-0.1c1.9-0.3,3.5-1.4,4.5-3 l10-16.2l14.1,6.2c0.9,0.4,1.7,0.9,2.5,1.4l-9.3,11.1c-3.7,4.5-5.8,10.2-5.8,16.1v32.5c0,1.8,1.5,3.3,3.3,3.3 c1.8,0,3.3-1.5,3.3-3.3v-32.5c0-4.3,1.5-8.5,4.3-11.8l8.7-10.5c1.5,2.5,2.2,5.4,2.1,8.4l-2,46.3c-0.1,1.8,1.3,3.4,3.2,3.5 c0,0,0.1,0,0.1,0c1.8,0,3.2-1.4,3.3-3.2l2-46.3C203.9,154.1,198.6,145.6,190.4,142z M144.3,20.8c7.1,0,13,4.5,14.8,10.6 c-4.6-1.7-9.6-2.7-14.8-2.7c-5.2,0-10.2,1-14.8,2.7C131.3,25.4,137.2,20.8,144.3,20.8z M117,96.2c-0.6-3.2-3.5-5.5-6.7-5.3 c-0.3,0-0.6,0-0.9-0.1c-1.3-0.3-2.2-1.7-2.2-3.2v-2.4c0-1.5,1-2.9,2.3-3.2c1.1-0.2,2.2,0.2,2.8,1.1c0.6,0.8,1.4,1.4,2.4,1.6 c1.4,0.4,2.9,0.2,4-0.6c2-1.4,3.9-3.2,5.4-5.2c1.1-1.5,0.8-3.5-0.7-4.7c-1.5-1.1-3.5-0.8-4.7,0.7c-0.8,1-1.6,1.9-2.5,2.7 c-1.4-1.2-3.2-2-5-2.2c-0.6-2.5-1-5.1-1-7.6c0-17.9,15.2-32.4,34-32.4c18.7,0,34,14.5,34,32.4c0,2.6-0.3,5.1-1,7.6 c-0.9,0.1-1.8,0.2-2.6,0.4l-2.5-2.1c-1.3-1-2.8-1.5-4.4-1.5c-4.9,0.3-29.9,0.9-42.7-14.4c-1.2-1.4-3.3-1.6-4.7-0.4 c-1.4,1.2-1.6,3.3-0.4,4.7c6.3,7.6,15.6,12.7,27.6,15.2c9.2,1.9,17.3,1.7,20.5,1.6l3.9,3.2c1.1,0.9,2.6,1,3.8,0.3 c0.6-0.3,2.5-0.6,3.3-0.4c1.3,0.3,2.4,1.6,2.4,3.1v2.4c0,1.5-1,2.9-2.2,3.2c-0.3,0.1-0.6,0.1-0.9,0.1c-3.2-0.2-6.1,2.1-6.7,5.3 c-2.4,13.2-13.9,22.7-27.3,22.7C130.9,118.9,119.5,109.4,117,96.2z M130.5,154.5l-10-16.2l5.1-5.1l13.8,13.8L130.5,154.5z M144.3,142.4l-12.2-12.2v-6.9c3.8,1.5,7.9,2.2,12.2,2.2c4.3,0,8.4-0.8,12.2-2.2v6.9L144.3,142.4z M158.1,154.5l-8.9-7.6 l13.8-13.8l5.1,5.1L158.1,154.5z")
                        path(fill="#ED1A64" d="M131.9,174.8h-9.3c-1.8,0-3.3,1.5-3.3,3.3c0,1.8,1.5,3.3,3.3,3.3h9.3c1.8,0,3.3-1.5,3.3-3.3 C135.2,176.3,133.7,174.8,131.9,174.8z")

            .b-menu__txt Стать участником

        a(href="https://www.facebook.com/chefsbreakfast/posts/583379282006008" target="_blank").b-menu__item.hover-animate
            .b-menu__img
                svg(viewBox="0 0 243 239.9" style="enable-background:new 0 0 243 239.9;" xml:space="preserve")
                    g(id="tour-arrow")
                        polygon(fill="transparent" points="63.7,110 170.3,66 121.3,187.3 118.7,119 53.3,115 		")
                        path(fill="#ED1A64" d="M119,194.1c0.3,0.1,0.6,0.1,0.9,0.1c1.9,0,3.7-1.1,4.4-3L175,69.1c0.7-1.8,0.3-3.9-1-5.2 c-1.4-1.4-3.4-1.8-5.2-1L46.6,113.4c-2.1,0.9-3.3,3.1-2.9,5.4c0.4,2.2,2.4,3.9,4.7,3.9h66.7v66.7 C115.1,191.7,116.8,193.7,119,194.1L119,194.1z M72.5,113.1l89.1-36.9l-36.9,89.1v-47.4c0-2.6-2.1-4.8-4.8-4.8H72.5z M72.5,113.1")
                    g(id="tour-circle")
                        path(fill="#ED1A64" d="M120.9,3C55.9,3,3,55.9,3,120.9c0,65,52.9,117.9,117.9,117.9c36.6,0,70.4-16.5,93-45.4 c1.6-2.1,1.3-5.1-0.8-6.7c-2.1-1.6-5.1-1.3-6.7,0.8c-20.7,26.5-51.8,41.7-85.4,41.7c-59.7,0-108.3-48.6-108.3-108.3 c0-59.7,48.6-108.3,108.3-108.3c59.7,0,108.3,48.6,108.3,108.3c0,2.6,2.1,4.8,4.8,4.8c2.6,0,4.8-2.2,4.8-4.8 C238.9,55.9,186,3,120.9,3L120.9,3z M120.9,3")
            .b-menu__txt Тур завтрака
        a(href="#").b-menu__item.hover-animate
            .b-menu__img
                svg(viewBox="0 0 252 250" style="enable-background:new 0 0 252 250;" xml:space="preserve")
                    g
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="186.6" y1="10.7" x2="186.6" y2="235.4")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="242.8" y1="180.4" x2="186.8" y2="236.4")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="130.7" y1="180.4" x2="186.6" y2="236.4")
                    g(id="line1")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.7" y1="10.7" x2="162.3" y2="10.7")
                    g(id="line2")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.7" y1="66.9" x2="162.3" y2="66.9")
                    g(id="line3")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.7" y1="123" x2="162.3" y2="123")
                    g(id="line4")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.7" y1="179.2" x2="111.7" y2="179.2")
                    g(id="line5")
                        line(fill="none" stroke="#ED1A64" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.7" y1="235.4" x2="111.7" y2="235.4")
            .b-menu__txt Скачать программу

        aside#parts.b-parts(style="display:none;")
            a(href="#become_expert" data-type="form").b-parts__item.js-popup Стать экспертом
            a(href="#become_exponent" data-type="form").b-parts__item.b-parts__item--gray.js-popup Стать партнером/экспонентом