include ../mixin/icon.pug

.b-popups.hide
    .b-popup#buy-ticket
        .b-popup__close.js-popup-close
            +icon('close')
        .b-popup__header
            .b-popup__logo
            .b-popup__title International Chef's Forum<br/>
                span.b-popup__year 201
                    span.b-popup__year-last 8
                    
        .b-popup__wrapper
            .b-popup__item
                .b-popup__subtitle входной билет
                .b-popup__desc
                    | "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. 
                    <br/>
                    <br/>
                    | In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.
                button(type="button").b-btn.b-btn--icon.b-btn--center
                    +icon('tickets')
                    span Купить билет

            .b-popup__item
                .b-popup__subtitle интерактивные мастер-классы
                .b-popup__desc
                    | "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. 
                    <br/>
                    <br/>
                    | In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. 
                button(type="button").b-btn.b-btn--icon.b-btn--center.hide
                    +icon('tickets')
                    span Купить билет
            .b-popup__item
                .b-popup__subtitle вечерняя программа
                .b-popup__desc
                    | "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. 
                    <br/>
                    <br/>
                    | In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. 
                button(type="button").b-btn.b-btn--icon.b-btn--center.hide
                    +icon('tickets')
                    span Купить билет

    .b-popup.b-popup--video#watch-video
        .b-popup__close.js-popup-close
            +icon('close')
        iframe(width="100%" height="90%" src="https://www.youtube.com/embed/jtQpv4dl6sE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

    .b-popup.b-popup--expert#become_expert
        .b-popup__close.js-popup-close
            +icon('close')
        form(action="/test" method="POST" enctype="multipart/form-data").b-popup__form.b-form.js-form-validation
            .b-form__row
                .b-form__col
                    label ФИО
                .b-form__col
                    input(type="text" name="fio" data-valid="true" data-type="text")
            .b-form__row
                .b-form__col
                    label контактный телефон
                .b-form__col
                    input(type="phone" name="phone" data-valid="true" data-type="text").js-phone-mask
            .b-form__row
                .b-form__col
                    label e-mail
                .b-form__col
                    input(type="email" name="email" data-valid="true" data-type="email")
            .b-form__row
                .b-form__col
                    label должность
                .b-form__col
                    input(type="text" name="position" data-valid="true" data-type="text")
            .b-form__row
                .b-form__col
                    label место работы 
                .b-form__col
                    input(type="text" name="place" data-valid="true" data-type="text")
            .b-form__row
                .b-form__col
                    label город
                .b-form__col
                    input(type="text" name="city" data-valid="true" data-type="text")
            .b-form__row
                .b-form__col
                    label комментарии
                    span.b-form__ps о себе, укажите ссылки на свои профили в FB, VK, Instagram, ссылки на фото своих блюд
                .b-form__col
                    textarea(data-valid="true" name="comment" data-type="text")
            .b-form__footer
                .b-form__group
                    span.b-form__ps.b-form__ps--big Заявка на участие в качестве эксперта
                    span.b-form__ps * все поля обязательны для заполнения
                .b-form__group
                    button(type="submit").js-btn-submit.b-btn.b-btn--small отправить заявку
        .b-popup__success
            +icon('success')
            span Спасибо. Ваша заявка успешно отправлена. 
        .b-popup__error
            span Что-то пошло не так. Повторите отпраку формы.

    .b-popup.b-popup--expert#become_exponent
        .b-popup__close.js-popup-close
            +icon('close')
        form(action="/test" method="POST" enctype="multipart/form-data").b-popup__form.b-form.js-form-validation
            .b-form__row
                .b-form__col
                    label название компании
                .b-form__col
                    input(type="text" name="company" data-valid="true" data-type="text")
            .b-form__row
                .b-form__col
                    label сайт компании
                .b-form__col
                    input(type="text" name="site" data-valid="true" data-type="text")
            .b-form__row
                .b-form__col
                    label контактное лицо
                .b-form__col
                    input(type="text" name="fio" data-valid="true" data-type="text")
            .b-form__row
                .b-form__col
                    label e-mail для связи
                .b-form__col
                    input(type="email" name="email" data-valid="true" data-type="email")
            .b-form__row
                .b-form__col
                    label телефон для связи 
                .b-form__col
                    input(type="text" name="phone" data-valid="true" data-type="text").js-phone-mask
            .b-form__footer
                .b-form__group
                    span.b-form__ps.b-form__ps--big Заявка на участие в форуме завтрак шефа
                    span.b-form__ps * все поля обязательны для заполнения
                .b-form__group
                    button(type="submit").js-btn-submit.b-btn.b-btn--small отправить заявку
        .b-popup__success
            +icon('success')
            span Спасибо. Ваша заявка успешно отправлена. 
        .b-popup__error
            span Что-то пошло не так. Повторите отпраку формы.

    .b-popup.b-popup--expert#become_tour
        .b-popup__close.js-popup-close
            +icon('close')
        form(action="/test" method="POST" enctype="multipart/form-data").b-popup__form.b-form.js-form-validation
            .b-form__row
                .b-form__col
                    label ФИО
                .b-form__col
                    input(type="text" name="fio" data-valid="true" data-type="text")
            .b-form__row
                .b-form__col
                    label Город
                .b-form__col
                    input(type="text" name="city" data-valid="true" data-type="text")
            .b-form__row
                .b-form__col
                    label Место работы 
                .b-form__col
                    input(type="text" name="place" data-valid="true" data-type="text")
            .b-form__row
                .b-form__col
                    label Должность
                .b-form__col
                    input(type="text" name="position" data-valid="true" data-type="text")
            .b-form__row
                .b-form__col
                    label E-mail
                .b-form__col
                    input(type="email" name="email" data-valid="true" data-type="email")
            .b-form__row
                .b-form__col
                    label Мобильный телефон
                .b-form__col
                    input(type="phone" name="phone" data-valid="true" data-type="text").js-phone-mask
            .b-form__footer
                .b-form__group
                    span.b-form__ps * все поля обязательны для заполнения
                .b-form__group
                    button(type="submit").js-btn-submit.b-btn.b-btn--small отправить заявку
        .b-popup__success
            +icon('success')
            span Спасибо. Ваша заявка успешно отправлена. 
        .b-popup__error
            span Что-то пошло не так. Повторите отпраку формы.
