include ../mixin/icon.pug

aside.b-submenu.js-submenu
    a(href="#").b-submenu__icon.js-submenu-open
        +icon('burger')
    .b-submenu__body.js-submenu-body
        a(href="#").b-submenu__icon.b-submenu__close.js-submenu-close
            +icon('close')
        .b-submenu__items
            a(href="/forum.html").b-submenu__item
                .b-submenu__img
                    +icon('forum')
                .b-submenu__txt О форуме
            a(href="/#section_0/1").b-submenu__item
                .b-submenu__img
                    +icon('areas')
                .b-submenu__txt Площадки
            a(href="/#section_0/2").b-submenu__item
                .b-submenu__img
                    +icon('download')
                .b-submenu__txt Программа
            a(href="/#section_0/3").b-submenu__item
                .b-submenu__img
                    +icon('profi')
                .b-submenu__txt Эксперты
            a(href="/#section_0/7").b-submenu__item
                .b-submenu__img
                    +icon('contacts')
                .b-submenu__txt Контакты
            a(href="#").b-submenu__item
                .b-submenu__lang РУС/EN

            a(href="#").b-submenu__item.hide
                .b-submenu__img
                    +icon('partners')
                .b-submenu__txt Партнеры
            a(href="#").b-submenu__item.hide
                .b-submenu__img
                    +icon('examples')
                .b-submenu__txt Экспоненты
            a(href="#").b-submenu__item.hide
                .b-submenu__img
                    +icon('pin')
                .b-submenu__txt Место <br/>
                    | проведения
            a(href="#").b-submenu__item.hide
                .b-submenu__img
                    +icon('hotels')
                .b-submenu__txt Гостиницы
            a(href="#").b-submenu__item.b-submenu__item--cart.hide
                .b-submenu__img
                    +icon('cart')
                //- отображение полной корзины
                //- .b-submenu__img
                //-     +icon('cart-fill')
                //- .b-submenu__cart-num 10
                .b-submenu__txt Ваша корзина