#fullpage {
    touch-action: auto !important;
}

.fp-enabled body {
    position: fixed;
    top: 0;

    @media #{$big-up} {
        position: relative;
    }
}

.fp-tableCell {
    vertical-align: top;

    @media #{$big-up} {
        padding-bottom: 0;
    }
}