.mfp-content {
    max-width: 90%;
    max-height: 90% !important;
    overflow: scroll;
    border-radius: 10px;

    @media #{$big-up} {
        overflow: inherit;
    }
}

img.mfp-img {
    max-height: 450px !important;
}

.tickets-popup.mfp-content {
    @media #{$big-up} {
        max-width: 900px;
    }
}

.video-popup {
    .mfp-close {
        background-color: $white;
        opacity: 1;
        border-radius: 50%;
        top: -10px;
        right: -10px;
    }
}

.form-popup.mfp-content {
    position: relative;

    @media #{$big-up} {
        max-width: 750px;
    }
}

.img-popup.mfp-content {
    position: relative;

    img.mfp-img {
        padding: 0;
        border-radius: 10px;
    }

    .mfp-close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        width: 30px;
        height: 30px;
        font-size: 0;
        background-image: url(../images/close-red.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
}