.main-slider {
    max-height: 100vh;
    height: 100%;
    
    .slick-list,
    .slick-track {
        height: 100%;
    }

    .slick-dots {
        position: absolute;
        width: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        padding: 45px;
        padding-right: 20vh;
        justify-content: center;
        
        li {
            width: auto;
            margin-right: 0;
        }

        button {
            font-size: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            box-shadow: none;
            border: none;
            background-color: white;
            margin-right: 15px;
            outline: none;
            cursor: pointer;
        }

        .slick-active{
            button {
                width: 25px;
                height: 25px;
            }    
        }
    }
}

.expert-slider {
    .slick-track {
        @media #{$big-up} { 
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .slick-dots {
        display: none !important;
    }
}

.slick-slide {
    height: auto;
    outline: none;
}

.forum-slider {    
    .slick-track {
        display: flex;
    }
}

.partner-slider {
    flex-direction: row;
    flex-wrap: nowrap !important;
    align-items: center;
    
    .slick-arrow {
        @include transition(opacity);
        width: 50px;
        min-width: 50px;
        height: 50px;
        border-radius: 100%;
        border: none;
        font-size: 0;
        background-color: transparent;
        background-image: url(../images/next-page.svg);
        background-repeat: no-repeat;
        background-size: contain;
        outline: none;
        cursor: pointer;
        opacity: .5;

        @media #{$big-up} {            
            &:hover {
                opacity: 1;
            }
        }

        @media #{$large-up} {
            width: 75px;
            min-width: 75px;
            height: 75px;
        }
    }

    .slick-prev {
        background-image: url(../images/prev-page.svg);
    }

    .slick-slide {
        margin-bottom: 0 !important;
    }

    .slick-list {
        width: 100%;
    }
}

ul.slick-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    li {
        width: 10px;
        margin-right: 5px;
        opacity: .3;

        &.slick-active {
            opacity: 1;
        }
    }

    button {
        display: block;
        font-size: 0;
        padding: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: none;
        background-color: $red;
        margin-right: 5px;
    }
}

.is-ie {
    .expert-slider {
        .slick-track {
            @media #{$big-up} { 
                padding-top: 20px;
                padding-bottom: 30px;
            }
        }
    }
}