.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../sprite-animation.svg");
    background-repeat: no-repeat;
    background-size: 25.2em 166.2em;
}

.no-svg .icon:before {
    background-image: url("../sprite-animation.png");
}



  .icon.icon-couple:before {
      background-position: 0em 0em;
      width: 23.4em;
      height: 21em;
  }




  .icon.icon-download:before {
      background-position: 0em -21em;
      width: 25.2em;
      height: 25em;
  }




  .icon.icon-photo:before {
      background-position: 0em -46em;
      width: 24.2em;
      height: 24.2em;
  }




  .icon.icon-play-button:before {
      background-position: 0em -70.2em;
      width: 23.9em;
      height: 24em;
  }




  .icon.icon-tickets:before {
      background-position: 0em -94.2em;
      width: 23.9em;
      height: 24em;
  }




  .icon.icon-tickets2:before {
      background-position: 0em -118.2em;
      width: 23.9em;
      height: 24em;
  }




  .icon.icon-tour:before {
      background-position: 0em -142.2em;
      width: 24.3em;
      height: 23.990000000000002em;
  }





