include ./mixin/icon.pug

include ./images/svg/sprite.svg

html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=no")

        block styles
            link(href="css/external.css" rel="stylesheet")
            link(href="css/internal.css" rel="stylesheet")
        block scripts
            script(src='js/external.js')

    body
        header
            .b-header.b-header--white.is-fixed.js-header
                a(href="#").b-header__logo
                    +icon('logo-small','b-header__logo-icon') 
                a(href="/#section_0").b-header__item.b-header__item--no-border
                    +icon('home','b-header__icon') 
                a(href="/forum.html").b-header__item.b-header__item--no-border о форуме
                a(href="#buy-ticket" data-type="buy").b-header__item.b-header__item--no-border.b-header__item--ticket.js-popup
                    +icon('tickets','b-header__icon') 
                    | купить билет
                a(href="/#section_1").b-header__item.js-header-item площадки
                a(href="/#section_2").b-header__item.js-header-item программа
                a(href="/#section_3").b-header__item.js-header-item эксперты
                a(href="/#section_4").b-header__item.js-header-item.hide звездный гость
                a(href="/#section_5").b-header__item.js-header-item.hide партнеры
                a(href="/#section_6").b-header__item.js-header-item.hide место проведения
                a(href="/#section_7").b-header__item.js-header-item.hide гостиницы
                a(href="/#section_8").b-header__item.js-header-item контакты
                a(href="#").b-header__item.b-header__item--red.b-header__item--no-border.js-header-item РУС/EN
                a(href="#").b-header__item.b-header__item--no-border.b-header__item--cart.hide
                    +icon('cart','b-header__icon')
                //- отображение заполненной корзиной
                a(href="#").b-header__item.b-header__item--no-border.b-header__item--cart.hide
                    .b-header__cart-num 10
                    +icon('cart-fill','b-header__icon')

            include blocks/submenu

        main
            block content

        footer
            .b-footer
                .b-footer__item.b-footer__item--contacts
                    .b-footer__title Контакты:
                    .b-footer__contacts
                        .b-footer__contact 
                            div
                                .b-footer__subtitle СМИ и программа продвижения
                                a(href="mailto:e.gelya@pir.ru").b-footer__mail e.gelya@pir.ru
                            div
                                .b-footer__subtitle партнерство по продуктам питания
                                a(href="mailto:food@pir.ru").b-footer__mail food@pir.ru
                        .b-footer__contact 
                            div
                                .b-footer__subtitle деловая программа
                                a(href="mailto:v.nekrasova@pir.ru").b-footer__mail v.nekrasova@pir.ru
                            div
                                .b-footer__subtitle партнерство по non-food
                                a(href="mailto:sale@pir.ru").b-footer__mail sale@pir.ru
                        .b-footer__contact 
                            div
                                .b-footer__subtitle общие вопросы
                                a(href="mailto:valentina@pir.ru").b-footer__mail valentina@pir.ru

                .b-footer__item
                    .b-footer__logo
                        +icon('f-logo-chef')
                        +icon('f-logo-kitchen')
                        +icon('f-logo-pir')

                    a(href="tel:+7 (495) 637-94-40").b-footer__phone +7 (495) 637-94-40
                .b-footer__item.b-footer__item--bottom
                    .b-footer__nav
                        a(href="#") Тур
                        a(href="#") Программа
                        a(href="#") Эксперты
                        a(href="#") Партнеры
                        a(href="#") Экспоненты
                        a(href="#") место проведения
                        a(href="#") гостиницы
                        a(href="#") о форуме
                    .b-footer__socials
                        .b-footer__copy © ПИР , 1997-2017. Все права защищены.
                        ul.b-socials
                            li.b-socials__item
                                a(href="https://www.facebook.com/chefsbreakfast" target="_blank").b-socials__link
                                    +icon('fb','b-socials__icon')
                            li.b-socials__item
                                a(href="https://vk.com/chefsbreakfast" target="_blank").b-socials__link
                                    +icon('vk','b-socials__icon')
                            li.b-socials__item
                                a(href="https://www.instagram.com/chefsbreakfast/" target="_blank").b-socials__link
                                    +icon('inst','b-socials__icon')
                            li.b-socials__item
                                a(href="https://t.me/pirexpochannel" target="_blank").b-socials__link
                                    +icon('tlgr','b-socials__icon')
                            li.b-socials__item
                                a(href="https://api.whatsapp.com/send?phone=79035948613" target="_blank").b-socials__link
                                    +icon('whtsup','b-socials__icon')
                            li.b-socials__item
                                a(href="https://www.youtube.com/channel/UCeigkyTy_SvCnVLh1LKnLrQ" target="_blank").b-socials__link
                                    +icon('youtube','b-socials__icon')

            include blocks/popups

            script(src="./js/internal.js")