extends _layout

include ./mixin/partner.pug
include ./mixin/area-tooltip.pug

block content
    section.b-section.b-section--inner
        .b-section__wrapper
            .b-logo.b-logo--inner
                +icon('logo-small','b-logo__inner b-logo__inner--light-gray') 

            .b-section__title ПРАКТИКА. ГОТОВИМ ВМЕСТЕ II
                a(href="/").b-section__back
                    +icon('prev-page','b-section__back-icon') 
                    span Вернуться
                .b-section__subtitle Гастрономия через все органы чувств<br/>
                    | Интерактивные лекции от известных шеф-поваров
            .b-area
                .b-area__item
                    .b-area__icon
                        +icon('area0') 
                .b-area__item.clearfix
                    .b-area__desc Каждый день — 5 лекций о мастерстве вовлечения всех органов чувств в процесс работы шефа: осязание, обоняние, слух, зрение, вкус.
                    .b-area__desc Как мастерски завоевывать сердца и желудки, используя не только умение прекрасно готовить — расскажут лучшие эксперты.
                    ul.b-area__list
                        li 
                            a(href="/expert.html" target="_blank").b-area__txt.b-area__txt--big Бек Нарзи, 
                                +area-tooltip()
                            | Лондон | 
                        li 
                            a(href="/expert.html" target="_blank").b-area__txt Станислав Песоцкий, 
                                +area-tooltip()
                            | Москва, "Bjorn" | 
                        li 
                            a(href="/expert.html" target="_blank").b-area__txt Андрей Жданов, 
                                +area-tooltip()
                            | Москва, "AQ KITCHEN", "Adri BBQ" |
                        li 
                            a(href="/expert.html" target="_blank").b-area__txt Андрей Шмаков,
                                +area-tooltip() 
                            | Москва, бренд "Savva" | 
                        li 
                            a(href="/expert.html" target="_blank").b-area__txt Дэмиен Дювио, 
                                +area-tooltip()
                            | Москва, "NOBU" | 
                        li 
                            a(href="/expert.html" target="_blank").b-area__txt Тахир Холикбердиев, 
                                +area-tooltip()
                            | Краснодар, Москва, "Южане", "Скотина", "Ребро Адама"  |
                        li 
                            a(href="/expert.html" target="_blank").b-area__txt Рустам Тангиров, 
                                +area-tooltip()
                            | Санкт-Петербург, "Копченый TRbar" , "Saimaa Life Sport&Relax Hotel" | 
                        li 
                            a(href="/expert.html" target="_blank").b-area__txt Антон Ковальков, 
                                +area-tooltip()
                            | Москва | 
                        li 
                            a(href="/expert.html" target="_blank").b-area__txt Тарас Кириенко, 
                                +area-tooltip()
                            | Москва, "Touche", "Litro" | 
                        li 
                            a(href="/expert.html" target="_blank").b-area__txt Георгий Троян, 
                                +area-tooltip()
                            | Москва, "Северяне"  | 
                        li 
                            a(href="/expert.html" target="_blank").b-area__txt Камилла Седлер, 
                                +area-tooltip()
                            | Дания, "Gustu" | 
                        li 
                            a(href="/expert.html" target="_blank").b-area__txt Андрей Четвертнов, 
                                +area-tooltip()
                            | Москва, "Glenuill" | 
                        li 
                            a(href="/expert.html" target="_blank").b-area__txt Иван и Сергей Березуцкие, 
                                +area-tooltip()
                            | Москва, "Twins", "Wine&Crab" | 
                        li 
                            a(href="/expert.html" target="_blank").b-area__txt Евгений Викентьев, 
                                +area-tooltip()
                            |Санкт-Петербург, "Винный шкаф", "Hamlet&Jacks"
                    .b-area__partners.b-partners.b-partners--area
                        .b-partners__wrapper
                            +partner('./images/partners/partner1.png', false)
                            +partner('./images/partners/partner1.png', false)
                            +partner('./images/partners/partner1.png', false)
                            +partner('./images/partners/partner1.png', false)
                            +partner('./images/partners/partner1.png', false)
                            +partner('./images/partners/partner1.png', false)
                            +partner('./images/partners/partner1.png', false)
                            +partner('./images/partners/partner1.png', false)
                            +partner('./images/partners/partner1.png', false)
                    a(href="#" target="_blank").b-area__btn.b-btn.b-btn--download
                        +icon('download')
                        span смотреть программу площадки