extends _layout
block content
    section.b-section.b-section--inner
        .b-section__wrapper
            .b-logo.b-logo--inner
                +icon('logo-small','b-logo__inner b-logo__inner--light-gray') 

            .b-section__title.b-section__title--long  программа в разработке
                a(href="/").b-section__back
                    +icon('prev-page','b-section__back-icon') 
                    span Вернуться

            .b-area-404
                .b-area-404__img(style="background-image:url('./images/area404.png')")
                .b-area-404__txt
                    .b-area-404__title Следите за новостями в соцсетях по нашим тегам
                    .b-area-404__tag #завтракшефа
                    .b-area-404__tag #chefsbreakfast
                    .b-area-404__tag #присоединяйсяклучшим 
                .b-area-404__btn присоединяйся к лучшим!