extends _layout

include ./mixin/expert.pug

block content
    section.b-section.b-section--inner
        .b-section__wrapper
            .b-logo.b-logo--inner
                +icon('logo-small','b-logo__inner b-logo__inner--light-gray') 
            .b-section__title Все эксперты
                a(href="/").b-section__back
                    +icon('prev-page','b-section__back-icon') 
                    span Вернуться
            .b-expert.b-expert--all.clearfix
                .b-expert__wrapper
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                    +expert('./images/experts/expert-mobile.png', 'Георгий Троян')
                a(href="#become_expert" data-type="form").b-btn.b-expert__btn.b-expert__btn--become.js-popup Стать экспертом