extends _layout
block content
    section.b-section.b-section--inner
        .b-section__wrapper
            .b-logo.b-logo--inner
                +icon('logo-small','b-logo__inner b-logo__inner--light-gray') 
            .b-section__title Эксперт
                a(href="/").b-section__back
                    +icon('prev-page','b-section__back-icon') 
                    span Вернуться
                .b-section__subtitle Гастрономия через все органы чувств<br/>
                    | Интерактивные лекции от известных шеф-поваров
            .b-expert.b-expert--only
                .b-expert__name.b-expert__name--red.desktop-only
                        span Завтра’к Шефович
                .b-expert__wrapper
                    .b-expert__item.b-expert__item--photo
                        .b-expert__img.b-expert__img--desktop.desktop-only
                            img(src="./images/experts/expert.png")
                        .b-expert__img.b-expert__img--mobile.mobile-only
                            img(src="./images/experts/expert-mobile.png")
                        button(type="button ").b-btn.b-btn--download.js-permutation-btn
                            +icon('download') 
                            span СМОТРЕТЬ МЕРОПРИЯТИЯ ЭКСПЕРТА
                    .b-expert__item.b-expert__item--text
                        .b-expert__name.mobile-only
                            span Завтра’к Шефович
                        .b-expert__txt "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?" 
                            <br/>
                            | "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
            .b-gallery
                .b-gallery__title авторские блюда
                .b-gallery__wrapper
                    a(href='./images/slide1.png' data-type="img").b-gallery__img.js-img-fit.js-popup
                        img(src='./images/slide1.png')
                    a(href='./images/dishes/dish2.png' data-type="img").b-gallery__img.js-img-fit.js-popup
                        img(src='./images/dishes/dish2.png')
                    a(href='./images/dishes/dish3.png' data-type="img").b-gallery__img.js-img-fit.js-popup
                        img(src='./images/dishes/dish3.png')