extends _layout
block content
    section.b-section.b-section--inner
        .b-section__wrapper
            .b-logo.b-logo--inner
                +icon('logo-small','b-logo__inner b-logo__inner--light-gray') 
            .b-section__title О форуме
                a(href="/").b-section__back
                    +icon('prev-page','b-section__back-icon') 
                    span Вернуться
                .b-section__subtitle.b-section__subtitle--forum Ищешь идеи и новые концепции для развития и вдохновения?<br/>
                    |Становись участником международного форума «Завтрак Шефа»!
            .b-forum
                .b-forum__title присоединяйся к лучшим!
                .b-forum__desc Завтрак шефа – это площадка, призванная объединить поварское сообщество и предоставить возможность делиться опытом и навыками, вдохновлять на новые идеи и определять тренды, приобретать полезные знакомства и контакты с коллегами и поставщиками.
                
                .b-forum__info
                    .b-forum__info-wrapper
                        .b-forum__info-item
                            .b-forum__info-num 150
                            .b-forum__info-txt лекций и мастер-классов
                        .b-forum__info-item
                            .b-forum__info-num 3
                            .b-forum__info-txt дня
                        .b-forum__info-item
                            .b-forum__info-num >70
                            .b-forum__info-txt экспертов
                        .b-forum__info-item
                            .b-forum__info-num 12
                            .b-forum__info-txt тематических площадок
                        .b-forum__info-item
                            .b-forum__info-num 3500
                            .b-forum__info-txt поваров
                    .b-forum__info-title С 5 по 7 июня 3 дня насыщенной обучающей программы:
                
                .b-forum__program
                    .b-forum__program-row.forum-slider.js-slider(data-type="forum")
                        .b-forum__program-item.b-forum__program-item--item1
                            .b-forum__program-icon 
                                +icon('forum1','b-forum__icon') 
                            .b-forum__program-txt
                                .b-forum__program-title ШЕФ TALKS
                                .b-forum__program-desc главная площадка с вдохновляющими лекциями от лучших шеф-поваров России
                        .b-forum__program-item.b-forum__program-item--item2
                            .b-forum__program-icon 
                                +icon('forum2','b-forum__icon') 
                            .b-forum__program-txt
                                .b-forum__program-title ПРАКТИКИ. ГОТОВИМ ВМЕСТЕ
                                .b-forum__program-desc более 100 рецептов для обновления меню ресторана и интерактивные мастер-классы с пошаговым созданием блюд вместе с наставником
                        .b-forum__program-item
                            .b-forum__program-icon 
                                +icon('forum3','b-forum__icon')
                            .b-forum__program-txt 
                                .b-forum__program-title Тематические площадки
                                .b-forum__program-desc более 50 демонстрационных мастер-классов и лекций на разные темы от подачи до открытия бизнеса, международные соревнования по пицце, кулинарные соревнования на "CHEF STAGE" и многое другое 
                        .b-forum__program-item
                            .b-forum__program-icon 
                                +icon('forum4','b-forum__icon') 
                            .b-forum__program-txt 
                                .b-forum__program-title Экспозиция
                                .b-forum__program-desc новые вкусы, идеи и технологии - главные источники вдохновения повара
                    .b-forum__program-row.b-forum__program-row--btns.desktop-only
                        .b-forum__program-item.b-forum__program-item--btn1
                            a(href="#").b-btn Присоединяйся к лучшим!
                        .b-forum__program-item.b-forum__program-item--btn2
                            +icon('tickets','b-forum__icon')
                            a(href="#buy-ticket" data-type="buy").b-btn.js-popup Купить билет
