extends _layout

include ./mixin/partner.pug

block content
	section.b-section.b-section--inner
		.b-section__wrapper
			.b-hotel
				.b-hotel__header
					.b-hotel__logo
						+icon('logo-chef','b-hotel__logo-icon') 
					.b-hotel__title выбрать гостиницу
					a(href="/").b-section__back
						+icon('prev-page','b-section__back-icon') 
						span Вернуться

				.b-hotels__subtitle 
					span Выберите гостиницу из списка

				table.b-hotels-filter__table
					thead
						tr
							th.b-hotels-filter__table-hotel
								+icon('hotels', 'b-hotels-filter__icon')
								span гостиница
							th.b-hotels-filter__table-place
								+icon('pin', 'b-hotels-filter__icon')
								span расстояние до форума: 50 минут
							th.b-hotels-filter__table-price
								+icon('cart', 'b-hotels-filter__icon')
								span категория номера/цена
					tbody
						tr(data-href="#")
							td.b-hotels-filter__table-hotel
								p.b-hotels-filter__table-title гостиница
								p.b-hotels-filter__table-name гостиница1
							td.b-hotels-filter__table-place
								p.b-hotels-filter__table-title расстояние до форума: 50 минут
								p.b-hotels-filter__table-name г. москва, ул. завтракшефовская д.7 кор. 23
							th.b-hotels-filter__table-price
								p.b-hotels-filter__table-title категория номера/цена
								p.b-hotels-filter__table-name 
								| 3 000 р/ сутки 
								span.b-hotels-filter__table-name--red 9000 
								| р / весь период
						tr(data-href="#")
							td.b-hotels-filter__table-hotel
								p.b-hotels-filter__table-title гостиница
								p.b-hotels-filter__table-name гостиница2
							td.b-hotels-filter__table-place
								p.b-hotels-filter__table-title расстояние до форума: 50 минут
								p.b-hotels-filter__table-name г. москва, ул. завтракшефовская д.7 кор. 23
							th.b-hotels-filter__table-price
								p.b-hotels-filter__table-title категория номера/цена
								p.b-hotels-filter__table-name 
								| 3 000 р/ сутки 
								span.b-hotels-filter__table-name--red 9000 
								| р / весь период
						tr(data-href="#")
							td.b-hotels-filter__table-hotel
								p.b-hotels-filter__table-title гостиница
								p.b-hotels-filter__table-name гостиница3
							td.b-hotels-filter__table-place
								p.b-hotels-filter__table-title расстояние до форума: 50 минут
								p.b-hotels-filter__table-name г. москва, ул. завтракшефовская д.7 кор. 23
							th.b-hotels-filter__table-price
								p.b-hotels-filter__table-title категория номера/цена
								p.b-hotels-filter__table-name 
								| 3 000 р/ сутки 
								span.b-hotels-filter__table-name--red 9000 
								| р / весь период
						tr(data-href="#")
							td.b-hotels-filter__table-hotel
								p.b-hotels-filter__table-title гостиница
								p.b-hotels-filter__table-name гостиница4
							td.b-hotels-filter__table-place
								p.b-hotels-filter__table-title расстояние до форума: 50 минут
								p.b-hotels-filter__table-name г. москва, ул. завтракшефовская д.7 кор. 23
							th.b-hotels-filter__table-price
								p.b-hotels-filter__table-title категория номера/цена
								p.b-hotels-filter__table-name 
								| 3 000 р/ сутки 
								span.b-hotels-filter__table-name--red 9000 
								| р / весь период
						tr(data-href="#")
							td.b-hotels-filter__table-hotel
								p.b-hotels-filter__table-title гостиница
								p.b-hotels-filter__table-name гостиница5
							td.b-hotels-filter__table-place
								p.b-hotels-filter__table-title расстояние до форума: 50 минут
								p.b-hotels-filter__table-name г. москва, ул. завтракшефовская д.7 кор. 23
							th.b-hotels-filter__table-price
								p.b-hotels-filter__table-title категория номера/цена
								p.b-hotels-filter__table-name 
								| 3 000 р/ сутки 
								span.b-hotels-filter__table-name--red 9000 
								| р / весь период
						tr(data-href="#")
							td.b-hotels-filter__table-hotel
								p.b-hotels-filter__table-title гостиница
								p.b-hotels-filter__table-name гостиница6
							td.b-hotels-filter__table-place
								p.b-hotels-filter__table-title расстояние до форума: 50 минут
								p.b-hotels-filter__table-name г. москва, ул. завтракшефовская д.7 кор. 23
							th.b-hotels-filter__table-price
								p.b-hotels-filter__table-title категория номера/цена
								p.b-hotels-filter__table-name 
								| 3 000 р/ сутки 
								span.b-hotels-filter__table-name--red 9000 
								| р / весь период
						tr(data-href="#")
							td.b-hotels-filter__table-hotel
								p.b-hotels-filter__table-title гостиница
								p.b-hotels-filter__table-name гостиница7
							td.b-hotels-filter__table-place
								p.b-hotels-filter__table-title расстояние до форума: 50 минут
								p.b-hotels-filter__table-name г. москва, ул. завтракшефовская д.7 кор. 23
							th.b-hotels-filter__table-price
								p.b-hotels-filter__table-title категория номера/цена
								p.b-hotels-filter__table-name 
								| 3 000 р/ сутки 
								span.b-hotels-filter__table-name--red 9000 
								| р / весь период
						tr(data-href="#")
							td.b-hotels-filter__table-hotel
								p.b-hotels-filter__table-title гостиница
								p.b-hotels-filter__table-name гостиница8
							td.b-hotels-filter__table-place
								p.b-hotels-filter__table-title расстояние до форума: 50 минут
								p.b-hotels-filter__table-name г. москва, ул. завтракшефовская д.7 кор. 23
							th.b-hotels-filter__table-price
								p.b-hotels-filter__table-title категория номера/цена
								p.b-hotels-filter__table-name 
								| 3 000 р/ сутки 
								span.b-hotels-filter__table-name--red 9000 
								| р / весь период
						tr(data-href="#")
							td.b-hotels-filter__table-hotel
								p.b-hotels-filter__table-title гостиница
								p.b-hotels-filter__table-name гостиница9
							td.b-hotels-filter__table-place
								p.b-hotels-filter__table-title расстояние до форума: 50 минут
								p.b-hotels-filter__table-name г. москва, ул. завтракшефовская д.7 кор. 23
							th.b-hotels-filter__table-price
								p.b-hotels-filter__table-title категория номера/цена
								p.b-hotels-filter__table-name 
								| 3 000 р/ сутки 
								span.b-hotels-filter__table-name--red 9000 
								| р / весь период
						tr(data-href="#")
							td.b-hotels-filter__table-hotel
								p.b-hotels-filter__table-title гостиница
								p.b-hotels-filter__table-name гостиница10
							td.b-hotels-filter__table-place
								p.b-hotels-filter__table-title расстояние до форума: 50 минут
								p.b-hotels-filter__table-name г. москва, ул. завтракшефовская д.7 кор. 23
							th.b-hotels-filter__table-price
								p.b-hotels-filter__table-title категория номера/цена
								p.b-hotels-filter__table-name 
								| 3 000 р/ сутки 
								span.b-hotels-filter__table-name--red 9000 
								| р / весь период
			
			.b-hotels-detail__partner-wrap
				.b-hotels-detail__partner-title партнеры							
				.b-hotels-detail__item.b-hotels-detail__item--btns
					.b-hotels-detail__partner-logo
						+partner('./images/partners/partner1.png', false)
					.b-hotels-detail__partner-logo
						+partner('./images/partners/partner1.png', false)
					.b-hotels-detail__line присоединяйся к лучшим!

			.b-hotel__tags
				span #завтракшефа
				span #chefsbreakfast
				span #присоединяйсяклучшим