extends _layout

include ./mixin/partner.pug

block content
    section.b-section.b-section--inner
        .b-section__wrapper
            .b-hotel
                .b-hotel__header
                    .b-hotel__logo
                        +icon('logo-chef','b-hotel__logo-icon') 
                    .b-hotel__title выбрать гостиницу
                    a(href="/").b-section__back
                        +icon('prev-page','b-section__back-icon') 
                        span Вернуться

                .b-hotel__subtitle 
                    span Гостиница № 3

                .b-hotel-detail
                    .b-hotel-detail__wrapper
                        .b-hotel-detail__item
                            .b-hotel-detail__title расстояние до форума: 
                                span 50 минут
                            .b-hotel-detail__place 
                                div МЕТРО:
                                div АДРЕС:

                            .b-hotel-detail__gallery.js-lightbox
                                .b-hotel-detail__gallery-item.js-lightbox-main
                                    a(href="./images/place1.png" data-type="img").js-img-fit.js-popup.b-hotel-detail__gallery-img.b-hotel-detail__gallery-img--main
                                        img(src="./images/place1.png")

                                .b-hotel-detail__gallery-item
                                    .b-hotel-detail__gallery-img.b-hotel-detail__gallery-img--thumb.js-lightbox-thumb.js-img-fit
                                        img(src="./images/place2.png")

                                    .b-hotel-detail__partner
                                        .b-hotel-detail__partner-title партнер<br/>по размещению
                                        .b-hotel-detail__partner-logo
                                            +partner('./images/partners/partner1.png', true)

                        .b-hotel-detail__item
                            .b-hotel-detail__subtitle выберете удобную для вас карту
                            .b-hotel-detail__cards
                                a(href="#" target="_blank").b-hotel-detail__cards-item.js-img-fit
                                    img(src="./images/google-map-logo.png")
                                a(href="#" target="_blank").b-hotel-detail__cards-item.js-img-fit
                                    img(src="./images/yandex-map-logo.png")

                        .b-hotel-detail__item
                            .b-hotel-detail__subtitle описание Гостиницы
                            .b-hotel-detail__desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?

                        .b-hotel-detail__item
                            .b-hotel-detail__subtitle стоимость проживания
                            .b-hotel-detail__desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 

                        .b-hotel-detail__item
                            .b-hotel-detail__subtitle контакты менеджера
                            .b-hotel-detail__desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                
                .b-hotel__line 
                    .b-hotel__line-inner присоединяйся к лучшим!
                .b-hotel__tags
                    span #завтракшефа
                    span #chefsbreakfast
                    span #присоединяйсяклучшим     