include ./mixin/icon.pug
include ./mixin/partner.pug

include ./images/svg/sprite.svg

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=no")

        link(href="css/external.css" rel="stylesheet")
        link(href="css/internal.css" rel="stylesheet")

        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src='js/external.js')

    body
        header
            .b-header(style="display:none").is-fixed.js-header
                a(href="#").b-header__logo
                    +icon('logo-small','b-header__logo-icon') 
                a(href="/#section_0").b-header__item.b-header__item--no-border
                    +icon('home','b-header__icon') 
                a(href="#").b-header__item.b-header__item--no-border о форуме
                a(href="#buy-ticket" data-type="buy").b-header__item.b-header__item--no-border.b-header__item--ticket.js-popup
                    +icon('tickets','b-header__icon') 
                    | купить билет
                a(href="/#section_1").b-header__item.js-header-item.active площадки
                a(href="/#section_2").b-header__item.js-header-item программа
                a(href="/#section_3").b-header__item.js-header-item эксперты
                a(href="/#section_4").b-header__item.js-header-item.hide звездный гость
                a(href="/#section_5").b-header__item.js-header-item.hide партнеры
                a(href="/#section_6").b-header__item.js-header-item.hide место проведения
                a(href="/#section_7").b-header__item.js-header-item.hide гостиницы
                a(href="/#section_8").b-header__item.b-header__item--no-border.js-header-item контакты
                a(href="#").b-header__item.b-header__item--red.b-header__item--no-border.js-header-item РУС/EN
                a(href="#").b-header__item.b-header__item--no-border.b-header__item--cart.hide
                    +icon('cart','b-header__icon')
                //- отображение заполненной корзиной
                a(href="#").b-header__item.b-header__item--no-border.b-header__item--cart.hide
                    .b-header__cart-num 10
                    +icon('cart-fill','b-header__icon')

        include blocks/submenu

        main#fullpage.b-fullpage.js-main
            .js-main-section
                section.b-section.b-section--main.js-section
                    .b-main
                        .b-main__item.b-main__item--left
                            .b-logo.b-logo--top
                                .b-logo__img

                            .b-slider.js-slider.main-slider
                                .b-slider__item(style="background-image:url('./images/slide1.png')")
                                .b-slider__item(style="background-image:url('./images/slide2.png')")
                                .b-slider__item(style="background-image:url('./images/slide3.png')")

                        .b-main__item.b-main__item--right
                            .b-logo
                                +icon('logo-white','b-logo__icon') 
                                .b-logo__txt
                                    .b-logo__txt-date 5-7 июня 
                                        span.b-logo__txt-sup Москва
                                    .b-logo__txt-inner присоединяйся к лучшим
                                    .b-logo__txt-name международный форум поваров

                            .b-stat
                                .b-stat__row
                                    .b-stat__item
                                        .b-stat__num 3500
                                        .b-stat__txt шеф-поваров
                                    .b-stat__item.b-stat__item--line
                                        .b-stat__num 3
                                        .b-stat__txt дня погружения<br/>в гастрономию
                                .b-stat__row
                                    .b-stat__item.b-stat__item--line
                                        .b-stat__num 12
                                        .b-stat__txt тематических<br/>площадок
                                    .b-stat__item
                                        .b-stat__num >90
                                        .b-stat__txt экспертов
                                    .b-stat__item
                                        .b-stat__num 150
                                        .b-stat__txt мероприятий
                                        
                            .b-main__tags #завтракшефа #chefsbreakfast #присоединяйсяклучшим 

                            include blocks/menu

                            ul.b-socials.js-socials
                                li.b-socials__item
                                    a(href="https://www.facebook.com/chefsbreakfast" target="_blank").b-socials__link
                                        +icon('fb','b-socials__icon')
                                li.b-socials__item
                                    a(href="https://vk.com/chefsbreakfast" target="_blank").b-socials__link
                                        +icon('vk','b-socials__icon')
                                li.b-socials__item
                                    a(href="https://www.instagram.com/chefsbreakfast/" target="_blank").b-socials__link
                                        +icon('inst','b-socials__icon')
                                li.b-socials__item
                                    a(href="https://t.me/pirexpochannel" target="_blank").b-socials__link
                                        +icon('tlgr','b-socials__icon')
                                li.b-socials__item
                                    a(href="https://api.whatsapp.com/send?phone=79035948613" target="_blank").b-socials__link
                                        +icon('whtsup','b-socials__icon')
                                li.b-socials__item
                                    a(href="https://www.youtube.com/channel/UCeigkyTy_SvCnVLh1LKnLrQ" target="_blank").b-socials__link
                                        +icon('youtube','b-socials__icon')
                        .b-mini-scroll
                            .b-mini-scroll__img
                                +icon('mouse')
                                .b-mini-scroll__txt прокрутите экран     

                section.b-section.js-section
                    .b-section__wrapper.b-section__wrapper--title
                        .b-logo.b-logo--inner
                            +icon('logo-small','b-logo__inner b-logo__inner--light-gray') 

                        .b-areas.js-shadow
                            .b-areas__title площадки

                            .b-areas__center
                                .b-areas__subtitle Выберите интересующую вас 
                                    span площадку
                                .b-areas__wrapper
                                    a(href="#").b-areas__item
                                        +icon('area1', 'b-areas__icon')
                                        span ШЕФ TALKS. <br/> Что дальше?
                                    a(href="#").b-areas__item
                                        +icon('area2', 'b-areas__icon')
                                        span ПРАКТИКА. <br/> ГОТОВИМ ВМЕСТЕ I
                                    a(href="#").b-areas__item
                                        +icon('area3', 'b-areas__icon')
                                        span ПРАКТИКА. <br/> ГОТОВИМ ВМЕСТЕ II
                                    a(href="#").b-areas__item
                                        +icon('area4', 'b-areas__icon')
                                        span ШЕФ: <br/> продвижение
                                    a(href="#").b-areas__item
                                        +icon('area5', 'b-areas__icon')
                                        span ШЕФ: <br/> себестоимость
                                    a(href="#").b-areas__item
                                        +icon('area6', 'b-areas__icon')
                                        span ШЕФ: <br/> подача
                                    a(href="#").b-areas__item
                                        +icon('area7', 'b-areas__icon')
                                        span ШЕФ: бизнес
                                    a(href="#").b-areas__item
                                        +icon('area8', 'b-areas__icon')
                                        span Мясная <br/> академия
                                    a(href="#").b-areas__item
                                        +icon('area9', 'b-areas__icon')
                                        span Академия <br/> пиццы
                                    a(href="#").b-areas__item
                                        +icon('area10', 'b-areas__icon')
                                        span CHEF STAGE
                                    a(href="#").b-areas__item
                                        +icon('area11', 'b-areas__icon')
                                        span региональные <br/>продукты
                                    a(href="#").b-areas__item
                                        +icon('area12', 'b-areas__icon')
                                        span Экспозиция
                                
                                .b-areas__btn.b-btn.b-btn--download
                                    +icon('download')
                                    span ПЛАН ФОРУМА

                        .b-mini-scroll.b-mini-scroll--red
                            .b-mini-scroll__img
                                +icon('mouse')
                                .b-mini-scroll__txt прокрутите экран  
                                
                section.b-section.b-section--img.js-section
                    .b-section__img(style="background-image:url('./images/programs-bg.png')")
                    .b-section__wrapper.b-section__wrapper--title
                        .b-logo.b-logo--inner
                            +icon('logo-small','b-logo__inner b-logo__inner--red') 

                        .b-programs.js-shadow
                            .b-programs__header
                                .b-programs__title программа
                                .b-programs__btn-title.b-btn.b-btn--download
                                    +icon('download')
                                    span скачать всю программу
                            
                            .b-programs__center
                                .b-programs__subtitle Выберите интересующую вас 
                                    span программу
                                .b-programs__wrapper.js-select

                                    .b-select.mobile-only.js-select-object
                                        .b-select__title.js-select-head
                                                |Программа входного билета
                                        .b-select__options
                                            a(href="#program-type1").b-select__item.js-select-link.is-hidden
                                                |Программа входного билета
                                            a(href="#program-type2").b-select__item.js-select-link 
                                                |Интерактивная программа
                                            a(href="#program-type3").b-select__item.js-select-link
                                                |Вечерняя программа

                                    .b-programs__types
                                        .b-programs__type
                                            span Программа входного билета
                                        .b-programs__type
                                            span Интерактивная программа
                                        .b-programs__type
                                            span Вечерняя программа

                                    .b-programs__inner
                                        #program-type1.b-programs__tab.js-select-target.is-active
                                            .b-programs__timeline
                                                .b-programs__line
                                                .b-programs__events
                                                    .b-programs__event
                                                        .b-programs__event-top 150
                                                        .b-programs__event-txt Мероприятий  различной направленности
                                                    .b-programs__event
                                                        .b-programs__event-top 12
                                                        .b-programs__event-txt Тематических площадок
                                                    .b-programs__event
                                                        .b-programs__event-top >70
                                                        .b-programs__event-txt Экспертов
                                                    .b-programs__event
                                                        .b-programs__event-top
                                                            +icon('cake','b-programs__icon')
                                                        .b-programs__event-txt Фуд-корт
                                            .b-programs__btn
                                                +icon('tickets','b-programs__icon')
                                                .b-btn Купить билет

                                        #program-type2.b-programs__tab.js-select-target(style="display:none")
                                            .b-programs__timeline
                                                .b-programs__line
                                                .b-programs__events
                                                    .b-programs__event
                                                        .b-programs__event-top
                                                            +icon('group','b-programs__icon')
                                                        .b-programs__event-txt Интерактивные мастер-классы
                                                    .b-programs__event
                                                        .b-programs__event-top
                                                            +icon('tutorial','b-programs__icon')
                                                        .b-programs__event-txt Пошаговое создание блюда вместе с наставником
                                                    .b-programs__event
                                                        .b-programs__event-top >100
                                                        .b-programs__event-txt Рецептов для обновления меню ресторана
                                            .b-programs__btn.b-programs__btn--large
                                                +icon('mс','b-programs__icon')
                                                .b-btn выбрать<br/>мастер-классы

                                        #program-type3.b-programs__tab.js-select-target(style="display:none")
                                            .b-programs__timeline
                                                .b-programs__line
                                                .b-programs__events
                                                    .b-programs__event
                                                        .b-programs__event-top.b-programs__event-top--large 10
                                                        .b-programs__event-txt Топовых ресторанов
                                                    .b-programs__event
                                                        .b-programs__event-top.b-programs__event-top--large welcome
                                                        .b-programs__event-txt Открытая кухня и дегустации
                                            .b-programs__btn
                                                +icon('dish','b-programs__icon')
                                                .b-btn выбрать ресторан

                        .b-mini-scroll.b-mini-scroll--black
                            .b-mini-scroll__img
                                +icon('mouse')
                                .b-mini-scroll__txt прокрутите экран  

                section.b-section.js-section
                    .b-section__wrapper
                        .b-logo.b-logo--inner
                            +icon('logo-small','b-logo__inner b-logo__inner--gray') 

                        .b-expert.js-slider-experts.js-shadow
                            .b-expert__title эксперты

                            include blocks/experts/expertSlider

                            a(href="#").b-btn.b-expert__btn.b-expert__btn--all Все эксперты
                    
                        .b-mini-scroll.b-mini-scroll--red
                            .b-mini-scroll__img
                                +icon('mouse')
                                .b-mini-scroll__txt прокрутите экран  

                section.b-section.b-section--img.js-section
                    .b-section__img(style="background-image:url('./images/star-bg.png')")
                    .b-section__wrapper
                        .b-logo.b-logo--inner
                            +icon('logo-small','b-logo__inner b-logo__inner--gray') 

                        .b-star.js-shadow
                            .b-star__item
                                .b-star__img.b-star__img--desktop
                                    img(src="./images/star.png")
                                .b-star__img.b-star__img--mobile
                                    img(src="./images/star-mobile.png")
                            .b-star__item.b-star__item--text
                                .b-star__title Звездный гость
                                .b-star__name Завтра’к Шефович
                                .b-star__desc Повар — человек, профессией — специальностью которого является приготовление пищи; а также должность в разных организациях, например, старший повар, повар-кондитер и так далее.
                                    <br/><br/>
                                    |Скорее всего, слово «повар» произошло от восточнославянского «вар», означавшего кипящую воду и жар[1]. На флоте должность повара называется кок.
                                q.b-star__quote Нельзя недооценивать роль чулок в жизни. Женщине в чулках никогда не скажут: «Пельмени пересоленные!» Если женщина в чулках подает пельмени, их съедят, даже если она забыла их сварить.
                        
                        .b-mini-scroll.b-mini-scroll--black
                            .b-mini-scroll__img
                                +icon('mouse')
                                .b-mini-scroll__txt прокрутите экран  

                section.b-section.b-section--img.b-section--partners.js-section
                    .b-section__img
                    .b-section__wrapper.b-section__wrapper--title
                        .b-logo.b-logo--inner
                            +icon('logo-small','b-logo__inner b-logo__inner--light-gray') 

                        .b-partners.js-shadow
                            .b-partners__header
                                .b-partners__title.b-partners__title--main партнеры
                                .b-partners__btn-title.b-btn.b-btn--download
                                    +icon('pin')
                                    span план форума
                            .b-partners__wrapper
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)
                                +partner('./images/partners/partner1.png', false)

                        .b-mini-scroll.b-mini-scroll--gray
                            .b-mini-scroll__img
                                +icon('mouse')
                                .b-mini-scroll__txt прокрутите экран 

                section.b-section.b-section--img.b-section--partners.js-section
                    .b-section__img
                    .b-section__wrapper
                        .b-logo.b-logo--inner
                            +icon('logo-small','b-logo__inner b-logo__inner--light-gray') 

                        .b-partners.js-shadow
                            .b-partners__header
                                .b-partners__title.b-partners__title--main информационные партнеры

                            .b-partners__subtitle ГЕНЕРАЛЬНЫЕ ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ
                            .b-partners__wrapper.b-partners__wrapper--info
                                +partner('./images/partners/partner1.png', true)
                                +partner('./images/partners/partner1.png', true)
                                +partner('./images/partners/partner1.png', true)
                                +partner('./images/partners/partner1.png', true)
                                +partner('./images/partners/partner1.png', true)
                                +partner('./images/partners/partner1.png', true)

                            .b-partners__subtitle ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ
                            .b-partners__wrapper(data-type="partners").js-slider.partner-slider
                                +partner('./images/partners/partner1.png', true).b-partners__item--small
                                +partner('./images/partners/partner1.png', true).b-partners__item--small
                                +partner('./images/partners/partner1.png', true).b-partners__item--small
                                +partner('./images/partners/partner1.png', true).b-partners__item--small
                                +partner('./images/partners/partner1.png', true).b-partners__item--small
                                +partner('./images/partners/partner1.png', true).b-partners__item--small
                                +partner('./images/partners/partner1.png', true).b-partners__item--small
                                +partner('./images/partners/partner1.png', true).b-partners__item--small

                        .b-mini-scroll.b-mini-scroll--gray
                            .b-mini-scroll__img
                                +icon('mouse')
                                .b-mini-scroll__txt прокрутите экран  

                section.b-section.b-section--img.js-section
                    .b-section__img.b-section__img--mobile(style="background-image:url('./images/foodcity.png')")
                    .b-section__wrapper.b-section__wrapper--title.b-section__wrapper--title-red
                        .b-logo.b-logo--inner
                            +icon('logo-small','b-logo__inner b-logo__inner--light-gray') 

                        .b-road.js-shadow
                            .b-road__header
                                .b-road__title foodcity
                                .b-road__address МОСКВА П.СОСЕНСКОЕ, 22-Й КМ КАЛУЖСКОГО ШОССЕ, ЗДАНИЕ №10      <br/>
                                    | РЕЖИМ РАБОТЫ ОРПЦ "ФУД СИТИ": С 05:00 ДО 21:00
                            .b-road__wrapper
                                .b-road__item.js-tab
                                    .b-road__subtitle как добраться
                                    .b-road__types
                                        a(href="#car-road").b-road__type.js-tab-link.is-active
                                            +icon('car')
                                            span НА ЛИЧНОМ АВТОМОБИЛЕ
                                        a(href="#bus-road").b-road__type.js-tab-link
                                            +icon('bus')
                                            span ОБЩЕСТВЕННЫМ ТРАНСПОРТОМ
                                    #car-road.b-road__map.js-tab-target.is-active
                                        //- #map-road.b-road__map.js-map
                                        script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3126bafdf3c333f4792913996495e865d0a517b89d29a37830d190dbe9f95adc&amp;width=100%25&amp;height=580&amp;lang=ru_RU&amp;scroll=true")
                                    #bus-road.b-road__txt.js-tab-target(style="display:none")
                                        span от метро Тропарево 
                                        | 354 и 601 автобусы<br/>
                                        span от Теплого стана 
                                        | 21 троллейбус

                                .b-road__item.b-road__item--desc
                                    .b-road__desc Это один из первых агрокластеров в Москве. Мы приняли специальный закон, который определяет новые требования, чтобы не было посредников, чтобы не было того безобразия, который существовал на других овощных базах Москвы. Чтобы была цивилизованная торговля, чтобы оптовики находили своих покупателей не в центре Москвы, а вот как раз на подступах к Москве, чтобы в Москву товар завозился небольшими партиями, непосредственно в магазины и рестораны. Так что, надеюсь, что первый опыт будет удачным.
                                    .b-road__img
                                        img(src="./images/foodcity.png")
                                
                        .b-mini-scroll.b-mini-scroll--red
                            .b-mini-scroll__img
                                +icon('mouse')
                                .b-mini-scroll__txt прокрутите экран  

                section.b-section.b-section--black.js-section
                    .b-section__wrapper
                        .b-logo.b-logo--inner
                            +icon('logo-small','b-logo__inner b-logo__inner--white') 

                        .b-footer.b-footer--slide
                            .b-footer__item.b-footer__item--contacts
                                .b-footer__title Контакты:
                                .b-footer__contacts
                                    .b-footer__contact 
                                        div
                                            .b-footer__subtitle СМИ и программа продвижения
                                            a(href="mailto:e.gelya@pir.ru").b-footer__mail e.gelya@pir.ru
                                        div
                                            .b-footer__subtitle партнерство по продуктам питания
                                            a(href="mailto:food@pir.ru").b-footer__mail food@pir.ru
                                    .b-footer__contact 
                                        div
                                            .b-footer__subtitle деловая программа
                                            a(href="mailto:v.nekrasova@pir.ru").b-footer__mail v.nekrasova@pir.ru
                                        div
                                            .b-footer__subtitle партнерство по non-food
                                            a(href="mailto:sale@pir.ru").b-footer__mail sale@pir.ru
                                    .b-footer__contact 
                                        div
                                            .b-footer__subtitle общие вопросы
                                            a(href="mailto:valentina@pir.ru").b-footer__mail valentina@pir.ru

                            .b-footer__item
                                .b-footer__logo
                                    +icon('f-logo-chef')
                                    +icon('f-logo-kitchen')
                                    +icon('f-logo-pir')

                                a(href="tel:+7 (495) 637-94-40").b-footer__phone +7 (495) 637-94-40
                            
                            .b-footer__item.b-footer__socials.b-footer__item--bottom
                                .b-footer__copy © ПИР , 1997-2017. Все права защищены.
                                ul.b-socials
                                    li.b-socials__item
                                        a(href="https://www.facebook.com/chefsbreakfast" target="_blank").b-socials__link
                                            +icon('fb','b-socials__icon')
                                    li.b-socials__item
                                        a(href="https://vk.com/chefsbreakfast" target="_blank").b-socials__link
                                            +icon('vk','b-socials__icon')
                                    li.b-socials__item
                                        a(href="https://www.instagram.com/chefsbreakfast/" target="_blank").b-socials__link
                                            +icon('inst','b-socials__icon')
                                    li.b-socials__item
                                        a(href="https://t.me/pirexpochannel" target="_blank").b-socials__link
                                            +icon('tlgr','b-socials__icon')
                                    li.b-socials__item
                                        a(href="https://api.whatsapp.com/send?phone=79035948613" target="_blank").b-socials__link
                                            +icon('whtsup','b-socials__icon')
                                    li.b-socials__item
                                        a(href="https://www.youtube.com/channel/UCeigkyTy_SvCnVLh1LKnLrQ" target="_blank").b-socials__link
                                            +icon('youtube','b-socials__icon')
                
        aside.b-scroll.js-scroll
            ul#js-menu.b-scroll__menu
                li(data-menuanchor="section_0").b-scroll__item.active.is-first
                    a(href="#section_0")
                        .b-scroll__num.b-scroll__num--white 01
                        .b-scroll__circle
                            span.b-scroll__name.js-page-name завтра’к шефа
                li(data-menuanchor="section_1").b-scroll__item
                    a(href="#section_1")
                        .b-scroll__num 02
                        .b-scroll__circle
                            span.b-scroll__name.js-page-name Площадки
                li(data-menuanchor="section_2").b-scroll__item
                    a(href="#section_2")
                        .b-scroll__num 03
                        .b-scroll__circle
                            span.b-scroll__name.js-page-name Программа
                li(data-menuanchor="section_3").b-scroll__item
                    a(href="#section_3")
                        .b-scroll__num 04
                        .b-scroll__circle
                            span.b-scroll__name.js-page-name Эксперты
                li(data-menuanchor="section_4").b-scroll__item
                    a(href="#section_4")
                        .b-scroll__num 05
                        .b-scroll__circle
                            span.b-scroll__name.js-page-name Звездный гость
                li(data-menuanchor="section_5").b-scroll__item
                    a(href="#section_5")
                        .b-scroll__num 06
                        .b-scroll__circle
                            span.b-scroll__name.js-page-name Партнеры
                li(data-menuanchor="section_6").b-scroll__item
                    a(href="#section_6")
                        .b-scroll__num 07
                        .b-scroll__circle
                            span.b-scroll__name.js-page-name Партнеры
                li(data-menuanchor="section_7").b-scroll__item
                    a(href="#section_7")
                        .b-scroll__num 08
                        .b-scroll__circle
                            span.b-scroll__name.js-page-name Место проведения
                li(data-menuanchor="section_8").b-scroll__item
                    a(href="#section_8")
                        .b-scroll__num 09
                        .b-scroll__circle
                            span.b-scroll__name.js-page-name Контакты
            .b-scroll__page.js-menu-page.is-first завтра’к шефа

        footer
            include blocks/popups

            script(src="./js/internal.js")