extends _layout
block content
    section.b-section.b-section--inner
        .b-section__wrapper
            .b-section__logo
            .b-section__title Страницы
            ul
                li
                    a(href='/') Лендинг
                li
                    a(href='/area.html') Площадка
                li
                    a(href='/area404.html') Площадка в разработке
                li
                    a(href='/expert.html') Эксперт
                li
                    a(href='/experts.html') Все эксперты
                li
                    a(href='/forum.html') Форум
                li
                    a(href='/tour.html') Тур
                li
                    a(href='/tourAllCity.html') Тур - Все города
                li
                    a(href='/tourInner.html') Тур - ФО - Состоялся
                li
                    a(href='/tourInnerNext.html') Тур - ФО - Будет
                li
                    a(href='/programs.html') Страница программы
                li
                    a(href='/hotel_inner.html') Гостиница детальная
                li
                    a(href='/hotels.html') Выбрать гостиницу
