extends _layout

include ./mixin/expert-tooltip.pug

block content
    section.b-section.b-section--inner
        .b-section__wrapper
            .b-logo.b-logo--inner
                +icon('logo-small','b-logo__inner b-logo__inner--light-gray') 
            .b-section__title.b-section__title--large ПРОГРАММА МЕРОПРИЯТИЙ ФОРУМА
                a(href="/").b-section__back
                    +icon('prev-page','b-section__back-icon') 
                    span Вернуться

            .b-program-filter.js-program-filter
                .b-program-filter__title.clearfix 5 по 7 июня 
                    span 2018
                .b-program-filter__filter
                    .b-program-filter__filter-item
                        .b-program-filter__filter-title Дата
                        ul.b-program-filter__filter-list.js-program-date
                            li
                                a(href="#" data-url="/url" data-date="all").is-active.is-all.js-change-filter все дни
                            li
                                a(href="#").b-program-filter__programs.js-open-tooltip выбрать
                                .b-program-filter__tooltip.b-program-filter__tooltip--date(style="display:none").js-programs-tooltip
                                    .b-program-filter__tooltip-item
                                        a(href="#" data-url="/url" data-date="5.06" data-name="5 июня").b-program-filter__tooltip-link.js-change-filter 5 июня
                                    .b-program-filter__tooltip-item
                                        a(href="#" data-url="/url" data-date="6.06" data-name="6 июня").b-program-filter__tooltip-link.js-change-filter 6 июня
                                    .b-program-filter__tooltip-item
                                        a(href="#" data-url="/url" data-date="7.06" data-name="7 июня").b-program-filter__tooltip-link.js-change-filter 7 июня
                    .b-program-filter__filter-item
                        .b-program-filter__filter-title Площадки
                        ul.b-program-filter__filter-list
                            li
                                a(href="#" data-url="/url" data-name="all").is-active.is-all.js-change-filter все
                            li
                                a(href="#").b-program-filter__programs.js-open-tooltip выбрать
                                .b-program-filter__tooltip(style="display:none").js-programs-tooltip
                                    .b-program-filter__tooltip-item
                                        span.b-program-filter__tooltip-name ШЕФ TALKS. Что дальше?
                                        .b-program-filter__tooltip-link.js-change-filter(data-url="/url" data-program_id="1" data-name="ШЕФ TALKS. Что дальше?") выбрать
                                    .b-program-filter__tooltip-item
                                        span.b-program-filter__tooltip-name ПРАКТИКА. ГОТОВИМ ВМЕСТЕ I
                                        .b-program-filter__tooltip-link.js-change-filter(data-url="/url" data-program_id="2" data-name="ПРАКТИКА. ГОТОВИМ ВМЕСТЕ I") выбрать
                                    .b-program-filter__tooltip-item
                                        span.b-program-filter__tooltip-name ПРАКТИКА. ГОТОВИМ ВМЕСТЕ II
                                        .b-program-filter__tooltip-link.js-change-filter(data-url="/url" data-program_id="3" data-name="ПРАКТИКА. ГОТОВИМ ВМЕСТЕ II") выбрать
                                    .b-program-filter__tooltip-item
                                        span.b-program-filter__tooltip-name ШЕФ: себестоимость
                                        .b-program-filter__tooltip-link.js-change-filter(data-url="/url" data-program_id="4" data-name="ШЕФ: себестоимость") выбрать
                                    .b-program-filter__tooltip-item
                                        span.b-program-filter__tooltip-name ШЕФ: продвижение
                                        .b-program-filter__tooltip-link.js-change-filter(data-url="/url" data-program_id="5" data-name="ШЕФ: продвижение") выбрать
                                    .b-program-filter__tooltip-item
                                        span.b-program-filter__tooltip-name ШЕФ: подача
                                        .b-program-filter__tooltip-link.js-change-filter(data-url="/url" data-program_id="6" data-name="ШЕФ: подача") выбрать
                                    .b-program-filter__tooltip-item
                                        span.b-program-filter__tooltip-name CHEF STAGE
                                        .b-program-filter__tooltip-link.js-change-filter(data-url="/url" data-program_id="7" data-name="CHEF STAGE") выбрать
                                    .b-program-filter__tooltip-item
                                        span.b-program-filter__tooltip-name  ШЕФ: бизнес
                                        .b-program-filter__tooltip-link.js-change-filter(data-url="/url" data-program_id="8" data-name="ШЕФ: бизнес") выбрать
                                    .b-program-filter__tooltip-item
                                        span.b-program-filter__tooltip-name  Мясная академия
                                        .b-program-filter__tooltip-link.js-change-filter(data-url="/url" data-program_id="9" data-name="Мясная академия") выбрать
                                    .b-program-filter__tooltip-item
                                        span.b-program-filter__tooltip-name  Академия пиццы
                                        .b-program-filter__tooltip-link.js-change-filter(data-url="/url" data-program_id="10" data-name="Академия пиццы") выбрать
                                    .b-program-filter__tooltip-item
                                        span.b-program-filter__tooltip-name  региональные продукты 
                                        .b-program-filter__tooltip-link.js-change-filter(data-url="/url" data-program_id="11" data-name="региональные продукты") выбрать
                                    .b-program-filter__tooltip-item
                                        span.b-program-filter__tooltip-name  Экспозиция
                                        .b-program-filter__tooltip-link.js-change-filter(data-url="/url" data-program_id="12" data-name="Экспозиция") выбрать
                    .b-program-filter__filter-item.b-program-filter__filter-item--program
                        .b-program-filter__filter-title Программа
                        ul.b-program-filter__filter-list.js-program-date
                            li
                                a(href="#" data-url="/url" data-program="program1").js-change-filter Входного билета
                            li
                                a(href="#" data-url="/url" data-program="program2").js-change-filter Интерактивная
                            li
                                a(href="#" data-url="/url" data-program="program3").js-change-filter Вечерняя
                table.b-program-filter__table
                    thead
                        tr
                            th.b-program-filter__table-time
                                +icon('time', 'b-program-filter__icon')
                                span дата и время
                            th.b-program-filter__table-theme
                                +icon('folders', 'b-program-filter__icon')
                                span тема
                            th.b-program-filter__table-expert
                                +icon('profi', 'b-program-filter__icon')
                                span эксперт
                            th.b-program-filter__table-place
                                +icon('pin', 'b-program-filter__icon')
                                span площадка
                            th.b-program-filter__table-price
                                +icon('tickets', 'b-program-filter__icon')
                                span входит в билет
                    tbody.js-program-filter-table
                        tr
                            td.b-program-filter__table-time
                                p.b-program-filter__table-title дата и время
                                p.b-program-filter__table-date 05.06.18
                                p 10:30 - 10:45
                            td.b-program-filter__table-theme
                                p.b-program-filter__table-title тема
                                p
                                    a(href="#" target="_blank") От шеф-повара до бизнесмена 
                            td.b-program-filter__table-expert
                                p.b-program-filter__table-title эксперт
                                div
                                    a(href="/expert.html" target="_blank").b-program-filter__link Ламберти, 
                                        +expert-tooltip()
                                    a(href="/expert.html" target="_blank").b-program-filter__link Зотов,
                                        +expert-tooltip()
                                    a(href="/expert.html" target="_blank").b-program-filter__link Блинов
                                        +expert-tooltip()
                            td.b-program-filter__table-place
                                p.b-program-filter__table-title площадка
                                p
                                    a(href="/area.html" target="_blank") площадка 1
                            td.b-program-filter__table-price
                                input(type="checkbox" id="item1" checked="true").hide
                                label(for="item1").is-disabled.js-in-cart
                                    div
                                        span.js-in-cart-txt входит
                                        div 
                                            span 0 
                                            | руб
                        tr
                            td.b-program-filter__table-time
                                p.b-program-filter__table-title время
                                p.b-program-filter__table-date 06.06.18
                                p 11:00 - 12:00
                            td.b-program-filter__table-theme
                                p.b-program-filter__table-title тема
                                p
                                    a(href="#" target="_blank") Традиции старейшего ресторана- что хочет турист и постоянный гость 
                            td.b-program-filter__table-expert
                                p.b-program-filter__table-title эксперт
                                div
                                    a(href="/expert.html" target="_blank").b-program-filter__link Махов
                                        +expert-tooltip()
                            td.b-program-filter__table-place
                                p.b-program-filter__table-title площадка
                                p 
                                    a(href="/area.html" target="_blank") площадка 2
                            td.b-program-filter__table-price
                                input(type="checkbox" id="item2").hide
                                label(for="item2").js-in-cart
                                    div
                                        span.js-in-cart-txt в корзину
                                        div
                                            span 2000 
                                            | руб
                        tr
                            td.b-program-filter__table-time
                                p.b-program-filter__table-title время
                                p.b-program-filter__table-date 07.06.18
                                p 12:30 - 13:30
                            td.b-program-filter__table-theme
                                p.b-program-filter__table-title тема
                                p
                                    a(href="#" target="_blank") Мартыненко ( что-то с ресторанами и бизнес-ланчами)
                            td.b-program-filter__table-expert
                                p.b-program-filter__table-title эксперт
                                div
                                    a(href="/expert.html" target="_blank").b-program-filter__link Мартыненко
                                        +expert-tooltip()
                            td.b-program-filter__table-place
                                p.b-program-filter__table-title площадка
                                p
                                    a(href="/area.html" target="_blank") площадка 1
                            td.b-program-filter__table-price
                                input(type="checkbox" id="item3" checked="true").hide
                                label(for="item3").is-disabled.js-in-cart
                                    div
                                        span.js-in-cart-txt входит
                                        div 
                                            span 0 
                                            | руб

                        tr
                            td.b-program-filter__table-time
                                p.b-program-filter__table-title время
                                p.b-program-filter__table-date 06.06.18
                                p 14:00 - 15:00
                            td.b-program-filter__table-theme
                                p.b-program-filter__table-title тема
                                p
                                    a(href="#" target="_blank") Новая российская гастрономия - как придумать что-то новое
                            td.b-program-filter__table-expert
                                p.b-program-filter__table-title эксперт
                                div
                                    a(href="/expert.html" target="_blank").b-program-filter__link Березуцкие
                                        +expert-tooltip() 
                            td.b-program-filter__table-place
                                p.b-program-filter__table-title площадка
                                p
                                    a(href="/area.html" target="_blank") площадка 2
                            td.b-program-filter__table-price
                                input(type="checkbox" id="item4" checked="true").hide
                                label(for="item4").is-disabled.js-in-cart
                                    div
                                        span.js-in-cart-txt входит
                                        div 
                                            span 0 
                                            | руб

                        tr
                            td.b-program-filter__table-time
                                p.b-program-filter__table-title время
                                p.b-program-filter__table-date 05.06.18
                                p 15:30 - 16:30
                            td.b-program-filter__table-theme
                                p.b-program-filter__table-title тема
                                p
                                    a(href="#" target="_blank") Мартыненко ( что-то с ресторанами и бизнес-ланчами)
                            td.b-program-filter__table-expert
                                p.b-program-filter__table-title эксперт
                                div
                                    a(href="/expert.html" target="_blank").b-program-filter__link Мартыненко
                                        +expert-tooltip() 
                            td.b-program-filter__table-place
                                p.b-program-filter__table-title площадка
                                p
                                    a(href="/area.html" target="_blank") площадка 1
                            td.b-program-filter__table-price
                                input(type="checkbox" id="item5" checked="true").hide
                                label(for="item5").is-disabled.js-in-cart
                                    div
                                        span.js-in-cart-txt входит
                                        div 
                                            span 0 
                                            | руб

                        tr
                            td.b-program-filter__table-time
                                p.b-program-filter__table-title время
                                p.b-program-filter__table-date 06.06.18
                                p 17:00 - 18:00
                            td.b-program-filter__table-theme
                                p.b-program-filter__table-title тема
                                p
                                    a(href="#" target="_blank") Мартыненко ( что-то с ресторанами и бизнес-ланчами)
                            td.b-program-filter__table-expert
                                p.b-program-filter__table-title эксперт
                                div
                                    a(href="/expert.html" target="_blank").b-program-filter__link Мартыненко
                                        +expert-tooltip() 
                            td.b-program-filter__table-place
                                p.b-program-filter__table-title площадка
                                p
                                    a(href="/area.html" target="_blank") площадка 
                            td.b-program-filter__table-price
                                input(type="checkbox" id="item6" checked="true").hide
                                label(for="item6").is-disabled.js-in-cart
                                    div
                                        span.js-in-cart-txt входит
                                        div 
                                            span 0 
                                            | руб
                                    
                .b-program-filter__btns
                    a(href="#" target="_blank").b-program-filter__btn.b-btn.b-btn--download
                        +icon('download')
                        span скачать всю программу

                    a(href="#" target="_blank").b-program-filter__btn.b-btn.b-btn--download
                        +icon('tickets')
                        span купить билет

