extends _layout

include ./mixin/tour-region.pug

block content
    section.b-section.b-section--inner
        .b-section__wrapper
            .b-tour
                .b-tour__header
                    .b-tour__logo
                        +icon('logo-chef','b-tour__logo-icon') 
                    .b-tour__title Региональный тур 
                        b 2018
                    a(href="/").b-section__back
                        +icon('prev-page','b-section__back-icon') 
                        span Вернуться

                .b-tour__subtitle 
                    span все города тура “Завтра’к шефа” 
                .b-city-timeline
                    .b-city-timeline__wrapper
                        .b-city-timeline__group
                            +tour-region('Тула ', '6 февраля', false)

                        .b-city-timeline__group
                            +tour-region('Орел ', '7 февраля', false)

                        .b-city-timeline__group
                            +tour-region('Белгород ', '8 февраля', false)
                            +tour-region('Минск ', '27 февраля', false)
                            +tour-region('Калининград ', '28 февраля', false)                            

                        .b-city-timeline__group
                            +tour-region('Екатеринбург ', '13 марта', true, true)  
                            +tour-region('Омск ', '15 марта', true)
                            +tour-region('Новосибирск ', '26 марта', true)

                        .b-city-timeline__group
                            +tour-region('Нижний Новгород ', '3 апреля', true)
                            +tour-region('Казань ', '4 апреля', true)
                            +tour-region('Саратов ', '5 апреля', true)
                            +tour-region('Севастополь ', '17 апреля', true)
                            +tour-region('Ереван ', '23 апреля', true)
                            +tour-region('Кишинев ', '25 апреля', true)

                        .b-city-timeline__group
                            +tour-region('Воронеж ', '13 мая', true)
                            +tour-region('Алма-Ата ', '14 мая', true)
                            +tour-region('Краснодар  ', '15 мая', true)
                            +tour-region('Ставрополь  ', '16 мая', true)
                            +tour-region('Санкт-Петербург  ', '18 мая', true)

                    .b-city-timeline__img
                    .b-city-timeline__line присоединяйся к лучшим!

                .b-tour__tags
                    span #завтракшефа
                    span #chefsbreakfast
                    span #присоединяйсяклучшим     