extends _layout

include ./mixin/partner.pug

block content
    section.b-section.b-section--inner
        .b-section__wrapper
            .b-tour
                .b-tour__header
                    .b-tour__logo
                        +icon('logo-chef','b-tour__logo-icon') 
                    .b-tour__title Региональный тур 
                        b 2018
                    a(href="/").b-section__back
                        +icon('prev-page','b-section__back-icon') 
                        span Вернуться

                .b-tour__subtitle 
                    span Бизнес-завтрак в центральном федеральном округе

                    
                .b-tour-detail.js-tab
                    .b-tour-detail__header
                        a(href="#tour1").b-tour-detail__link.js-tab-link
                            | Тула <br/>
                            | 6 февраля
                        a(href="#tour2").b-tour-detail__link.js-tab-link.is-active
                            | Орел <br/>
                            | 7 февраля
                        a(href="#tour3").b-tour-detail__link.js-tab-link
                            | Белгород <br/>
                            | 8 февраля
                        a(href="#tour4").b-tour-detail__link.js-tab-link
                            | Воронеж <br/>
                            | 14 февраля

                    #tour1.b-tour-detail__wrapper.js-tab-target
                    #tour3.b-tour-detail__wrapper.js-tab-target
                    #tour4.b-tour-detail__wrapper.js-tab-target

                    #tour2.b-tour-detail__wrapper.js-tab-target.is-active
                        .b-tour-detail__item
                            .b-tour-detail__item-header
                                .b-tour-detail__region
                                    .b-tour-detail__photo(style="background-image:url('./images/chef.png')")
                                    +icon('fo6','b-tour-detail__icon') 

                                div
                                    .b-tour-detail__title Завтрак шефа | 
                                        span региональный тур 2018 | ОРЕЛ
                                    .b-tour-detail__place 
                                        b Ресторан Лабиринт 
                                        span ул. Пушкина, 6

                            .b-tour-detail__gallery.js-lightbox
                                .b-tour-detail__gallery-item.js-lightbox-main
                                    a(href="./images/place1.png" data-type="img").js-img-fit.js-popup.b-tour-detail__gallery-img.b-tour-detail__gallery-img--main
                                        img(src="./images/place1.png")

                                .b-tour-detail__gallery-item
                                    .b-tour-detail__gallery-img.b-tour-detail__gallery-img--thumb.js-lightbox-thumb.js-img-fit
                                        img(src="./images/place2.png")

                                    .b-tour-detail__gallery-img.b-tour-detail__gallery-img--thumb.js-lightbox-thumb.js-img-fit
                                        img(src="./images/place3.png")

                                    .b-tour-detail__socials
                                        .b-tour-detail__socials-title поделиться с друзьями
                                        a(href="#" target="_blank").b-tour-detail__socials-link
                                            +icon('fb','b-tour-detail__icon') 
                                        a(href="#" target="_blank").b-tour-detail__socials-link
                                            +icon('vk','b-tour-detail__icon') 

                        .b-tour-detail__item
                            .b-tour-detail__subtitle описание бизнес-завтрака
                            .b-tour-detail__desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?

                        .b-tour-detail__item
                            .b-tour-detail__subtitle гастролаболатория
                            .b-tour-detail__desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?

                        .b-tour-detail__item.b-tour-detail__item--parnters
                            .b-tour-detail__subtitle партнеры
                            .b-tour-detail__partners.b-partners.b-partners--tour
                                +partner('./images/partners/partner1.png', true)
                                +partner('./images/partners/partner1.png', true)
                                +partner('./images/partners/partner1.png', true)
                                +partner('./images/partners/partner1.png', true)
                                +partner('./images/partners/partner1.png', true)
                                +partner('./images/partners/partner1.png', true)

                        .b-tour-detail__item.b-tour-detail__item--btns
                            .b-tour-detail__btn
                                a(href="#become_tour" data-type="form").b-btn.js-popup принять участие <br/ > в бизнес-завтраке
                            .b-tour-detail__line присоединяйся к лучшим!

                .b-tour__tags.b-tour__tags--inner
                    span #завтракшефа
                    span #chefsbreakfast
                    span #присоединяйсяклучшим     