mixin area-tooltip()
    .b-area__tooltip
        .b-area__tooltip-wrapper
            .b-area__tooltip-inner
                .b-area__tooltip-img
                    img(src="./images/experts/expert-mobile.png")
                .b-area__tooltip-txt
                    .b-area__tooltip-title Завтрак шефович
                    .b-area__tooltip-desc Повар — человек, профессией — специальностью которого является приготовление пищи; а также должность в разных организациях, например, старший повар, повар-кондитер и так далее. 
                        <br/><br/>
                        | Скорее всего, слово «повар» произошло от восточнославянского «вар», означавшего кипящую воду и жар[1]. На флоте должность повара называется кок.