mixin expert-tooltip()
    .b-expert-tooltip
        .b-expert-tooltip__wrapper
            .b-expert-tooltip__inner
                .b-expert-tooltip__img
                    img(src="./images/experts/expert-mobile.png")
                .b-expert-tooltip__txt
                    .b-expert-tooltip__title Завтрак шефович
                    .b-expert-tooltip__desc Повар — человек, профессией — специальностью которого является приготовление пищи; а также должность в разных организациях, например, старший повар, повар-кондитер и так далее. 
                        <br/><br/>
                        | Скорее всего, слово «повар» произошло от восточнославянского «вар», означавшего кипящую воду и жар[1]. На флоте должность повара называется кок.