mixin partner(src, isParticipant)
	- modify = modify || ''
	
	if !isParticipant
		.b-partners__item.js-tooltip(class!=attributes.class)
			a(href="#").b-partners__logo.js-tooltip-link
				img(src=src)
			.b-partners__txt статус партнера
			.b-partners__tooltip.js-tooltip-body
				.b-partners__tooltip-header
					.b-partners__name МАРР РУССИЯ
					.b-partners__close.js-tooltip-close
						+icon('close')
				.b-partners__desc Более 16 лет компания МАРР РУССИЯ является одним из лидеров в поставках
					| продуктов для рынка общественного питания. Сегодня МАРР не просто дистрибьютор, но
					| и крупнейший производитель, и поставщик мясных полуфабрикатов для ресторанов.
				.b-partners__tooltip-footer
					.b-btn.b-btn--small место на выставке
					.b-btn.b-btn--small подробнее
	else
		.b-partners__item(class!=attributes.class)
			a(href="#").b-partners__logo
				img(src=src)
