mixin tour-region(city, date, isNext, isClosest)
	- modify = modify || ''
	
	if isNext
		.b-city-timeline__item.js-dropdown.is-next(class=isClosest ? "is-closest" : "")
			.b-city-timeline__link #{city} 
				span #{date}
			.b-city-timeline__info.js-dropdown-body
				.b-city-timeline__info-icon
					+icon('map','b-city-timeline__icon')
				.b-city-timeline__info-btn
					a(href="#become_tour" data-type="form").b-btn.js-popup принять участие в бизнес-завтраке
				.b-city-timeline__info-btn
					a(href="#").b-btn подробнее
	else
		.b-city-timeline__item.js-dropdown.is-prev
			.b-city-timeline__link #{city}
				span #{date}
			.b-city-timeline__info.js-dropdown-body
				.b-city-timeline__info-title Бизнес-завтрак уже состоялся
				.b-city-timeline__info-btn
					a(href="#").b-btn Как это было